<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>选中活动/编辑活动</title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body>
		<div class="w">

			<div class="navbar-fixed-top">
				<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;">
					<div class="navbar-header">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-sure" href="#"><i class="fa fa-search"></i> </a>
						<form role="search" class="navbar-form-custom" method="post" action="search_results.html">
							<div class="form-group">
								<input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search">
							</div>
						</form>
					</div>
					<div class="pull-right clearfix m-t-sm m-r">
						<button class="btn btn-fx btn-danger pull-right m-l closeLayer">返回</button>
						<button class="btn btn-fx btn-sure pull-right saveAdd">保存</button>
					</div>
				</nav>
			</div>
			<div style="margin-top: 55px;">
				<div class="row">
					<form>
						<div class="col-sm-3">
							<div class="ibox">
								<div class="ibox-title">
									<h5>区块标题</h5>
									<div class="ibox-tools" style="position: absolute;left: 50%;">
										<div class="checkbox m-n">
									    <label>
									    	选定
									      <input type="checkbox" />
									    </label>
									  </div>
	                </div>
								  <div class="col-sm-4 sort">
								  	<input type="text" name="" placeholder="排序" class="form-control" />
								  </div>
								</div>
								<div class="ibox-content">
									<div class="team-members">
										<a href="#"><img alt="区块预览" class="img-preview-sm" src="../../upload/open-no.png"></a>
									</div>
									<h4>区块介绍：</h4>
									<p>活动内容：区块显示</p>
									<div class="row m-t-sm">
										<div class="col-sm-4">
											<div class="font-bold">作者</div>
											王小二
										</div>
										<div class="col-sm-4">
											<div class="font-bold">创建时间</div>
											2018-03-30 15:37:47
										</div>
										<div class="col-sm-4 text-right">
											<div class="font-bold">类型</div>
											交互
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="ibox">
								<div class="ibox-title">
									<h5>区块标题</h5>
									<div class="ibox-tools" style="position: absolute;left: 50%;">
										<div class="checkbox m-n">
									    <label>
									    	选定
									      <input type="checkbox" />
									    </label>
									  </div>
	                </div>
								  <div class="col-sm-4 sort">
								  	<input type="text" name="" placeholder="排序" class="form-control" />
								  </div>
								</div>
								<div class="ibox-content">
									<div class="team-members">
										<a href="#"><img alt="区块预览" class="img-preview-sm" src="../../upload/open-no.png"></a>
									</div>
									<h4>区块介绍：</h4>
									<p>活动内容：区块显示</p>
									<div class="row m-t-sm">
										<div class="col-sm-4">
											<div class="font-bold">作者</div>
											王小二
										</div>
										<div class="col-sm-4">
											<div class="font-bold">创建时间</div>
											2018-03-30 15:37:47
										</div>
										<div class="col-sm-4 text-right">
											<div class="font-bold">类型</div>
											交互
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="ibox">
								<div class="ibox-title">
									<h5>区块标题</h5>
									<div class="ibox-tools" style="position: absolute;left: 50%;">
										<div class="checkbox m-n">
									    <label>
									    	选定
									      <input type="checkbox" />
									    </label>
									  </div>
	                </div>
								  <div class="col-sm-4 sort">
								  	<input type="text" name="" placeholder="排序" class="form-control" />
								  </div>
								</div>
								<div class="ibox-content">
									<div class="team-members">
										<a href="#"><img alt="区块预览" class="img-preview-sm" src="../../upload/open-no.png"></a>
									</div>
									<h4>区块介绍：</h4>
									<p>活动内容：区块显示</p>
									<div class="row m-t-sm">
										<div class="col-sm-4">
											<div class="font-bold">作者</div>
											王小二
										</div>
										<div class="col-sm-4">
											<div class="font-bold">创建时间</div>
											2018-03-30 15:37:47
										</div>
										<div class="col-sm-4 text-right">
											<div class="font-bold">类型</div>
											交互
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="ibox">
								<div class="ibox-title">
									<h5>区块标题</h5>
									<div class="ibox-tools" style="position: absolute;left: 50%;">
										<div class="checkbox m-n">
									    <label>
									    	选定
									      <input type="checkbox" checked="checked" />
									    </label>
									  </div>
	                </div>
								  <div class="col-sm-4 sort">
								  	<input type="text" name="" placeholder="排序" class="form-control" />
								  </div>
								</div>
								<div class="ibox-content">
									<div class="team-members">
										<a href="#"><img alt="区块预览" class="img-preview-sm" src="../../upload/open-no.png"></a>
									</div>
									<h4>区块介绍：</h4>
									<p>活动内容：区块显示</p>
									<div class="row m-t-sm">
										<div class="col-sm-4">
											<div class="font-bold">作者</div>
											王小二
										</div>
										<div class="col-sm-4">
											<div class="font-bold">创建时间</div>
											2018-03-30 15:37:47
										</div>
										<div class="col-sm-4 text-right">
											<div class="font-bold">类型</div>
											交互
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="ibox">
								<div class="ibox-title">
									<h5>区块标题</h5>
									<div class="ibox-tools" style="position: absolute;left: 50%;">
										<div class="checkbox m-n">
									    <label>
									    	选定
									      <input type="checkbox" checked="checked" />
									    </label>
									  </div>
	                </div>
								  <div class="col-sm-4 sort">
								  	<input type="text" name="" placeholder="排序" class="form-control" />
								  </div>
								</div>
								<div class="ibox-content">
									<div class="team-members">
										<a href="#"><img alt="区块预览" class="img-preview-sm" src="../../upload/open-no.png"></a>
									</div>
									<h4>区块介绍：</h4>
									<p>活动内容：区块显示</p>
									<div class="row m-t-sm">
										<div class="col-sm-4">
											<div class="font-bold">作者</div>
											王小二
										</div>
										<div class="col-sm-4">
											<div class="font-bold">创建时间</div>
											2018-03-30 15:37:47
										</div>
										<div class="col-sm-4 text-right">
											<div class="font-bold">类型</div>
											交互
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="ibox">
								<div class="ibox-title">
									<h5>区块标题</h5>
									<div class="ibox-tools" style="position: absolute;left: 50%;">
										<div class="checkbox m-n">
									    <label>
									    	选定
									      <input type="checkbox" />
									    </label>
									  </div>
	                </div>
								  <div class="col-sm-4 sort">
								  	<input type="text" name="" placeholder="排序" class="form-control" />
								  </div>
								</div>
								<div class="ibox-content">
									<div class="team-members">
										<a href="#"><img alt="区块预览" class="img-preview-sm" src="../../upload/open-no.png"></a>
									</div>
									<h4>区块介绍：</h4>
									<p>活动内容：区块显示</p>
									<div class="row m-t-sm">
										<div class="col-sm-4">
											<div class="font-bold">作者</div>
											王小二
										</div>
										<div class="col-sm-4">
											<div class="font-bold">创建时间</div>
											2018-03-30 15:37:47
										</div>
										<div class="col-sm-4 text-right">
											<div class="font-bold">类型</div>
											交互
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="ibox">
								<div class="ibox-title">
									<h5>区块标题</h5>
									<div class="ibox-tools" style="position: absolute;left: 50%;">
										<div class="checkbox m-n">
									    <label>
									    	选定
									      <input type="checkbox" />
									    </label>
									  </div>
	                </div>
								  <div class="col-sm-4 sort">
								  	<input type="text" name="" placeholder="排序" class="form-control" />
								  </div>
								</div>
								<div class="ibox-content">
									<div class="team-members">
										<a href="#"><img alt="区块预览" class="img-preview-sm" src="../../upload/open-no.png"></a>
									</div>
									<h4>区块介绍：</h4>
									<p>活动内容：区块显示</p>
									<div class="row m-t-sm">
										<div class="col-sm-4">
											<div class="font-bold">作者</div>
											王小二
										</div>
										<div class="col-sm-4">
											<div class="font-bold">创建时间</div>
											2018-03-30 15:37:47
										</div>
										<div class="col-sm-4 text-right">
											<div class="font-bold">类型</div>
											交互
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>

		</div>

		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				$('.closeLayer').on('click',function(){
					var index = parent.layer.getFrameIndex(window.name) //先得到当前iframe层的索引
					parent.layer.close(index) //执行关闭
				})
				$('.saveAdd').on('click', function() {
					layer.msg('保存成功',{
						time: 1000
					},function(){
						var index = parent.layer.getFrameIndex(window.name) //先得到当前iframe层的索引
						parent.layer.close(index) //执行关闭						
					})
				})
			})
		</script>
	</body>

</html>