<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<title>Document</title>
	</head>

	<body style="overflow: scroll;">
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">活动填充</span></div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="ibox">
						<div class="ibox-content no-borders">
							<div class="activityContent" style="display: none;">
								<h3>活动标题</h3><br>
								<p>创建人：王小二</p>
								<p>创建时间：2018-05-01</p>
								<p>备注：备注备注备注备注备注备注备注备注备注备注备注备注</p>
							</div>
							<button class="btn btn-sure btn-fx addActivity"><i class="fa fa-plus"></i> 设置填充活动</button>
							<div class="hr-line-dashed"></div>
							<div class="input-group">
								<select class="inputFxheight pull-left mr-r5 m-b-xs">
									<option>--区块类型--</option>
									<option>类型1</option>
									<option>类型2</option>
									<option>类型3</option>
								</select>
								<input type="text" class="inputFxheight pull-left mr-r5 m-b-xs" placeholder="请输入关键字" />
								<button class="btn btn-fx btn-sure pull-left mr-r5"><i class="fa fa-fw fa-search"></i>搜索</button>
							</div>
							<div class="clients-list">
								<div class="tab-content">
									<div class="tab-pane active" style="overflow-y: auto;min-height: 600px;">
										<table class="table-default table table-striped table-hover">
											<colgroup>
												<col width="15%">
												<col width="15%">
												<col width="40%">
												<col width="15%">
												<col width="15%">
											</colgroup>
											<tbody class="text-center">
												<tr>
													<td class="client-avatar"><i class="fa fa-cube"></i></td>
													<td>区块标题</td>
													<td class="text-left" title="">区块描述区块描述区块描述区块描述区块描述区块描述区块描述区块描述区块描述区块</td>
													<td>区块类型</td>
													<td class="client-status">
														<button class="label label-primary no-borders">添加</button>
													</td>
												</tr>
												<tr>
													<td class="client-avatar"><i class="fa fa-cube"></i></td>
													<td>区块标题</td>
													<td class="text-left" title="">区块描述区块描述区块描述区块描述区块描述区块描述区块描述区块</td>
													<td>区块类型</td>
													<td class="client-status">
														<button class="label label-primary no-borders">添加</button>
													</td>
												</tr>
												<tr>
													<td class="client-avatar"><i class="fa fa-cube"></i></td>
													<td>区块标题</td>
													<td class="text-left" title="">区块描述区块描述区块描述区块描述区块描述区块描述区块描述区块</td>
													<td>区块类型</td>
													<td class="client-status">
														<button class="label label-primary no-borders">添加</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="ibox">
						<div class="ibox-content no-borders">
							<button class="btn btn-sure btn-fx pull-right preview">预览</button>
							<h3>已添加区块</h3><br>
							<hr />
							<div class="clients-list">
								<div class="tab-content">
									<div class="tab-pane active" style="overflow-y: auto;height: 550px;">
										<table class="table-default table table-striped table-hover">
											<colgroup>
												<col width="15%">
												<col width="15%">
												<col width="15%">
												<col width="15%">
											</colgroup>
											<tbody class="text-center">
												<tr>
													<td class="client-avatar"><i class="fa fa-cube"></i></td>
													<td>区块标题</td>
													<td>区块类型</td>
													<td class="client-status">
														<button class="label label-cancel no-borders">移除</button>
													</td>
												</tr>
												<tr>
													<td class="client-avatar"><i class="fa fa-cube"></i></td>
													<td>区块标题</td>
													<td>区块类型</td>
													<td class="client-status">
														<button class="label label-cancel no-borders">移除</button>
													</td>
												</tr>
												<tr>
													<td class="client-avatar"><i class="fa fa-cube"></i></td>
													<td>区块标题</td>
													<td>区块类型</td>
													<td class="client-status">
														<button class="label label-cancel no-borders">移除</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="phone-preview ph1">
						<div class="phone-left" style="padding-left: 50px;">
							<ul>
								<li>
									<div class="phone-left-top" style="background: #F2F2F2;">
										<button class="btn">4.7寸屏</button>
										<button class="btn btn-sure">5.0寸屏</button>
										<button class="btn btn-sure">5.5寸屏</button>
									</div>
								</li>
								<li>
									<div class="phone-left-bt" style="height: 245px; background: #F2F2F2;display: flex;flex-direction: column;justify-content: space-around;">
										<p class="lanse">调整字体大小</p>
										<button class="btn">默认大小</button>
										<button class="btn btn-sure">0.5倍</button>
										<button class="btn btn-sure">1.0倍</button>
										<button class="btn btn-sure">1.5倍</button>
									</div>
								</li>
								<li>
									<div class="phone-left-bt" style="background: #F2F2F2;margin-top: 10px;">
										<p class="lanse">扫码查看手机效果</p>
										<p class="hui">与实际手机显示效果有微小差异, 请扫码查看</p>
										<div class="qrcode"></div>
										<button class="btn pc">PC端查看</button>
									</div>
								</li>
							</ul>
						</div>
						<div class="phone-right">
							<ul>
								<li>
									<div class="phone-right-title">预览效果</div>
								</li>
								<li class="preview-scroll">
									<div class="phone-right-content">
										<iframe id="blockIframe" src=""></iframe>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/jquery.qrcode.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				//设置活动
				$('.addActivity').on('click', function() {
					var _this = $(this)
					layer.open({
						type: 2,
						content: './activityList.html',
						area: ['1000px', '600px'],
						title: '设置填充活动',
						success: function() {

						},
						end: function() {
							//点击确定或者点击关闭按钮都会触发
							$('.activityContent').show()
							_this.html('<i class="fa fa-retweet"></i> 更换填充活动')
						}
					})
				})
				//预览效果
				$('body').on('click', '.preview', function() {
					$('.qrcode').html('') //清除二维码
					$('.phone-preview').find('iframe').attr('src', '../template/TemplateShop1.html')
					$('body').on('click','.phone-preview .pc',function(){
						window.open($('#blockIframe')[0].src)
					})
					var qrcodeText = $('#blockIframe')[0].src
					$('.qrcode').qrcode({
						render: "canvas",
						width: 120,
						height: 120,
						text: qrcodeText
					})
					//默认样式4.7屏幕
					$('.phone-preview').attr('class', 'phone-preview ph1')
					$('.phone-right').css({
						'width': '378px',
						'padding': '95px 25px 0'
					})
					$('.preview-scroll').css('height', '540px')
					//切换屏幕尺寸
					$('.phone-left-top').on('click', '.btn-sure', function(e) {
						//切换效果
						$(this).removeClass('btn-sure').siblings('button').addClass('btn-sure')
						if(e.target.textContent == '4.7寸屏') {
							$('.phone-preview').attr('class', 'phone-preview ph1')
							$('.phone-right').css({
								'width': '378px',
								'padding': '95px 25px 0'
							})
							$('.preview-scroll').css('height', '540px')
						} else if(e.target.textContent == '5.0寸屏') {
							$('.phone-preview').attr('class', 'phone-preview ph2')
							$('.phone-right').css({
								'width': '407px',
								'padding': '77px 25px 0'
							})
							$('.preview-scroll').css('height', '595px')
						} else {
							$('.phone-preview').attr('class', 'phone-preview ph3')
							$('.phone-right').css({
								'width': '408px',
								'padding': '101px 25px 0'
							})
							$('.preview-scroll').css('height', '593px')
						}
					})
					//切换字体大小
					$('.phone-left-bt').on('click', '.btn-sure', function(e) {
						$(this).removeClass('btn-sure').siblings('button').addClass('btn-sure')
					})
				})
			})
		</script>
	</body>

</html>