<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>活动审批</title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>
	<body>
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">全部</span><span class="tabli">未审批</span><span class="tabli">已审批</span></div>
				<div class="tabBody">
					<div class="tabMain onMain">
						<!--列表详情-->
						<div class="form-inline clearfix mr-b10">
							<div class="clearfix">
								<div class="pull-left clearfix">
									<input class="inputFxheight pull-left mr-r5" placeholder="请输入关键字" type="text">
									<input class="inputFxheight pull-left mr-r5" placeholder="作者名称" type="text">
									<button class="btn btn-fx btn-sure pull-left"><i class="fa fa-fw fa-search"></i>搜索</button>
								</div>
								<div class="paginglist pull-right">
									<div>共<i class="text-warning"> 123 </i>条记录</div>
									<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
									<div>跳转</div>
								</div>
							</div>
						</div>
						<div class="mr-b10">
							<table class="table table-bordered table-default table-hover">
								<colgroup>
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col>
							    <col width="16%">
							  </colgroup>
								<thead>
									<tr>
										<th class="text-center">活动标题</th>
										<th class="text-center">作者</th>
										<th class="text-center">创建时间</th>
										<th class="text-center">活动分类</th>
										<th class="text-center">状态</th>
										<th class="text-center">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">红包</td>
										<td class="text-center">三毛</td>
										<td class="text-center">2018-03-30 15:37:47</td>
										<td class="text-center">交互</td>
										<td class="text-center text-danger">未审批</td>
										<td class="text-center">
											<a href="javascript:;" class="text-primary preview mr-r5" data-id='TemplateURL&7'><i class="fa fa-edit"></i>&nbsp;审批</a>
											<a href="javascript:;" class="text-primary del"><i class="fa fa-remove"></i>&nbsp;驳回</a>
										</td>
									</tr>
									<tr>
										<td class="text-center">红包</td>
										<td class="text-center">三毛</td>
										<td class="text-center">2018-03-30 15:37:47</td>
										<td class="text-center">交互</td>
										<td class="text-center text-success">审批完成</td>
										<td class="text-center">
											<a href="javascript:;" class="text-primary preview mr-r5" data-id='TemplateURL&8'><i class="fa fa-edit"></i>&nbsp;审批</a>
											<a href="javascript:;" class="text-primary del"><i class="fa fa-remove"></i>&nbsp;驳回</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="clearfix">
							<div class="paginglist pull-right">
								<div>共<i class="text-warning"> 123 </i>条记录</div>
								<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
								<div>跳转</div>
							</div>
						</div>
					</div>
					<div class="tabMain">
						<!--列表详情-->
						<div class="form-inline clearfix mr-b10">
							<div class="clearfix">
								<div class="pull-left clearfix">
									<input class="inputFxheight pull-left mr-r5" placeholder="请输入关键字" type="text">
									<input class="inputFxheight pull-left mr-r5" placeholder="作者名称" type="text">
									<button class="btn btn-fx btn-sure pull-left"><i class="fa fa-fw fa-search"></i>搜索</button>
								</div>
								<div class="paginglist pull-right">
									<div>共<i class="text-warning"> 123 </i>条记录</div>
									<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
									<div>跳转</div>
								</div>
							</div>
						</div>
						<div class="mr-b10">
							<table class="table table-bordered table-default table-hover">
								<colgroup>
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col>
							    <col width="16%">
							  </colgroup>
								<thead>
									<tr>
										<th class="text-center">活动标题</th>
										<th class="text-center">作者</th>
										<th class="text-center">创建时间</th>
										<th class="text-center">活动分类</th>
										<th class="text-center">状态</th>
										<th class="text-center">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">红包</td>
										<td class="text-center">三毛</td>
										<td class="text-center">2018-03-30 15:37:47</td>
										<td class="text-center">交互</td>
										<td class="text-center text-danger">未审批</td>
										<td class="text-center">
											<a href="javascript:;" class="text-primary preview mr-r5"><i class="fa fa-edit"></i>&nbsp;审批</a>
											<a href="javascript:;" class="text-primary del"><i class="fa fa-remove"></i>&nbsp;驳回</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="clearfix">
							<div class="paginglist pull-right">
								<div>共<i class="text-warning"> 123 </i>条记录</div>
								<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
								<div>跳转</div>
							</div>
						</div>
					</div>
					<div class="tabMain">
						<!--列表详情-->
						<div class="form-inline clearfix mr-b10">
							<div class="clearfix">
								<div class="pull-left clearfix">
									<input class="inputFxheight pull-left mr-r5" placeholder="请输入关键字" type="text">
									<input class="inputFxheight pull-left mr-r5" placeholder="作者名称" type="text">
									<button class="btn btn-fx btn-sure pull-left"><i class="fa fa-fw fa-search"></i>搜索</button>
								</div>
								<div class="paginglist pull-right">
									<div>共<i class="text-warning"> 123 </i>条记录</div>
									<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
									<div>跳转</div>
								</div>
							</div>
						</div>
						<div class="mr-b10">
							<table class="table table-bordered table-default table-hover">
								<colgroup>
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col>
							    <col width="16%">
							  </colgroup>
								<thead>
									<tr>
										<th class="text-center">活动标题</th>
										<th class="text-center">作者</th>
										<th class="text-center">创建时间</th>
										<th class="text-center">活动分类</th>
										<th class="text-center">状态</th>
										<th class="text-center">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">红包</td>
										<td class="text-center">三毛</td>
										<td class="text-center">2018-03-30 15:37:47</td>
										<td class="text-center">交互</td>
										<td class="text-center text-success">审批完成</td>
										<td class="text-center">
											<a href="javascript:;" class="text-primary preview mr-r5"><i class="fa fa-edit"></i>&nbsp;审批</a>
											<a href="javascript:;" class="text-primary del"><i class="fa fa-remove"></i>&nbsp;驳回</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="clearfix">
							<div class="paginglist pull-right">
								<div>共<i class="text-warning"> 123 </i>条记录</div>
								<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
								<div>跳转</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--预览弹窗-->
		<div class="phone-preview hidden">
			<div class="phone-left">
				<ul>
					<li>
						<div class="phone-left-top">
							<button class="btn">4.7寸屏</button>
							<button class="btn btn-sure">5.0寸屏</button>
							<button class="btn btn-sure">5.5寸屏</button>
						</div>
					</li>
					<li>
						<div class="phone-left-bt" style="height: 324px;">
							<p class="lanse">扫码查看手机效果</p>
							<p class="hui">与实际手机显示效果有微小差异, 请扫码查看</p>
							<div class="qrcode">
								<!--<img src="../images/ewm.png"/>-->
							</div>
							<button class="btn btn-cancel m-b-xs" onclick="window.open($('#blockIframe')[0].src)">PC端查看</button>
							<button class="btn btn-success">审批通过</button>
						</div>
					</li>
				</ul>
			</div>
			<div class="phone-right">
				<ul>
					<li>
						<div class="phone-right-title">预览效果</div>
					</li>
					<li class="preview-scroll">
						<div class="phone-right-content">
							<iframe id="blockIframe" src=""></iframe>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/jquery.qrcode.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('.preview').click(function(){
					$('.phone-preview').find('iframe').attr('src','../block/blockPreview.html#' + $(this).attr('data-id'))
					var viewHtml = $('.phone-preview').html()
					layer.open({
						type: 1,
						title: false,
						closeBtn: 1,
						content: viewHtml,
						skin: 'ph1',
						success: function(e){
							//使用canvas生成二维码
							var qrcodeText = $('#blockIframe')[0].src
							$('.qrcode').qrcode({
						    render: "canvas",
						    width: 120,
						    height: 120,
						    text: qrcodeText
							})
							//默认样式4.7屏幕
							$('.layui-layer-page').attr('class', 'layui-layer layui-layer-page ph1')
							$('.phone-right').css({
								'width': '378px',
								'padding': '95px 25px 0'
							})
							$('.preview-scroll').css('height', '540px')
							//切换屏幕尺寸
							$('.phone-left-top').on('click', '.btn-sure', function(e) {
								//切换效果
								$(this).removeClass('btn-sure').siblings('button').addClass('btn-sure')
								if(e.target.textContent == '4.7寸屏') {
									$('.layui-layer-page').attr('class', 'layui-layer layui-layer-page ph1')
									$('.phone-right').css({
										'width': '378px',
										'padding': '95px 25px 0'
									})
									$('.preview-scroll').css('height', '540px')
								} else if(e.target.textContent == '5.0寸屏') {
									$('.layui-layer-page').attr('class', 'layui-layer layui-layer-page ph2')
									$('.phone-right').css({
										'width': '407px',
										'padding': '77px 25px 0'
									})
									$('.preview-scroll').css('height', '595px')
								} else {
									$('.layui-layer-page').attr('class', 'layui-layer layui-layer-page ph3')
									$('.phone-right').css({
										'width': '408px',
										'padding': '101px 25px 0'
									})
									$('.preview-scroll').css('height', '593px')
								}
							})
						}, //end success
						end: function(){
							$('.qrcode').html('') //清除二维码
						}
					})
				})
				$('.del').click(function(){
					layer.confirm('确认要驳回此活动？',{
						btn:['确认','取消'],
					})
				})
				
			})
		</script>
	</body>

</html>