<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body>
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">活动预览</span></div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="ibox float-e-margins">
						<div class="ibox-content min-h-700">
							<div class="file-manager">
								<h5>目录查询：</h5>
								<div class="hr-line-dashed"></div>
								<ul class="folder-list" style="padding: 0">
									<li>
										<a href="javascript:;"><i class="fa fa-cube"></i> 游戏</a>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-cube"></i> 图片</a>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-cube"></i> Web页面</a>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-cube"></i> 插图</a>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-cube"></i> 电影</a>
									</li>
								</ul>
								<!--<h5 class="tag-title">热门</h5>
								<ul class="tag-list" style="padding: 0">
									<li>
										<a href="javascript:;">活动1</a>
									</li>
									<li>
										<a href="javascript:;">活动2</a>
									</li>
									<li>
										<a href="javascript:;">活动3</a>
									</li>
								</ul>-->
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<ol class="breadcrumb m-b">
					  <li class="text-primary"><a href="#">活动效果预览</a></li>
					  <li class="active">所有活动</li>
					</ol>
					<div class="clearfix m-b-md">
						<input class="inputFxheight pull-left mr-r5" placeholder="请输入关键字" type="text">
						<input class="inputFxheight pull-left mr-r5" placeholder="请输入活动作者" type="text">
						<select class="inputFxheight pull-left mr-r5">
		          <option>--活动类型--</option>
		          <option>类型1</option>
		          <option>类型2</option>
		          <option>类型3</option>
		        </select>
						<button class="btn btn-fx btn-sure pull-left mr-r5"><i class="fa fa-fw fa-search"></i>搜索</button>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-3">
								<div class="file">
									<span class="corner"></span>
									<div class="icon image cur filePreview">
										<i class="fa fa-file"></i>
										<div class="file-shadow" data-id='TemplateURL&7'>
											<span><i class="fa fa-5x fa-eye"></i></span>
										</div>
									</div>
									<div class="file-name">
										活动1
										<br />
										<small>作者：王二麻子</small><br />
										<small>添加时间：2014-10-13 22:22:22</small><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="file">
									<span class="corner"></span>
									<div class="image cur filePreview">
										<img alt="image" class="img-responsive" src="../../upload/18041702a94d59ac56b5417812c0dabeffa391.jpeg">
										<div class="file-shadow" data-id='TemplateURL&8'>
											<span><i class="fa fa-5x fa-eye"></i></span>
										</div>
									</div>
									<div class="file-name">
										活动2
										<br />
										<small>作者：王二麻子</small><br />
										<small>添加时间：2014-10-13 22:22:22</small><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="file">
									<span class="corner"></span>
									<div class="image cur filePreview">
										<img alt="image" class="img-responsive" src="../../upload/1459214c2314481f67a242ed86a56d35214226.jpg">
										<div class="file-shadow" data-id='TemplateURL&9'>
											<span><i class="fa fa-5x fa-eye"></i></span>
										</div>
									</div>
									<div class="file-name">
										活动3
										<br />
										<small>作者：王二麻子</small><br />
										<small>添加时间：2014-10-13 22:22:22</small><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="file">
									<span class="corner"></span>
									<div class="image cur filePreview">
										<img alt="image" class="img-responsive" src="../../upload/141416254312654551ac96sada.jpg">
										<div class="file-shadow" data-id='TemplateURL&10'>
											<span><i class="fa fa-5x fa-eye"></i></span>
										</div>
									</div>
									<div class="file-name">
										活动3
										<br />
										<small>作者：王二麻子</small><br />
										<small>添加时间：2014-10-13 22:22:22</small><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="file">
									<span class="corner"></span>
									<div class="image cur filePreview">
										<img alt="image" class="img-responsive" src="../../upload/324276-temp-201704-21-1492755022869.jpeg">
										<div class="file-shadow" data-id='TemplateURL&11'>
											<span><i class="fa fa-5x fa-eye"></i></span>
										</div>
									</div>
									<div class="file-name">
										活动3
										<br />
										<small>作者：王二麻子</small><br />
										<small>添加时间：2014-10-13 22:22:22</small><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="file">
									<span class="corner"></span>
									<div class="image cur filePreview">
										<img alt="image" class="img-responsive" src="../../upload/12000780eaddc87e023ca76dde1806be3ac2a7.jpg">
										<div class="file-shadow" data-id='TemplateURL&12'>
											<span><i class="fa fa-5x fa-eye"></i></span>
										</div>
									</div>
									<div class="file-name">
										活动3
										<br />
										<small>作者：王二麻子</small><br />
										<small>添加时间：2014-10-13 22:22:22</small><br />
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
<!--预览弹窗-->
		<div class="phone-preview hidden">
			<div class="phone-left">
				<ul>
					<li>
						<div class="phone-left-top">
							<button class="btn">4.7寸屏</button>
							<button class="btn btn-sure">5.0寸屏</button>
							<button class="btn btn-sure">5.5寸屏</button>
						</div>
					</li>
					<li>
						<div class="phone-left-bt">
							<p class="lanse">扫码查看手机效果</p>
							<p class="hui">与实际手机显示效果有微小差异, 请扫码查看</p>
							<div class="qrcode">
								<!--<img src="../images/ewm.png"/>-->
							</div>
							<button class="btn" onclick="window.open($('#blockIframe')[0].src)">PC端查看</button>
						</div>
					</li>
				</ul>
			</div>
			<div class="phone-right">
				<ul>
					<li>
						<div class="phone-right-title">预览效果</div>
					</li>
					<li class="preview-scroll">
						<div class="phone-right-content">
							<iframe id="blockIframe" src=""></iframe>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/jquery.qrcode.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<!--鼠标移动特效-->
		<script src="../../plugins/modernizr.custom.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/hoverdir.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('.file .filePreview').each(function() {
					$(this).hoverdir({
						hoverDelay: 75
					})
				})
				$('.file').on('click','.file-shadow',function(){
					$('.phone-preview').find('iframe').attr('src','../block/blockPreview.html#' + $(this).attr('data-id'))
					var viewHtml = $('.phone-preview').html()
					layer.open({
						type: 1,
						title: false,
						closeBtn: 1,
						content: viewHtml,
						skin: 'ph1',
						success: function(e){
							$('.layui-layer-shade').on('click',function(){ //点击遮挡层关闭
								layer.closeAll()
							})
							//使用canvas生成二维码
							var qrcodeText = $('#blockIframe')[0].src
							$('.qrcode').qrcode({
						    render: "canvas",
						    width: 120,
						    height: 120,
						    text: qrcodeText
							})
							//默认样式4.7屏幕
							$('.layui-layer-page').attr('class', 'layui-layer layui-layer-page ph1')
							$('.phone-right').css({
								'width': '378px',
								'padding': '95px 25px 0'
							})
							$('.preview-scroll').css('height', '540px')
							//切换屏幕尺寸
							$('.phone-left-top').on('click', '.btn-sure', function(e) {
								//切换效果
								$(this).removeClass('btn-sure').siblings('button').addClass('btn-sure')
								if(e.target.textContent == '4.7寸屏') {
									$('.layui-layer-page').attr('class', 'layui-layer layui-layer-page ph1')
									$('.phone-right').css({
										'width': '378px',
										'padding': '95px 25px 0'
									})
									$('.preview-scroll').css('height', '540px')
								} else if(e.target.textContent == '5.0寸屏') {
									$('.layui-layer-page').attr('class', 'layui-layer layui-layer-page ph2')
									$('.phone-right').css({
										'width': '407px',
										'padding': '77px 25px 0'
									})
									$('.preview-scroll').css('height', '595px')
								} else {
									$('.layui-layer-page').attr('class', 'layui-layer layui-layer-page ph3')
									$('.phone-right').css({
										'width': '408px',
										'padding': '101px 25px 0'
									})
									$('.preview-scroll').css('height', '593px')
								}
							})
						}, //end success
						end: function(){
							$('.qrcode').html('') //清除二维码
						}
					})
				})
				
			})
		</script>
	</body>

</html>