<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>金融模板</title>
	</head>

	<body>
		<div class="w">
			<section>
				<!-- 标题 -->
				<section class="ue_block">
					<section style="width:100%; text-align:center;">
						<section style="display: inline-block;">
							<section style="width: 60px; float: left;">
								<img src="../../upload/14445510a6a4e54f44d337a53079a879134471.png" style="width: 100%;" />
							</section>
							<section style="float: left; font-size: 30px; height: 30px; background: #ffe2a1;margin: 0 8px;padding: 0 18px;">
								<p style="margin: 0; padding: 0; line-height: 34px;">
									金融
								</p>

							</section>
							<section style="width: 60px; float: left;">
								<img style="transform: rotateY(180deg); width: 100%;" src="../../upload/14445510a6a4e54f44d337a53079a879134471.png" />
							</section>
						</section>
					</section>
				</section>
				<!-- 正文 -->
				<section class="ue_block">
					<section style="width: 100%;height: auto; background-image: url(../../upload/14445497e377d5700c7209418d80ce2edef8b3.png);background-repeat: no-repeat;background-position: left top;background-size: 140px auto;">
						<section style="width: 100%;height: auto; min-height: 250px; background-image: url(../../upload/144454efc5e63a3638bd84f0551c7fd48bd1c5.png);background-repeat: no-repeat;background-position: right bottom; background-size:130px auto;">
							<section style="padding:52px 24px 22px; font-size:14px; color: #666; line-height: 28px;">
								<section style="box-shadow: 0 0 6px #ccc; padding: 10px;">
									<p style="margin: 0; padding: 0;">
										金融指货币的发行、流通和回笼，贷款的发放和收回，存款的存入和提取，汇兑的往来等经济活动。金融（FIN）就是对现有资源进行重新整合之后，实现价值和利润的等效流通。（专业的说法是：实行从储蓄到投资的过程，狭义的可以理解为金融是动态的货币经济学。）金融是人们在不确定环境中进行资源跨期的最优配置决策的行为。金融指货币的发行、流通和回笼，贷款的发放和收回，存款的存入和提取，汇兑的往来等经济活动。
									</p>

								</section>
							</section>
						</section>
					</section>
				</section>
				<!-- 二级标题 -->
				<section class="ue_block">
					<section style="width:100%; text-align:center;margin: 10px 0;">
						<section style="display: inline-block;">
							<section style="width: 28px; height: 30px; float: left; ">
								<img src="../../upload/14445599da198b9bb3644637f100635a921ba6.png" />
							</section>
							<section style="font-size: 26px; float: left; height: 20px; z-index: -1; background: #ffe2a1;padding: 0 20px;margin: 5px 8px 0;">
								<p style="margin: 0; padding: 0; line-height: 22px;">
									引证解释
								</p>

							</section>
							<section style="width: 40px; height: 30px; float: right; margin-left: -8px; ">
								<img style="transform: rotateY(180deg);" src="../../upload/14445599da198b9bb3644637f100635a921ba6.png" />
							</section>
						</section>
					</section>
				</section>
				<!-- 正文 -->
				<section class="ue_block">
					<section style="width: 100%;height: auto; background-image: url(../../upload/14445497e377d5700c7209418d80ce2edef8b3.png);background-repeat:no-repeat;background-position: left top;background-size:140px auto;">
						<section style="width: 100%;height: auto; min-height: 250px; background-image: url(../../upload/144454efc5e63a3638bd84f0551c7fd48bd1c5.png);background-repeat: no-repeat;background-position: right bottom;background-repeat: 130px auto;">
							<section style="padding:52px 24px 22px; font-size:16px; color: #555; line-height: 28px;">
								<section style="text-align: center; width: 100%;">
									<img src="../../upload/144455a90534c166adbaf747b46d3db00fde46.jpeg" />
								</section>
								<section style="text-align: left;box-shadow: 0 0 6px #ccc; padding: 10px;font-size:14px; color: #666; ">
									<p style="margin: 0; padding: 0; ">
										1、指货币的发行、流通和回笼，贷款的发放和收回，存款的存入和提取，汇兑的往来等经济活动。
									</p>

									<p style="margin: 0; padding: 0; ">
										胡适《国际的中国》：“我们更想想这几年国内的资产阶级，为了贪图高利债的利益，拚命的借债给中国政府，不但苟延了恶政府的命运，并且破坏了全国的金融。”
									</p>

									<p style="margin: 0; padding: 0; ">
										丁玲 《一九三○年春上海（之一）》：“许多大腹的商贾，和为算盘的辛苦而瘪干了的吃血鬼们，都更振起了精神在不稳定的金融风潮之下去投机。”
									</p>

									<p style="margin: 0; padding: 0; ">
										浩然 《艳阳天》第七章：“银行的领导帮助他认识金融工作对恢复国民经济、建设社会主义的重要，他听进去。”
									</p>

									<p style="margin: 0; padding: 0; ">
										2、按照丁大卫的说法，古今中外黄金因其不可毁灭性、高度可塑性、相对稀缺性、无限可分性、同质性及色泽明亮等特性特点，成为经济价值最理想的代表、储存物、稳定器和交换媒介之一。
									</p>

								</section>
							</section>
						</section>
					</section>
				</section>
				<!-- 分割线 -->
				<section class="ue_block">
					<section style="text-align: center; width: 100%;margin: 20px 0;">
						<section style="padding:0 24px">
							<img src="../../upload/144455f2c0246072c73a23b7fcc0bb30e154e9.png" style="width:100%;" />
						</section>
					</section>
				</section>
				<!-- 图文 -->
				<section class="ue_block">
					<section style="width: 100%;">
						<section style="padding: 0 73px 0 30px;">
							<section style="background: #f36a41; height: 40px;">
								<section style=" width: 100px; float: left; border-radius: 50%; margin-left: 20px; margin-top:-19px;">
									<img src="../../upload/144455bdb4dd235dbcafebb878d2f730dc88b0.jpeg" style="width:80px; box-sizing: border-box; border-radius: 100%; border: 10px solid #fff;" />
								</section>
								<section style="font-size: 20px;color: #fff; text-align:left; float: left; height: 44px; line-height: 44px;">
									<p style="margin:0; padding: 0;">
										基本含义
									</p>

								</section>
								<section style="float: right; width: 36px; height: 44px; border-radius:  0 100% 0 0;background: #f36a41; margin-right: -36px;"></section>
							</section>
						</section>
						<section style="padding: 20px 10px 10px 10px; border: 4px solid #f36a41;">
							<section style="width: 100%;">
								<img src="../../upload/144455810672fc5b7b070c4c4b78238f6cd8db.jpeg" style="width:100%;" />
							</section>
							<section style="margin-top: 10px;font-size:14px; color: #666; box-shadow: 0 0 6px #ccc; padding: 10px; line-height: 28px;">
								<p style="margin:0; padding: 0;">
									金融的本质是价值流通。金融产品的种类有很多，其中主要包括银行、证券、保险、信托等。金融所涉及的学术领域很广，其中主要包括：会计、财务、投资学、银行学、证券学、保险学、信托学等等。金融是一种交易活动，金融交易本身并未创造价值，那为什么在金融交易中就有赚钱的呢？按照陈志武先生的说法，金融交易是一种将未来收入变现的方式，也就是明天的钱今天来花。简单地说金融交易的频繁程度就是反映一个地区、区域、乃至国家经济繁荣能力的重要指标。传统金融的概念是研究货币资金的流通的学科。而现代的金融本质就是经营活动的资本化过程。西方定义，《新帕尔·格雷夫经济学大字典》，指资本市场的运营，资产的供给与定价。其基本内容包括有效率的市场，风险与收益，替代与套利，期权定价和公司金融。
								</p>

							</section>
						</section>
					</section>
				</section>
				<!-- 分割线 -->
				<section class="ue_block">
					<section style="text-align: center; width: 100%;margin: 20px 0;">
						<section style="padding:0 24px">
							<img src="../../upload/144455f2c0246072c73a23b7fcc0bb30e154e9.png" style="width:100%;" />
						</section>
					</section>
				</section>
				<!-- 二级标题 -->
				<section class="ue_block">
					<section style="width:100%; text-align:center;margin: 10px 0;">
						<section style="display: inline-block;">
							<section style="width: 28px; height: 30px; float: left; ">
								<img src="../../upload/14445599da198b9bb3644637f100635a921ba6.png" />
							</section>
							<section style="font-size: 26px; float: left; height: 20px; z-index: -1; background: #ffe2a1;padding: 0 20px;margin: 5px 8px 0;">
								<p style="margin: 0; padding: 0; line-height: 22px;">
									引证解释
								</p>

							</section>
							<section style="width: 40px; height: 30px; float: right; margin-left: -8px; ">
								<img style="transform: rotate(180deg);" src="../../upload/14445599da198b9bb3644637f100635a921ba6.png" />
							</section>
						</section>
					</section>
				</section>
				<!-- 正文 -->
				<section class="ue_block">
					<section style="width: 100%;height: auto; background-image: url(../../upload/14445497e377d5700c7209418d80ce2edef8b3.png);background-repeat: no-repeat;background-position: left top; background-size:140px auto;">
						<section style="width: 100%;height: auto; min-height: 350px; background-image: url(../../upload/144454efc5e63a3638bd84f0551c7fd48bd1c5.png);background-repeat: no-repeat;background-position: right bottom;background-size: 130px auto;">
							<section style="padding:52px 20px 20px; font-size:16px; color: #555; line-height: 28px;">
								<section style="box-shadow: 0 0 6px #ccc; padding: 10px;">
									<p style="margin:0; padding: 0;">
										金融的核心是跨时间、跨空间的价值交换，所有涉及到价值或者收入在不同时间、不同空间之间进行配置的交易都是金融交易，金融学就是研究跨时间、跨空间的价值交换为什么会出现、如何发生、怎样发展。比如，“货币”就是如此。它的出现首先是为了把今天的价值储存起来，等明天、后天或者未来任何时候，再把储存其中的价值用来购买别的东西。但，货币同时也是跨地理位置的价值交换，今天你在张村把东西卖了，带上钱，走到李村，你又可以用这钱去买想要的东西。因此，货币解决了价值跨时间的储存、跨空间的移置问题，货币的出现对贸易、对商业化的发展是革命性的创新。像明清时期发展起来的山西“票号”，则主要以异地价值交换为目的，让本来需要跨地区运物、运银子才能完成的贸易，只要送过去山西票号出具的“一张纸”即汇票就可以了！其好处是大大降低异地货物贸易的交易成本，让物资生产公司、商品企业把注意力集中在他们的特长商品上，把异地支付的挑战留给票号经营商，体现各自的专业分工！在交易成本如此降低之后，跨地区贸易市场不快速发展也难！
									</p>

								</section>
							</section>
						</section>
					</section>
				</section>
				<!-- 分割线 -->
				<section class="ue_block">
					<section style="text-align: center; width: 100%;margin: 20px 0;">
						<section style="padding:0 24px">
							<img src="../../upload/144455f2c0246072c73a23b7fcc0bb30e154e9.png" style="width:100%;"  />
						</section>
					</section>
				</section>
				<!-- 关注 -->
				<section class="ue_block">
					<section style="text-align: center; width: 100%;margin: 20px 0;">
						<section style="height: 230px;background-image: url(../../upload/144455299f2dee969fcfc420fea3c56e447b33.png);background-repeat:no-repeat;background-position: center top;background-size: auto 100%;">
							<section style="width: 89px; margin: 0 auto; padding-top: 93px;">
								<img src="../../images/ewm.png" style="width: 100%;" />
							</section>
						</section>
					</section>
				</section>
				<!-- 关注 -->
				<section class="ue_block">
					<section style="text-align: center; width: 100%;margin:20px 0;">
						<section style="height: 150px;background-image: url(../../upload/144454ca4191f0319ee46679f4d82a76c70011.png);background-repeat:  no-repeat;background-position: center top;background-size: 100% 100%;">
							<section style="  font-size: 20px; color: #fff; text-align: center; padding-top: 113px; margin-left: 20px;">
								点击上方蓝色字关注我们吧!
							</section>
						</section>
					</section>
				</section>
			</section>

		</div>
	</body>

</html>