<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section style="font-family: Arial; border: 0px none; padding: 15px; color: #464646;">
				<section style="-webkit-box-reflect:below 0px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.2, transparent), to(rgba(250, 250, 250, 0.3))); margin-top:15px;line-height:20px;">
					<p style="display: block; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; text-align: center;  ">
						<span style="font-family:微软雅黑; font-size:24px"><strong>标题文本</strong></span>
					</p>
				</section>
			</section>
		</div>
		<div class="w">
			<section style="font-family: 'microsoft YaHei'; border: 0px none; padding: 0px;">
				<section style="margin-top:10px;overflow:hidden;color:rgb(66,66,66);height:18px;">
					﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌
				</section>
			</section>
		</div>
		<div class="w">
			<section class="ue_block" style="padding:20px;">
				<img src="../../upload/11344406932cfbb5f62b0fefef597cca14cafb.jpeg" style="height: auto;display: inline-block;width: 40%;float: left;padding-right: 1em;">
				<span style="margin: 0px; font-size: 14px; color: rgb(102, 102, 102); line-height: 1.5;">
				  每年的3月15日是“国际消费者权益日“，由国际消费者联盟组织于1983年确定，以促进各国和地区消费者组织之间的合作与交往，在国际范围内更好地保护消费者权益。每年的3月15日是“国际消费者权益日“，由国际消费者联盟组织于1983年确定，以促进各国和地区消费者组织之间的合作与交往，在国际范围内更好地保护消费者权益。
				</span>
			</section>
		</div>
		<div class="w">
			<img src="../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg" style="width: 100%;height: auto;border: none;vertical-align: middle;padding: 5px 1em;display: inline-block;width: 100%;box-sizing: border-box;">
		</div>
		<div class="w">
			<section style="width: 100%;margin: 15px auto;">
				<section style="width:300px; height:198px; margin:10px auto; box-shadow:0px 2px 5px #666;background: rgb(254,254,254);text-align: center; display:flex; display:-webkit-felx;">
					<section style="width:100px; margin-left:20px;">
						<section style="width: auto;height: 30px;line-height: 30px;background:#373e4e;color: #fff;margin: 0 0 0 30px">
							阿里巴巴
						</section>
						<section style="width:100%; font-size:12px; margin-top:20px;">
							<p style="margin:0px;">
								WELCOME
							</p>
							<p style="margin:0px;">
								TO
							</p>
							<p style="margin:0px;">
								ALIBABA
							</p>
						</section>
						<section style="width:100%;">
							<section style="display: inline-block;line-height:15px;background-color:#373e4e;color: #fff; padding:5px 10px; margin-top:15px; font-size:11px;">
								<a href="javascript:;" style="color: #FFFFFF;">立即关注</a>
							</section>
						</section>
					</section>
					<section style="width:120px; padding-top:60px;">
						<section style="width:120px;">
							<img alt="" src="../../images/ewm.png">
						</section>
					</section>
					<section style="width:10px; padding-top:112px; margin-left:20px;">
						<section style="width:10px;">
							<img src="../../upload/mmbiz.png" style="width:100%; display:block;">
						</section>
					</section>
				</section>
			</section>
		</div>
		<div class="w">
			<section style="background-color: rgb(255, 255, 255); box-sizing: border-box;margin-bottom: 15px;">
				<section style="position: static; box-sizing: border-box;">
					<section style="margin: 0.5em 0px 0.5em 10px; position: static; box-sizing: border-box;">
						<section style="display: inline-block; vertical-align: top; width: 20%; box-sizing: border-box;">
							<section style="box-sizing: border-box;">
								<section style="text-align: center; position: static; box-sizing: border-box;">
									<section style="max-width: 100%; vertical-align: middle; display: inline-block; overflow: hidden !important; box-sizing: border-box;">
										<img height="34px" src="../../upload/edasdaasd12313.gif" style="vertical-align: middle; max-width: 100%; box-sizing: border-box;">
									</section>
								</section>
							</section>
						</section>
						<section style="display: inline-block; vertical-align: top; width: 70%; padding: 0px 10px; box-sizing: border-box;">
							<section style="box-sizing: border-box;">
								<section style="position: static; box-sizing: border-box;">
									<section style="box-sizing: border-box;">
										<section style="box-sizing: border-box;">
											输入文字输入文字<br style="box-sizing: border-box;">点击下方<span style="color: rgb(249, 110, 87); box-sizing: border-box;">“阅读原文”</span>查看更多
										</section>
									</section>
								</section>
							</section>
						</section>
						<a href="javascript:;" style="display:block;width: 100%;text-align: left;padding: 5px;color: #0078E4;">阅读全文</a>
					</section>
				</section>
			</section>
		</div>
		
	</body>

</html>