<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="margin: 10px auto;text-align: center;">
					<section style="display: inline-block;margin: 0px auto;text-align: center;font-size: 0px;">
						<span style="display: inline-block;float: left;transform: rotate(-65deg);margin-right: -25px;margin-top: 10px;">
							<em style="display:block;width: 20px;height: 1px;background-color: #000;margin-bottom: 5px;"></em>
							<em style="display: block;width: 40px;height: 1px;background-color: #000;margin-left: 5px;"></em>
						</span>
						<p style="display:inline-block;margin: 0px auto;text-align: center;font-size: 24px;line-height: 1.5;padding: 2px 15px;border-bottom: 1px solid #000;border-top: 1px solid #000;clear: both;">
							简约模板
						</p>
						<span style="display: inline-block;float: right;transform: rotate(120deg);margin-left: -25px;margin-top: 25px;">
							<em style="display:block;width: 20px;height: 1px;background-color: #000;"></em>
							<em style="display: block;width: 40px;height: 1px;background-color: #000;margin-left: 5px;margin-top: 5px;"></em>
						</span>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="margin: 10px auto;text-align: center;">
					<section style="margin: 0px auto;text-align: center;font-size: 0px;padding: 0px 10px;">
						<span style="display: inline-block;float: left;transform: rotate(-65deg);transform-origin: right bottom;margin-left: -28px;margin-bottom: 8px;">
							<em style="display:block;width: 20px;height: 1px;background-color: #000;margin-bottom: 5px;"></em>
							<em style="display: block;width: 40px;height: 1px;background-color: #000;margin-left: 8px;"></em>
						</span>
						<section style="font-size: 0px;display: inline-block;overflow: hidden;width: 100%;">
							<span style="display: inline-block;height: 3px;width: 80%;float: left;background-color: #000;"></span>
							<p style="margin: 0px auto; font-size: 14px; line-height: 1.5; clear: both; padding: 10px; text-align: left; text-indent: 2em;">
								2015年3月，一对80后中国小情侣在德国柏林成立了YUUE工作室，男孩子叫翁昕煜，女孩子叫陶海悦，他们最初只是想做点好设计，没想到却成了德国炙手可热的中国新锐设计工作室。工作室成立一年半，他们受邀参加了8个展会，接到二三十个项目，成绩斐然的他们更是在2017年，被德国权威杂志《安邸》评为 “德国TOP 50设计师”，YUUE靠着自己一系列有灵气又有诚意的设计，受到了人们的认可。采访开始前，先看几款YUUE出品的设计，它们奇思妙想，它们极具灵性，它们会说话，它们会给你的生活带来一丝启发。
							</p>
							<span style="display: inline-block;height: 3px;width: 80%;float: right;background-color: #000;"></span>
						</section>
						<span style="display: inline-block;float: right;transform: rotate(120deg);transform-origin: right top;margin-right: 17px;margin-top: 10px;">
							<em style="display:block;width: 20px;height: 1px;background-color: #000;"></em>
							<em style="display: block;width: 40px;height: 1px;background-color: #000;margin-left: 8px;margin-top: 5px;"></em>
						</span>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="margin: 20px auto;text-align: center;width: 80%;">
					<span style="display: inline-block;float: left;font-size: 0px;transform: rotate(-60deg);margin-top: 5px;">
						<em style="display: block;width:18px;height: 3px;background-color: #000;margin:0px auto;margin-bottom: 10px;"></em>
						<em style="display: block;width:35px;height: 3px;background-color: #000;"></em>
					</span>
					<span style="min-width: 60%;max-width:80% !important;height: 1px;background-color: #000;display: inline-block;margin: 0px auto;"></span>
					<span style="display: inline-block;float: right;font-size: 0px;transform: rotate(120deg);margin-right: -20px;margin-top: 12px;">
						<em style="display: block;width:18px;height: 3px;background-color: #000;margin:0px auto;margin-bottom: 10px;"></em>
						<em style="display: block;width:35px;height: 3px;background-color: #000;"></em>
					</span>

				</section>
			</section>
			<section class="ue_block">
				<section style="margin: 10px auto;text-align: center;">
					<section style="display: inline-block;">
						<section style="display: inline-block;margin: 0px auto;float: left;border-right: 1px solid #000;transform: rotate(30deg);margin-top: -10px;height: 35px;">
							<p style="font-size:20px;display: inline-block;box-sizing: border-box;margin: 0px auto;padding: 0px 10px;color: #cacaca;transform: rotate(-30deg);margin-top: 15px;">
								01
							</p>
						</section>
						<section style="display: inline-block;margin: 0px auto;float:left;border-bottom:1px solid #000;">
							<p style="font-size: 18px;display: inline-block;margin: 0px auto;padding:5px 10px;box-sizing: border-box;">
								俏皮设计
							</p>
						</section>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="max-width: 100%;margin: 10px auto;overflow: hidden;">
					<img src="../../upload/14591600291261fd3958d22e64c5ccc92741b4.jpeg"  style="max-width: 100% !important;box-sizing: border-box;border: 1px solid #000;" />
				</section>
				<section style="margin: 10px auto;text-align: center;">
					<section style="margin: 0px auto;text-align: center;font-size: 0px;padding: 0px 10px;">
						<span style="display: inline-block;float: left;transform: rotate(-65deg);transform-origin: right bottom;margin-left: -28px;margin-bottom: 8px;">
							<em style="display:block;width: 20px;height: 1px;background-color: #000;margin-bottom: 5px;"></em>
							<em style="display: block;width: 40px;height: 1px;background-color: #000;margin-left: 8px;"></em>
						</span>
						<section style="font-size: 0px;display: inline-block;overflow: hidden;width: 100%;">
							<span style="display: inline-block;height: 3px;width: 80%;float: left;background-color: #000;"></span>
							<p style="margin: 0px auto; font-size: 14px; line-height: 1.5; clear: both; padding: 10px; text-align: left; text-indent: 2em;">
								Oops！系列灯具更像是恶作剧时能让人发出“Oops”惊叫的捣蛋鬼，有它的存在空间的气氛就会被活跃起来。这一系列包括一款吊灯和一款工作灯，当拉动电灯绳的时候，灯泡和灯管会被一同拽出，让人下意识地认为自己弄坏了东西。等反应过来这个小把戏的时候，散发着稳定光源的 Oops 灯具组带着调皮的表情已经和人们成为了朋友
							</p>
							<span style="display: inline-block;height: 3px;width: 80%;float: right;background-color: #000;"></span>
						</section><span style="display: inline-block;float: right;transform: rotate(120deg);transform-origin: right top;margin-right: 17px;margin-top: 10px;">
							<em style="display:block;width: 20px;height: 1px;background-color: #000;"></em>
							<em style="display: block;width: 40px;height: 1px;background-color: #000;margin-left: 8px;margin-top: 5px;"></em>
						</span>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="margin: 10px auto;font-size: 0px;">
					<section style="display: inline-block;text-align: left;margin-bottom: -6px;overflow: hidden;">
						<section style="display: inline-block;margin: 0px auto;float: left;border-right: 1px solid #000;transform: rotate(30deg);margin-bottom: -10px;height: 35px;">
							<p style="font-size:20px;display: inline-block;box-sizing: border-box;margin: 0px auto;padding: 0px;padding-right:10px;color: #cacaca;transform: rotate(-30deg);margin-top: 5px;">
								02
							</p>
						</section>
						<section style="display: inline-block;margin: 0px auto;float:left;">
							<p style="font-size: 18px;display: inline-block;margin: 0px auto;padding:5px 10px;box-sizing: border-box;">
								进入包豪斯学院研修设计专业？
							</p>
						</section>
					</section>
					<section style="margin: 0px auto;font-size: 0px;padding: 0px 10px;overflow: hidden;">
						<section style="font-size: 0px;overflow: hidden;">
							<span style="display: inline-block;height: 3px;width: 80%;float: left;background-color: #000;"></span>
							<p style="margin: 0px auto; font-size: 14px; line-height: 1.5; clear: both; padding: 10px; text-align: left; text-indent: 2em;">
								2015年3月，一对80后中国小情侣在德国柏林成立了YUUE工作室，男孩子叫翁昕煜，女孩子叫陶海悦，他们最初只是想做点好设计，没想到却成了德国炙手可热的中国新锐设计工作室。工作室成立一年半，他们受邀参加了8个展会，接到二三十个项目，成绩斐然的他们更是在2017年，被德国权威杂志《安邸》评为 “德国TOP 50设计师”，YUUE靠着自己一系列有灵气又有诚意的设计，受到了人们的认可。采访开始前，先看几款YUUE出品的设计，它们奇思妙想，它们极具灵性，它们会说话，它们会给你的生活带来一丝启发。
							</p>
							<span style="display: inline-block;height: 3px;width: 80%;float: right;background-color: #000;"></span>
						</section><span style="display: inline-block;float: right;transform: rotate(120deg);transform-origin: right top;margin-right: 17px;margin-top: 10px;">
							<em style="display:block;width: 20px;height: 1px;background-color: #000;"></em>
							<em style="display: block;width: 40px;height: 1px;background-color: #000;margin-left: 8px;margin-top: 5px;"></em>
						</span>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="max-width: 100%;margin: 10px auto;overflow: hidden;">
					<img src="../../upload/145916f696252e1290b8b5b46902e4977eff20.jpeg"  style="max-width: 100% !important;box-sizing: border-box;border: 1px solid #000;" />
				</section>
				<section style="margin: 10px auto;font-size: 0px;overflow: hidden;">
					<section style="display: inline-block;text-align: left;margin-bottom: -6px;">
						<section style="display: inline-block;margin: 0px auto;float: left;border-right: 1px solid #000;transform: rotate(30deg);margin-bottom: -10px;height: 35px;">
							<p style="font-size:20px;display: inline-block;box-sizing: border-box;margin: 0px auto;padding: 0px;padding-right:10px;color: #cacaca;transform: rotate(-30deg);margin-top: 5px;">
								03
							</p>
						</section>
						<section style="display: inline-block;margin: 0px auto;float:left;">
							<p style="font-size: 18px;display: inline-block;margin: 0px auto;padding:5px 10px;box-sizing: border-box;">
								它留给你最深刻的印象是什么？
							</p>
						</section>
					</section>
					<section style="margin: 0px auto;font-size: 0px;padding: 0px 10px;">
						<section style="font-size: 0px;overflow: hidden;">
							<span style="display: inline-block;height: 3px;width: 80%;float: left;background-color: #000;"></span>
							<p style="margin: 0px auto; font-size: 14px; line-height: 1.5; clear: both; padding: 10px; text-align: left; text-indent: 2em;">
								翁昕煜：踏实、具体，不会去强调非常酷炫的概念。他们的教学模式是以项目为基础，我们一个学期会做几个项目，可以看到整个产品的研发过程，可以学到很多。我在国内没接受过设计教育，所以没有具体的对比感受。但是刚到包豪斯时，让我很惊喜的是包豪斯大学没有校园，没有围墙，教学楼和工作室分散在魏玛市区几公里范围内，公园、剧院、博物馆穿插其中，这不同于中国学校的区域化形态。
							</p>
							<p style="margin: 0px auto; font-size: 14px; line-height: 1.5; clear: both; padding: 10px; text-align: left; text-indent: 2em;">
								陶海悦：包豪斯大学强调自主学习能力，教授和老师不会强制你去做什么，只会提供引导和帮助。还有很多讨论课（Seminar），老师会有一个书单，有时候还会把我们需要用到的书放在图书馆的一个专门的书架上。每个学生选择一个主题，然后给其他同学做展示，是一种很好的拓宽阅读、学习理论的方法。
							</p>
							<span style="display: inline-block;height: 3px;width: 80%;float: right;background-color: #000;"></span>
						</section><span style="display: inline-block;float: right;transform: rotate(120deg);transform-origin: right top;margin-right: 17px;margin-top: 10px;">
							<em style="display:block;width: 20px;height: 1px;background-color: #000;"></em>
							<em style="display: block;width: 40px;height: 1px;background-color: #000;margin-left: 8px;margin-top: 5px;"></em>
						</span>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="max-width: 80% !important;margin: 10px auto;">
					<img src="../../upload/1459168e7c0d4cdcc5cbe1e0f151b9571f5532.png" style="max-width: 100%;margin: 0px auto;" />
				</section>
			</section>
			<section class="ue_block">
				<section style="width:195px;height:230px;margin: 10px auto;background-image: url(../../upload/1459153ccb4769090cda9336970996f46ff834.png);background-repeat: no-repeat;background-size: 100%;background-position: center;">
					<section style="width: 110px;height: 110px;margin: 0px auto;">
						<img src="../../images/ewm.png" style="width: 100%;margin-top: 30px;border: 1px solid #000;box-sizing: border-box;"  />
					</section>
				</section>
			</section>
		</div>
	</body>

</html>