<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>购物模板</title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section>
				<section class="ue_block">
					<section style="margin:10px auto;text-align:center;">
						<img src="../../upload/18041702a94d59ac56b5417812c0dabeffa391.jpeg" style="max-width:100%;margin:0px auto;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="margin-top:30px;text-align:center;padding:0 20px;">
						<img src="../../upload/18041712f80df1ceaf6fd8052fdd1df228b1d4.png" style="width:100%;margin:0px auto;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:40px auto;display:flex;justify-content:center;">
						<section style="background-image:url(../../upload/180416f59359cbbd4e7b012ce2c9a66ba3efd5.jpeg);background-size:auto 50px;background-repeat:no-repeat;background-position:left center;height:51px;padding-left: 24px;padding-right: 5px;">
							<section style="height:42px;border: 2px solid #484848;box-sizing: content-box;padding: 0 10px 6px 30px;border-left:0">
								<p style="height:45px;margin:0px;font-size:24px;line-height:45px;color:#000;padding:0px 15px;border-bottom:2px solid #484848;">
									第一台汽车
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="display:flex;justify-content: space-between;padding: 20px;">
						<section style="margin-top:20px;width: 28px;">
							<img src="../../upload/180417ffb92485269abd11ae1dfb011dcdf0c1.jpeg" style="width:100%;margin:0px auto;" />
						</section>
						<section style="width:200px">
							<img src="../../upload/1804174a8b9b71b0fa75d68212a97aa9f2a56b.png" style="width:100%;margin:0px auto;" />
						</section>
					</section>
					<section style="padding: 0 20px;">
						<p style="margin:0px;font-size:14px;color:#666666;line-height:1.8;">
							世界公认的汽车发明者是德国人卡尔·佛里特立奇·本茨。他在1885年研制出世界上第一辆马车式三轮汽车，而世界上第一辆汽车的诞生是在1886年1月29日，德国人朱卡尔·本茨和哥德利普·戴姆勒获得了世界上第一辆汽车的专利权，而这一天也被称之为汽车诞生日。对于谁是汽车的发明者，法国人明显是抱有不同看法的。法国人认为，早在德国人之前，法国的戴波梯维尔在1884年就发明了汽车并申请了专利，这确是事实。
						</p>
					</section>
					<section style="display:flex;justify-content: space-between;padding: 20px;">
						<section style="width:200px">
							<img src="../../upload/180417796613747960a1ac3d0f49fe9ce7520d.png" style="width:100%;margin:0px auto;" />
						</section>
						<section style="margin-top:20px;width: 28px;">
							<img src="../../upload/18041717832b32850957b28c4120e82e62ae0f.png" style="width:100%;margin:0px auto;" />
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:40px auto;display:flex;justify-content:center;margin-bottom: 30px;align-items:center;">
						<section style="width: 40px;margin-right: 10px">
							<img src="../../upload/1804179f0ab378100530267de3aa75f238b62a.png" style="max-width: 100%;vertical-align:middle;" />
						</section>
						<section style="display: flex;">
							<p style="margin: 0px auto;text-align:center;border:1px solid #676676;margin-right: 5px;width:30px;height:30px;line-height: 30px">
								汽
							</p>
							<p style="margin: 0px auto;text-align:center;border:1px solid #676676;margin-right: 5px;width:30px;height:30px;line-height: 30px">
								车
							</p>
							<p style="margin: 0px auto;text-align:center;border:1px solid #676676;margin-right: 5px;width:30px;height:30px;line-height: 30px">
								分
							</p>
							<p style="margin: 0px auto;text-align:center;border:1px solid #676676;margin-right: 5px;width:30px;height:30px;line-height: 30px">
								类
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="display:flex;justify-content: space-between;padding: 0 20px;">
						<span style="width: 30px;height:2px;border:0;background:#484848"></span><span style="width: 30px;height:2px;border:0;background:#484848"></span>
					</section>
					<section style="display:flex;justify-content: space-between;padding: 0 20px;">
						<span style="width: 2px;height:30px;border:0;background:#484848"></span>
						<p style="margin:0 auto;width:94%;margin-top: 7px;font-size:14px;color:#666;line-height:1.8">
							关于轿车分级各国规范各样，我国无统规范因为德国轿车最早与我国合资并占据定商场选用德国分级法。但随商场开展及商品换代，轿车尺度、发动机排量会有所改动通常分类依据原型车及出产渠道区分。 轿车的等级分类是如此区分的： 微型车、小型车、紧凑型车、中型车、中大型车、奢华车、小型SUV、紧凑型SUV、中型SUV、中大型SUV、全尺度SUV、MPV、跑车、皮卡、微面、轻客、微卡。
						</p><span style="width: 2px;height:30px;border:0;background:#484848"></span>
					</section>
					<section style="margin-top:10px;padding:0 20px;">
						<img src="../../upload/180417448d85c8292a44b416b16c10b400b49c.png" style="width:100%;margin:0px auto;" />
					</section>
					<section style="margin-top:30px;padding:0 20px;">
						<img src="../../upload/180417e4ddfd228d0a7083931584bc6a82c501.jpeg" style="width:100%;margin:0px auto;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:30px auto;display:flex;justify-content:center;align-items: center;">
						<section style="width: 40px;margin-right: 10px">
							<img src="../../upload/1804176cd7c887997a8116baea8bd24866a8d2.png" style="vertical-align:middle;max-width:100%;" />
						</section>
						<section style="display: flex;">
							<p style="margin: 0px auto;color: #666;font-size: 18px;letter-spacing: 4px;">
								车型列表
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:0px auto;display:flex;justify-content:center;margin-bottom:30px">
						<section style="background-image:url(../../upload/1804164e86e0dec2bffe92fad15e17419348e2.png);background-size:auto 50px;background-repeat:no-repeat;background-position:left center;height:51px;width:74px;">
							<p style="color: #666;font-size: 18px;letter-spacing: 4px;    margin-left: 20px;margin-top: 13px;">
								1
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:0 auto;">
						<section style="padding:0 40px">
							<img src="../../upload/180417c6f9a6528ef3ed5bb580c9f75490a4e8.jpeg" style="vertical-align:middle;max-width:100%;" />
						</section>
					</section>
					<section style="margin-top:-30px;padding:10px 20px;border:1px solid #484848">
						<section style="text-align: center;font-size: 20px;color: #111;font-weight: 500">
							<p style="margin:27px 0px;">
								跑车
							</p>
						</section>
						<section style="text-align: left;color: #666;font-weight: 500;font-size: 14px;     margin-top: -10px;">
							<p style="margin:0px;">
								跑车通常为双门规划，车身较低、外型流畅，有着对比激烈的运动感，座椅为双座或2+2式规划，与别的等级车型差异对比明显的是，跑车的发动机能够有前置、中置和后置三种方式；并且其车顶方式也有硬顶、硬顶敞篷和软顶敞篷三种。
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:20px auto 0;display:flex;justify-content:center;">
						<section style="background-image:url(../../upload/1804164e86e0dec2bffe92fad15e17419348e2.png);background-size:auto 50px;background-repeat:no-repeat;background-position:left center;height:51px;width:74px;">
							<p style="color: #666;font-size: 18px;letter-spacing: 4px;    margin-left: 20px;margin-top: 13px;">
								2
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:20px auto;display:flex;justify-content:center;border:1px solid #484848;padding:4px;">
						<span style="width:20px;height:20px;background:#484848;display: inline-block;margin-left: -4px;margin-top: -4px;"> </span>
						<section style="width:100%;border:1px solid #484848;padding:4px;margin-left: -15px;">
							<section>
								<section style="float:right;width:150px">
									<img src="../../upload/1804179ce294acf91b35956b9091f19ad44c30.jpeg" style="vertical-align:middle;max-width:100%;" />
								</section>
								<section style="text-align: center;font-size: 20px;color: #111;font-weight: 500">
									<p style="margin:15px auto;clear:none !important;">
										SUV
									</p>
								</section>
								<section style="text-align: left;color: #666;font-weight: 500;font-size: 14px;     margin-top: -10px;">
									<p style="margin:15px auto;clear:none !important;">
										UV指运动型多用途车,不同于可在崎岖地面使用的ORV越野车（Off-Road Vehicle的缩写），SUV全称是Sport Utility 。SUV的特点是强动力、越野性、宽敞舒适及良好的载物和载客功能，也有人说，SUV是豪华轿车的舒适精细加上越野车的本性。SUV是轿车与越野车的混血后裔，与其祖先相比，SUV如虎添翼。SUV乘坐空间表现比较出色，无论在前排还是后排，都能可以宽裕的坐在车里。前排座椅的包裹性与支撑性十分到位，此外车内的储物格比较多，日常使用方便。
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin-top:40px;padding:0;">
						<img src="../../upload/1804175bc07a1db8dd33c73200b50f3e3e9c11.png" style="width:100%;margin:0px auto;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="background-image:url(../../upload/180416475c5f7f6d3958baf62cc7b4d7f7b2b9.jpeg);background-repeat:no-repeat;background-position:left center;background-size:100%;height:170px;padding-top:21px;padding-left:40px;margin-top:50px;">
						<section style="width:128px;">
							<img src="../../images/ewm.png" style="vertical-align:middle;max-width:100%;" />
						</section>
					</section>
				</section>
			</section>
			
		</div>
	</body>

</html>