<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>招聘模板</title>
	</head>

	<body>
		<div class="w">
			<section>
				<section>
					<section style="margin:10px auto;text-align:center;">
						<img src="../../upload/14372311e0b755b1e6ec07f86cf4071673130d.jpeg" style="max-width:100%;margin:0px auto;" />
					</section>
				</section>
				<section>
					<section style="margin:10px auto;text-align:center;max-width:280px !important;">
						<img src="../../upload/14372378648f7af1910f7ee0a7cc7352ebfe51.png" style="max-width:100%;margin:0px auto;" />
					</section>
				</section>
				<section>
					<section style="margin:10px auto;display:flex;justify-content:center;">
						<section style="background-image:url(../../upload/1437213845a36ace161f45a0e0e9f7a461bd5d.png);background-size:auto 50px;background-repeat:no-repeat;background-position:right bottom;">
							<section style="height:45px;background-color:#0f71c8;margin:-7px 7px 7px -7px;">
								<p style="margin:0px;font-size:18px;line-height:45px;color:#fff;padding:0px 15px;">
									公司简介
								</p>
							</section>
						</section>
					</section>
				</section>
				<section>
					<section style="background-color:#fff7e9;margin:10px auto;">
						<section style="background-image:url(../../upload/14372115cb1aa1984269be1cc6af88378d6817.jpeg);background-repeat:repeat-x;background-size:auto 10px;height:10px;"></section>
						<section style="display:flex;justify-content:space-between;">
							<section style="background-image:url(../../upload/143721fc6b00fd6fb28b6ab7ef86d98466e43a.jpeg);background-repeat:repeat-y;background-size:10px auto;width:10px;flex-shrink:0;"></section>
							<section style="width:calc(100% - 20px);padding:20px;box-sizing:border-box;display:flex;align-items:strech;">
								<section style="width:120px;flex-shrink:0;">
									<img src="../../upload/14372379aec3cdb2693ada5dfaa2d1815178c5.jpeg" style="max-width:100%;margin:0px auto;vertical-align:bottom;"  />
								</section>
								<section style="margin-left:10px;padding-left:10px;border-left:2px solid #82634f;">
									<p style="margin:0px;font-size:15px;color:#666666;line-height:1.5;">
										XX网站策划股份有限公司成立于20XX年,注册资金80万,是XX一家专业的网站策划公司。公司服务于中小企业,提供网站策划,网站设计制作建设,网络推广营销于一体的专业服务。公司以“专注网站,用心服务”为核心价值,希望通过我们的专业水平和不懈努力,供服务指导。
									</p>
								</section>
							</section>
							<section style="background-image:url(../../upload/143721fc6b00fd6fb28b6ab7ef86d98466e43a.jpeg);background-repeat:repeat-y;background-size:10px auto;width:10px;flex-shrink:0;"></section>
						</section>
						<section style="background-image:url(../../upload/14372115cb1aa1984269be1cc6af88378d6817.jpeg);background-repeat:repeat-x;background-size:auto 10px;height:10px;"></section>
					</section>
				</section>
				<section>
					<section style="margin:10px auto;display:flex;max-width:320px !important;justify-content:center;">
						<section style="margin-right:10px;">
							<section style="display:flex;align-items:center;font-size:0px;">
								<span style="display:block;width:20px;height:20px;border:1px solid #0f71c8;margin-right:10px;"><em style="display:block;width:20px;height:20px;background-color: #0f71c8;margin:-5px 5px 5px -5px;"></em></span> 
								<p style="margin:0px;font-size:20px;color:#0f71c8;">
									办公环境
								</p>
							</section>
							<section style="overflow:hidden;margin-top:10px;">
								<section style="width:20px;margin-bottom:15px;">
									<img src="../../upload/14372307bd779062a08a1efeff1f7cdbb86ace.png" style="max-width:100%;margin:0px auto;" />
								</section>
								<section style="padding:0px 20px;">
									<p style="margin:0px;font-size:15px;line-height:1.5;color:#666666;">
										1、环境优美
									</p>
									<p style="margin:0px;font-size:15px;line-height:1.5;color:#666666;">
										2、工作氛围良好
									</p>
									<p style="margin:0px;font-size:15px;line-height:1.5;color:#666666;">
										3、全年恒温
									</p>
									<p style="margin:0px;font-size:15px;line-height:1.5;color:#666666;">
										4、有吧台供员工更好的休息
									</p>
									<p style="margin:0px;font-size:15px;line-height:1.5;color:#666666;">
										5、自由度高
									</p>
								</section>
								<section style="width:20px;margin-top:15px;float:right;">
									<img src="../../upload/143723b898dd6c5229c787a46429fd8aaf9287.png" style="max-width:100%;margin:0px auto;"  />
								</section>
							</section>
						</section>
						<section style="width:140px;flex-shrink:0;">
							<img src="../../upload/1437234765743bd723ea11506c04a141f1d4d1.jpeg" style="max-width:100%;margin:0px auto;vertical-align:bottom;"  />
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:10px auto;text-align:center;">
						<img src="../../upload/143723924ad48ff70ee90f8ccac3d1359f9669.png" style="max-width:100%;margin:0px auto;"  />
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:10px auto;display:flex;justify-content:center;">
						<section style="background-color:#0f71c8;transform:rotate(-10deg);">
							<section style="height:40px;background-color:#1e8ef1;transform:rotate(10deg);padding:3px;">
								<p style="margin:0px;font-size:18px;line-height:30px;color:#fff;padding:0px 15px;border:2px solid #fff;">
									公司简介
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:10px auto;">
						<section style="display:flex;justify-content:space-between;padding:0px 25px;align-items:flex-end;margin-bottom: -15px;">
							<section style="margin-bottom: -32px;width:31px;background-image:url(../../upload/1437215f2c54ccb288f17621cb4beb2aba052c.png);background-size:31px auto;background-repeat:no-repeat;background-position:left top;height:47px;padding-top:7px;">
								<p style="color:#e01f3b;font-size:16px;line-height:23px;margin:0px;text-align:center;" class="count">
									1
								</p>
							</section>
							<section style="padding:0px 8px;background-color:#fff;font-size:0px;">
								<span style="display:inline-block;width:15px;height:15px;background-color:#0f71c8;border-radius:50%;margin:0px 5px;"></span>
								<span style="display:inline-block;width:15px;height:15px;background-color:#0f71c8;border-radius:50%;margin:0px 5px;"></span>
								<span style="display:inline-block;width:15px;height:15px;background-color:#0f71c8;border-radius:50%;margin:0px 5px;"></span>
								<span style="display:inline-block;width:15px;height:15px;background-color:#0f71c8;border-radius:50%;margin:0px 5px;"></span>
								<span style="display:inline-block;width:15px;height:15px;background-color:#0f71c8;border-radius:50%;margin:0px 5px;"></span>
							</section>
						</section>
						<section style="border:2px solid #0f71c8;padding:10px;">
							<section style="border:2px solid #0f71c8;padding:20px 20px 10px 10px;display:flex;align-items:flex-end;">
								<section style="width:30px;flex-shrink:0;margin-right:15px;font-size:0px;">
									<span style="width:0;height:0;border-width:5px 17px 18px;;border-style:solid;border-color:transparent transparent #0f71c8;display: inline-block;"></span>
									<span style="width:0;height:0;border-width:5px 17px 18px;;border-style:solid;border-color:transparent transparent #0f71c8;display: inline-block;"></span>
									<span style="width:0;height:0;border-width:5px 17px 18px;border-style:solid;border-color:transparent transparent #0f71c8;display: inline-block;"></span>
								</section>
								<section>
									<p style="margin:0px;font-size:20px;color:#666666;text-align:center;margin-bottom:10px;line-height:1.5;">
										销售员
									</p>
									<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
										任职要求：
									</p>
									<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
										1、有一年及以上销售经验者，大专以上 学历；
									</p>
									<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
										2、年龄25-35岁之间，优先考虑；
									</p>
									<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
										3、具备良好的职业道德，务实、能吃苦 耐劳、有较强的事业心；
									</p>
									<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
										4、具备良好的沟通能力和团队合作意识。
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:10px auto;">
						<section style="display:flex;justify-content:space-between;padding:0px 25px;align-items:flex-end;margin-bottom: -15px;">
							<section style="margin-bottom: -32px;width:31px;background-image:url(../../upload/1437215f2c54ccb288f17621cb4beb2aba052c.png);background-size:31px auto;background-repeat:no-repeat;background-position:left top;height:47px;padding-top:7px;">
								<p style="color:#e01f3b;font-size:16px;line-height:23px;margin:0px;text-align:center;" class="count">
									2
								</p>
							</section>
						</section>
						<section style="background-color:#0f71c8;">
							<section style="border:2px solid #0f71c8;padding:20px 10px 30px 4px;display:flex;align-items:strech;">
								<section style="background-image:url(../../upload/143721998ea142e6408f9b7a9e7d15702abb94.jpeg);background-size:12px auto;background-repeat:repeat-y;width:12px;margin-right:20px;flex-shrink:0;"></section>
								<section>
									<p style="margin:0px;font-size:20px;color:#fff;text-align:center;margin-bottom:10px;line-height:1.5;">
										设计师
									</p>
									<section style="background-color:#fff;padding:30px 20px;">
										<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
											任职要求：
										</p>
										<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
											1、会基本的PS/AI/CDR软件，至少要求 能够独立完成名片和单页的设计；
										</p>
										<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
											2、大专及以上学历；
										</p>
										<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
											3、协助其他部门人员完成设计及美学方 面的相关设计工作；
										</p>
										<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
											4、具备良好的沟通能力和团队合作意识。
										</p>
										<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
											5、根据公司业务的需求，协助设计进行 平面广告、等形象设计；
										</p>
										<p style="margin:0px;font-size:15px;color:#666666;text-align:left;line-height:1.5;">
											6、热爱软件、设计类方面的工作，有一定 的美术功底、基本设计软件操作和审美；
										</p>
									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:10px auto;text-align:center;">
						<img src="../../upload/143723c69faddbccdc72b3d999aa14edcbde98.png" style="max-width:100%;margin:0px auto;"  />
					</section>
				</section>
				<section class="ue_block">
					<section style="display:flex;justify-content:center;max-width:320px !important;margin:10px auto;align-items:flex-end;">
						<section style="width:110px;">
							<img src="../../upload/143723e4656d3a6c2f8185af164039881709ba.png" style="max-width:100%;margin:0px auto;"  />
						</section>
						<section style="width: 125px;">
							<img src="../../images/ewm.png" style="max-width:100%;vertical-align:bottom;"  />
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>