<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section style="border: 0px none rgb(170, 166, 149); margin: 1em 0px; clear: both; box-sizing: border-box; padding: 0px; display: block; height: 50px;">
				<section style="text-align: center; font-size: 1em; font-weight: inherit; text-decoration: inherit; color: rgb(254, 254, 254); border-color: rgb(170, 166, 149); box-sizing: border-box; padding: 0px; margin: 0px; clear: both; background-color: transparent;">
					<section data-bclessp="15%" style="margin: 5px 10px; transform: skew(-20deg); display: inline-block; font-size: 16px; color: inherit; border-color: rgb(204, 202, 191); border-left-width: 10px; border-left-style: solid; border-right-width: 10px; border-right-style: solid; box-sizing: border-box; padding: 0px;">
						<section data-bclessp="8%" style="margin: 0px; display: inline-block; font-size: 16px; color: rgb(255, 255, 255); border-left-width: 10px; border-left-style: solid; border-color: rgb(188, 185, 172); border-right-width: 10px; border-right-style: solid; box-sizing: border-box; padding: 0px; background-color: rgb(170, 166, 149);">
							<span style="box-sizing:border-box; color:inherit; margin:0px; padding:0px"><strong style="border-color: rgb(170, 166, 149); box-sizing: border-box; color: inherit; margin: 0px; padding: 0px;"><span style="transform: skew(20deg); border-color: #AAA695; box-sizing: border-box; color: #FEFEFE; display: inline-block; margin: 0px; padding: 8px 15px;">标题标题标题</span></strong>
							</span>
						</section>
					</section>
					<section style="margin-top: -2em; box-sizing: border-box; color: inherit; padding: 0px;">
						<section style="border-top-width: 2px; border-top-style: solid; width: 35%; float: left; border-color: rgb(170, 166, 149); box-sizing: border-box; color: inherit; padding: 0px; margin: 0px;"></section>
						<section style="border-top-width: 2px; border-top-style: solid; width: 35%; float: right; border-color: rgb(170, 166, 149); box-sizing: border-box; color: inherit; padding: 0px; margin: 0px;"></section>
					</section>
				</section>
			</section>
		</div>
		<div class="w">
			<section style="line-height: 1.7;font-size: 14px;letter-spacing: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;">
				<p style="box-sizing: border-box;text-indent: 2em;">
					关于汽车分级各国规范各样，我国无统规范因为德国轿车最早与我国合资并占据定商场选用德国分级法。
				</p>
				<p style="box-sizing: border-box;text-indent: 2em;">
					但随商场开展及商品换代，轿车尺度、发动机排量会有所改动通常分类依据原型车及出产渠道区分。 轿车的等级分类是如此区分的： 微型车、小型车、紧凑型车、中型车、中大型车、奢华车、小型SUV、紧凑型SUV、中型SUV、中大型SUV、全尺度SUV、MPV、跑车、皮卡、微面、轻客、微卡。
				</p>
			</section>
		</div>
		<div class="w">
			<img src="../../upload/1804179ce294acf91b35956b9091f19ad44c30.jpeg" style="width: 100%;height: auto;border: none;vertical-align: middle;padding: 5px 1em;display: inline-block;width: 100%;box-sizing: border-box;">
		</div>
		<div class="w">
			<section style="width: 100%; margin: 15px auto 0; text-align: center;">
				<img src="../../upload/gg.png" style="margin-right: auto; margin-left: auto;max-width: 100%;">
			</section>
		</div>
		<div class="w">
			<section class="ue_block" style="padding: 15px;">
				<section style="padding:0px 5px;line-height:1.8em;color:#393D49;font-size:13px;">
					<p><a href="#">▶&nbsp;链接文本链接文本链接文本链接文本</a></p>
					<p><a href="#">▶&nbsp;链接文本链接文本链接文本链接文本</a></p>
					<p><a href="#">▶&nbsp;链接文本链接文本链接文本链接文本</a></p>
					<p><a href="#">▶&nbsp;链接文本链接文本链接文本链接文本</a></p>
				</section>
			</section>
		</div>
		<div class="w">
			<section class="ue_block" style="border: 0px none; padding: 0px;">
				<section style="position: static; box-sizing: border-box;">
					<section style="margin: 15px 0% 15px; position: static; box-sizing: border-box;display: flex;justify-content: space-around;">
						<section style="display: block; vertical-align: top; width: 49%; box-sizing: border-box;">
							<section style="position: static; box-sizing: border-box;">
								<section style="text-align: center; margin: 0px 0%; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); position: static; box-sizing: border-box;">
									<img style="max-width: 100%; vertical-align: middle; width: 80%; box-sizing: border-box;" src="../../images/ewm.png" data-ratio="1" data-w="258" _width="80%">
								</section>
							</section>
						</section>
						<section style="display: block; vertical-align: top; width: 49%; box-sizing: border-box;">
							<section style="position: static; box-sizing: border-box;">
								<section style="text-align: center; margin: 0px 0%; opacity: 0.67; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); position: static; box-sizing: border-box;">
									<img style="width: 90%; height: 90%; opacity: 1; box-sizing: border-box;" src="../../upload/19051428e3089f5df034d0888c87557d0b15ce.png" data-ratio="0.9066667" data-w="150" _width="70%" data-tools-id="38070">
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
		</div>
		
	</body>

</html>