<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>购物模板</title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section>
				<section class="ue_block">
					<section style="margin:0px auto;text-align:center;background-image:url(../../upload/1902035388d50b9fba4d440fed850487c137cc.jpeg);background-repeat:no-repeat;background-size:100% 100%;padding:35px 0px;max-width:360px !important;">
						<section style="background-image:url(../../upload/190203a03c393ba0de71514e4f249eaaacb0e4.png);background-repeat:no-repeat;background-size:80% auto;background-position:center top;">
							<p style="margin:0px auto;font-size:24px;text-align:center;">
								活动主题
							</p>
							<p style="margin:0px auto;font-size:18px;text-align:center;margin-top:15px;">
								UP TO 30%
							</p>
						</section>
						<p style="display:inline-block;height:35px;line-height:35px;border-radius:20px;margin:0px auto;text-align:center;margin-top:15px;background-image:linear-gradient(65deg, rgb(24,224,234) 0%, rgb(154,151,251) 100%);color:#fff;padding:0px 20px;">
							活动时间：12月1日-12月12日
						</p>
					</section>
				</section>
				<section class="ue_block">
					<section style="background-image:linear-gradient(65deg, rgb(24,224,234) 0%, rgb(154,151,251) 100%);padding:10px;margin:10px auto;display:flex;">
						<section style="width:100px;flex-shrink:0;">
							<img src="../../upload/19020465bd13a1bbe46023de3974c5c55112ae.jpeg"  style="vertical-align:top;" />
						</section>
						<section style="flex-shrink:1;margin-left:15px;">
							<p style="margin:0px auto;text-align:left;color:#fff;font-size:24px;line-height:1.5;margin-top:8px;">
								双十二的正确打开方式
							</p>
							<p style="margin:0px auto;color:#fff;font-size:16px;margin-top:8px;height:30px;line-height:30px;background-color:#fe6366;border-radius:20px;padding:0px 15px;display:inline-block;margin-top:10px;">
								看直播
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="background-image:url(../../upload/190203a20da0ef460dd7266519bfeaf787fa77.png);background-repeat:no-repeat;background-size:150px auto;background-position:center top;height:70px;display:flex;align-items:center;justify-content: center;">
						<section style="height:40px;background-image:linear-gradient(65deg, rgb(24,224,234) 0%, rgb(154,151,251) 100%);display:inline-block;padding:3px;border-radius:5px;">
							<section style="background-color:#fff;height:34px;line-height:34px;border-radius:5px;padding:0px 17px;min-width:170px;">
								<p style="margin:0px auto;text-align:center;">
									领券下单更优惠
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:360px !important;margin:0px auto;">
						<section style="display:flex;justify-content:center;">
							<section style="margin:10px;background-image:linear-gradient(65deg, rgb(24,224,234) 0%, rgb(154,151,251) 100%);border-radius:3px;padding:8px;">
								<section style="border:2px solid #fff;color:#fff;padding:20px 10px;text-align:center;">
									<p style="margin:0px auto;font-size:44px;line-height:1;">
										<span style="font-size:14px;">￥</span>20
									</p>
									<p style="margin:0px auto;margin-top:18px;font-size:18px;line-height:1;">
										优惠券
									</p>
									<section style="border-top:1px solid #fcc370;display:flex;justify-content:center;margin-top:10px;">
										<span style="display:inline-block;width:30px;height:3px;background-color:#fcc370;"></span>
									</section>
									<p style="margin:0px auto;line-height:1;margin-top:15px;">
										满199元使用
									</p>
								</section>
							</section>
							<section style="margin:10px;background-image:linear-gradient(65deg, rgb(24,224,234) 0%, rgb(154,151,251) 100%);border-radius:3px;padding:8px;">
								<section style="border:2px solid #fff;color:#fff;padding:20px 10px;text-align:center;">
									<p style="margin:0px auto;font-size:44px;line-height:1;">
										<span style="font-size:14px;">￥</span>20
									</p>
									<p style="margin:0px auto;margin-top:18px;font-size:18px;line-height:1;">
										优惠券
									</p>
									<section style="border-top:1px solid #fcc370;display:flex;justify-content:center;margin-top:10px;">
										<span style="display:inline-block;width:30px;height:3px;background-color:#fcc370;"></span>
									</section>
									<p style="margin:0px auto;line-height:1;margin-top:15px;">
										满199元使用
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:360px !important;margin:0px auto;">
						<section style="background-image:url(../../upload/1902036bffe54712cd644798b30bafe7609278.jpeg);background-repeat:no-repeat;background-size:100% auto;height:60px;display:flex;justify-content:center;align-items:center;">
							<p style="display:inline-block;height:40px;line-height:40px;background-color:rgba(255,255,255,0.7);font-size:22px;padding:0px 15px;min-width:150px;color:#333333;text-align:center;">
								镇店TOP款
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block" data-tools-id="50628">
					<section style="white-space: normal;max-width:480px !important;margin:0px auto;">
						<section style="white-space: nowrap !important;width: 100%;overflow-x:auto;overflow-y: hidden;font-size: 0px;">
							<section style="display:inline-block;">
								<section style="overflow:hidden;">
									<img src="../../upload/1902049ee6fcf78a4bd349ec26fd400942d684.jpeg" style="width: 100%;"  />
									<section style="background-color:rgba(255,255,255,0.8);color:#333;text-align:center;float:right;margin-top:-180px;margin-right:20px;transform:rotate(0deg);padding:10px;font-size:16px;">
										<p style="height:45px;line-height:45px;border-bottom:2px solid #333333;font-size:24px;margin:0px auto;">
											12月新品
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:10px;">
											定金翻10倍
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:5px;">
											50抵500
										</p>
									</section>
								</section>
								<section style="display:flex;justify-content:center;align-items:center;">
									<section style="display:inline-block;margin-top:-40px;">
										<span style="display:inline-block;width:15px;height:15px;box-sizing:border-box;border:2px solid #fff;border-radius:50%;margin:0px 5px;margin-bottom:-2px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span>
									</section>
								</section>
							</section>
							<section style="display:inline-block;">
								<section style="overflow:hidden;">
									<img src="../../upload/190204fad42b24974fe33407ca3ed9a637545b.jpeg" style="width: 100%;" />
									<section style="background-color:rgba(255,255,255,0.8);color:#333;text-align:center;float:right;margin-top:-180px;margin-right:20px;transform:rotate(0deg);padding:10px;font-size:16px;">
										<p style="height:45px;line-height:45px;border-bottom:2px solid #333333;font-size:24px;margin:0px auto;">
											12月新品
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:10px;">
											定金翻10倍
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:5px;">
											50抵500
										</p>
									</section>
								</section>
								<section style="display:flex;justify-content:center;align-items:center;">
									<section style="display:inline-block;margin-top:-40px;">
										<span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:15px;height:15px;box-sizing:border-box;border:2px solid #fff;border-radius:50%;margin:0px 5px;margin-bottom:-2px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span>
									</section>
								</section>
							</section>
							<section style="display:inline-block;">
								<section style="overflow:hidden;">
									<img src="../../upload/190204c90558428c7b90c34105bc35159bb57e.jpeg" style="width: 100%;" />
									<section style="background-color:rgba(255,255,255,0.8);color:#333;text-align:center;float:right;margin-top:-180px;margin-right:20px;transform:rotate(0deg);padding:10px;font-size:16px;">
										<p style="height:45px;line-height:45px;border-bottom:2px solid #333333;font-size:24px;margin:0px auto;">
											12月新品
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:10px;">
											定金翻10倍
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:5px;">
											50抵500
										</p>
									</section>
								</section>
								<section style="display:flex;justify-content:center;align-items:center;">
									<section style="display:inline-block;margin-top:-40px;">
										<span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:15px;height:15px;box-sizing:border-box;border:2px solid #fff;border-radius:50%;margin:0px 5px;margin-bottom:-2px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span>
									</section>
								</section>
							</section>
							<section style="display:inline-block;">
								<section style="overflow:hidden;">
									<img src="../../upload/19020471bd8c003b6c357614e79ef15cf24b06.jpeg" style="width: 100%;"  />
									<section style="background-color:rgba(255,255,255,0.8);color:#333;text-align:center;float:right;margin-top:-180px;margin-right:20px;transform:rotate(0deg);padding:10px;font-size:16px;">
										<p style="height:45px;line-height:45px;border-bottom:2px solid #333333;font-size:24px;margin:0px auto;">
											12月新品
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:10px;">
											定金翻10倍
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:5px;">
											50抵500
										</p>
									</section>
								</section>
								<section style="display:flex;justify-content:center;align-items:center;">
									<section style="display:inline-block;margin-top:-40px;">
										<span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:15px;height:15px;box-sizing:border-box;border:2px solid #fff;border-radius:50%;margin:0px 5px;margin-bottom:-2px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span>
									</section>
								</section>
							</section>
							<section style="display:inline-block;">
								<section style="overflow:hidden;">
									<img src="../../upload/190204c62a64b9e26b1dc8823dc474f1c22f59.jpeg" style="width: 100%;"  />
									<section style="background-color:rgba(255,255,255,0.8);color:#333;text-align:center;float:right;margin-top:-180px;margin-right:20px;transform:rotate(0deg);padding:10px;font-size:16px;">
										<p style="height:45px;line-height:45px;border-bottom:2px solid #333333;font-size:24px;margin:0px auto;">
											12月新品
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:10px;">
											定金翻10倍
										</p>
										<p style="margin:0px auto;text-align:left;margin-top:5px;">
											50抵500
										</p>
									</section>
								</section>
								<section style="display:flex;justify-content:center;align-items:center;">
									<section style="display:inline-block;margin-top:-40px;">
										<span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span> <span style="display:inline-block;width:10px;height:10px;background-color:#fff;border-radius:50%;margin:0px 5px;"></span><span style="display:inline-block;width:15px;height:15px;box-sizing:border-box;border:2px solid #fff;border-radius:50%;margin:0px 5px;margin-bottom:-2px;"></span>
									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:360px !important;margin:10px auto;">
						<section style="background-image:url(../../upload/190203d8a5de42ef24ae74379a5bc9a96457d3.jpeg);background-repeat:no-repeat;background-size:100% auto;height:90px;display:flex;justify-content:center;align-items:center;">
							<section style="display:inline-block;height:60px;background-color:rgba(255,255,255,0.7);padding:0px 15px;min-width:150px;color:#333333;text-align:center;display:flex;padding:8px;box-sizing:border-box;">
								<p style="margin:0px auto;line-height:44px;font-size:28px;">
									SALE
								</p>
								<section style="border-left:2px solid #000;padding-left:10px;margin-left:10px;transform:rotate(0deg);">
									<p style="margin:0px auto;font-size:20px;line-height:22px;">
										经典
									</p>
									<p style="margin:0px auto;font-size:20px;line-height:22px;">
										返场
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:360px !important;margin:0px auto;">
						<section style="overflow:hidden;transform:rotate(0deg)">
							<section style="float:right;display:inline-block;width:200px;">
								<img src="../../upload/190204cdd1c5c7d9b67aa8c82474823f3ba7b7.jpeg" alt="" />
							</section>
						</section>
						<section style="margin-top:-60px;display:flex;align-items:flex-start;">
							<section style="width:210px;background-image:linear-gradient(65deg, rgb(24,224,234) 0%, rgb(154,151,251) 100%);padding:5px 5px 0px 0px;flex-shrink:0;">
								<img src="../../upload/190204befa876c8977c7f0127d3758939d1859.jpeg"  style="vertical-align:top;" />
							</section>
							<section style="padding-top:90px;flex-shrink:1;padding-left:20px;text-align:left;">
								<section style="margin:0px auto;text-align:center;width:20px;">
									<img src="../../upload/19020343c2cddc4d1262ee5b8fc124fa01782d.png" style="margin:0px auto;text-align:center;vertical-align:top;" />
								</section>
								<p style="margin:0px auto;font-size:22px;line-height:1;margin-top:20px;">
									加厚围巾
								</p>
								<p style="margin:0px auto;font-size:18px;line-height:1;margin-top:20px;">
									ID：347689
								</p>
								<p style="margin:0px auto;font-size:18px;line-height:1;margin-top:10px;">
									RMB 999
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:10px auto;margin-bottom:25px;">
						<section style="margin:0px auto;text-align:center;">
							<img src="../../upload/1902042bda78c6879e1be5d38b4d859ed8c247.jpeg"  style="margin:0px auto;text-align:center;" />
						</section>
						<section style="margin-top:-140px;margin-left:20px;transform:rotate(0deg);text-align:left;">
							<section style="width:150px;background-color:rgba(255,255,255,0.7);padding:10px;">
								<p style="font-size:24px;color:#333333;margin:0px auto;">
									加厚围巾
								</p>
								<p style="font-size:18px;color:#333333;margin:0px auto;margin-top:10px;">
									ID：347689
								</p>
								<p style="font-size:18px;color:#333333;margin:0px auto;margin-top:5px;">
									RMB 999
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:480px;display:flex;justify-content:space-around;margin:0px auto;">
						<section style="margin:0px 10px;">
							<section>
								<img src="../../upload/190204978dddb1eb5d3a3f9af8213626114495.jpeg"  style="vertical-align:top;" />
							</section>
							<section style="height:40px;background-color:rgba(255,255,255,0.8);margin-top:-40px;transform:rotate(0deg);">
								<p style="padding-left:10px;line-height:40px;margin:0px auto;font-size:20px;">
									加厚围巾
								</p>
							</section>
							<section style="transform:rotate(0deg);margin-top:-68px;height:68px;background-image:url(../../upload/1902038aceb9290b303988cd750dac9f724c9d.png);background-repeat:no-repeat;background-size:auto 100%;background-position:right top;">
								<p style="margin:0px auto;text-align:right;padding-right:14px;color:#fff;padding-top:11px;font-size:12px;">
									双12价
								</p>
								<p style="margin:0px auto;text-align:right;padding-right:10px;color:#fff;padding-top:3px;font-size:20px;">
									￥311
								</p>
							</section>
						</section>
						<section style="margin:0px 10px;">
							<section>
								<img src="../../upload/190204978dddb1eb5d3a3f9af8213626114495.jpeg"  style="vertical-align:top;" />
							</section>
							<section style="height:40px;background-color:rgba(255,255,255,0.8);margin-top:-40px;transform:rotate(0deg);">
								<p style="padding-left:10px;line-height:40px;margin:0px auto;font-size:20px;">
									加厚围巾
								</p>
							</section>
							<section style="transform:rotate(0deg);margin-top:-68px;height:68px;background-image:url(../../upload/1902038aceb9290b303988cd750dac9f724c9d.png);background-repeat:no-repeat;background-size:auto 100%;background-position:right top;">
								<p style="margin:0px auto;text-align:right;padding-right:14px;color:#fff;padding-top:11px;font-size:12px;">
									双12价
								</p>
								<p style="margin:0px auto;text-align:right;padding-right:10px;color:#fff;padding-top:3px;font-size:20px;">
									￥311
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:480px !important;margin:0px auto;display:flex;">
						<section style="padding:10px;flex:1;">
							<section style="background-image:url(../../upload/19020315c72deb727cdd42870eb00f2644959e.jpeg);height:60px;background-repeat:no-repeat;background-size:100% auto;display:flex;justify-content:center;align-items: center;">
								<span style="width: 0px;height: 0px;border-right: 0px;border-left: 10px solid #333;border-top: 8px solid transparent;border-bottom: 8px solid transparent;margin-left: 7px;transform:rotate(0deg)"></span>
								<section style="height:45px;box-sizing:border-box;border-bottom:2px solid #fff;background-color:rgba(255,255,255,0.3);width:138px;margin-left:-20px;">
									<p style="color:#333333;font-size:18px;margin:0px auto;line-height:42px;text-align:center;">
										衣服
									</p>
								</section>
							</section>
						</section>
						<section style="padding:10px;flex:1;">
							<section style="background-image:url(../../upload/190203444c664183b250d20bb04b20124b4d07.jpeg);height:60px;background-repeat:no-repeat;background-size:100% auto;display:flex;justify-content:center;align-items: center;">
								<span style="width: 0px;height: 0px;border-right: 0px;border-left: 10px solid #333;border-top: 8px solid transparent;border-bottom: 8px solid transparent;margin-left: 7px;transform:rotate(0deg)"></span>
								<section style="height:45px;box-sizing:border-box;border-bottom:2px solid #fff;background-color:rgba(255,255,255,0.3);width:138px;margin-left:-20px;">
									<p style="color:#333333;font-size:18px;margin:0px auto;line-height:42px;text-align:center;">
										配饰
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:360px !important;margin:0px auto;">
						<section style="background-image:url(../../upload/1902038869c3c253845bcd0b0f1d6f75543878.jpeg);background-repeat:no-repeat;background-size:100% auto;padding:30px 15px 20px 15px;text-align:center;color:#fff;background-color:#01084a;">
							<p style="font-size:28px;margin:0px auto;line-height:1;">
								B.duck
							</p>
							<section style="margin-top:10px;">
								<img src="../../upload/1902040b94b08fd1133e9f133e9af058208e48.png" alt="" />
							</section>
							<p style="margin:15px auto;text-align:left;font-size:16px;line-height:1.5;">
								B.Duck代表着潮流、玩味、创新百变的，一直以抢先中高端消费群为对象，八成的粉丝是女性，年龄组别介于15-35岁，这些数据主导着B.Duck的产品研发。
							</p>
							<section style="margin-top:10px;">
								<img src="../../upload/1902040332d630dbdfa27f6fa9cdcc8a5a899c.png" alt="" />
							</section>
							<section style="width:150px;margin:0px auto;margin-top:25px;">
								<img src="../../images/ewm.png" />
							</section>
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>