<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="border-color: rgb(250, 251, 245);color: rgb(155, 172, 69);background-color: rgb(255, 255, 245);box-sizing: border-box;">
					<section style="border-width: 0px;border-style: initial;border-color: rgb(255, 179, 167);color: rgb(62, 62, 62);font-size: 16px;line-height: 25px;box-sizing: border-box;">
						<section style="padding: 1px;border-width: 1px;border-style: solid;border-color: rgb(230, 183, 65);color: rgb(0, 0, 0);font-size: 14px;box-sizing: border-box;">
							<section style="padding: 1px;border-width: 1px;border-style: solid;border-color: rgb(230, 183, 65);box-sizing: border-box;">
								<section style="padding: 1px;border-width: 1px;border-style: solid;border-color: rgb(230, 183, 65);box-sizing: border-box;">
									<p style="line-height:24px;">
										<br/>
									</p>
									<section>
										<section class="ue_block">
											<section style="margin: 1em; border-width: 0px; border-style: initial; border-color: #ffb3a7; text-align: center;">
												<section style="display: inline-block; padding: 1px; border-width: 1px; border-style: solid; border-color: #e6b741; color: #000000; font-size: 14px; border-radius: 100%; height: 112px; width: 112px;">
													<section style="padding: 1px; border-width: 1px; border-style: solid; border-color: #e6b741; border-radius: 100%; height: 108px; width: 108px;">
														<section style="padding: 2px; border-width: 1px; border-style: solid; border-color: #e6b741; border-radius: 100%; height: 104px; width: 104px;">
															<img src="../../upload/1414a16212354312654512312351ac96sada.jpg" style="border-radius:100%;color:inherit;height:98px;width:98px;" vspace="0" />
														</section>
													</section>
												</section>
											</section>
											<section>
												<section style="border-width: 0px; border-style: initial; border-color: #ff8124; width: 100%; clear: both; margin-bottom: 10px; padding-right: 0.5em; padding-bottom: 0.5em; text-align: center; text-shadow: #e6b741 3px 4px 2px; color: inherit;">
													<span style="color:#2a323f;font-size:20px;"><strong>CROWN RESORTS</strong></span>
												</section>
											</section>
										</section>
										<section style="border-width: 0px;border-style: initial;border-color: rgb(255, 129, 36);width: 100%;clear: both;margin-bottom: 10px;padding-right: 0.5em;padding-bottom: 0.5em;text-align: center;text-shadow: rgb(230, 183, 65) 3px 4px 2px;color: inherit;box-sizing: border-box;">
											<span style="color:#2A323F;font-size:20px;"></span>
										</section>
									</section>
									<section class="ue_block">
										<p>
											<br/>
										</p>
										<hr style="margin:2px 5%;border-color:#323b4c;" />
										<hr style="margin:1px 5%;border-color:#323b4c;" />
										<p style="line-height:24px;text-align:center;">
											<br/>
										</p>
										<section>
											<section style="line-height:24px;text-align:center;color:rgb(50,59,76);line-height:1.6em">
												<p style="line-height:24px;text-align:center;">
													<span style="color:#323b4c;">Crown Special Offer &amp;<span style="line-height:1.6em;">$20 Free</span></span>
												</p>
											</section>
										</section>
									</section>
									<section>
										<section style="line-height:24px;text-align:center;color:rgb(50,59,76)margin:10px;color:#323b4c;">
											<section class="ue_block">
												<p style="line-height: 24px;text-align: center;">
													<br/>
												</p>
												<p style="line-height: 24px; text-align: center;">
													<span style="color: #e6b741;"><strong>★</strong></span><strong>活动&amp;规则<span style="color:#e6b741;">★</span></strong>
												</p>
											</section>
										</section>
									</section>
									<section style="line-height:24px;text-align:center;margin:10px;color:rgb(50,59,76);">
										<p style="text-align:center;">
											<span style="font-size:12px;">步骤 1 / &nbsp;</span><span style="font-size:12px;line-height:1.6em;">将本文分享至朋友圈</span>
										</p>
										<p style="text-align:center;">
											<span style="font-size:12px;">步骤 2 / &nbsp;</span><span style="font-size:12px;line-height:1.6em;">点击领取按钮获取餐券领取码</span>
										</p>
										<p style="text-align:center;">
											<span style="font-size:12px;">步骤 3 / &nbsp;</span><span style="font-size:12px;line-height:1.6em;">两人以上同行在atrium用餐后，</span>
										</p>
										<p style="text-align:center;">
											<span style="font-size:12px;line-height:1.6em;">您只需将此分享出示给工作人员，</span>
										</p>
										<p style="text-align:center;">
											<span style="font-size:12px;line-height:1.6em;">由工作人员确认后，当场减免现金$20</span>
										</p>
										<p style="text-align:center;">
											<span style="font-size:12px;line-height:1.6em;">活动时间：2015年2月16日～3月1日</span>
										</p>
										<p style="text-align:center;">
											<span style="font-size:12px;">活动地址：Atrium,Great Eastern Highway</span>
										</p>
										<p style="line-height:24px;text-align:center;">
											<br/>
										</p>
									</section><br/>
									<section class="ue_block">
										<p style="line-height:24px;text-align:center;">
											<span style="color:#c00000;"><strong style="color:#e6b741;">★</strong></span><strong style="background-color: #fafbf5;color: #323b4c;line-height: 24px;">菜品推介<span style="color:#e6b741;">★</span></strong>
										</p>
										<hr style="margin:2px 5%;border-color:#323b4c;" />
										<hr style="margin:1px 5%;border-color:#323b4c;" />
									</section>
									<p>
										<br/>
									</p>
									<section class="ue_block">
										<section>
											<p style="line-height: 24px;margin-top: 10px;margin-right: 10px;margin-left: 10px;text-align: center;">
												<img src="../../upload/141416254312654512312351ac96sada.jpg" style="width:100%;" />
											</p>
											<p style="line-height:24px;text-align:center;color:#e6b741;">
												lunch or dinner for $12.95
											</p>
										</section>
										<section style="margin:15px;line-height:24px;text-align:justify;color:rgb(50,59,76);font-size:12px">
											<p style="line-height:24px;text-align:justify;color:rgb(50,59,76);">
												<span style="font-size:12px;">享受高质量的饭吃当你用餐工作日皇冠有很大价值。
												<span style="line-height:25px;">放松，沉浸在一个豪华的自助午餐人均45美元在音乐学院,皇冠最喜欢自助餐。</span></span>
											</p>
										</section>
									</section>
									<section class="ue_block">
										<p style="line-height:24px;text-align:center;">
											<br/>
										</p>
										<section>
											<p style="line-height:24px;margin-top:10px;margin-right:10px;margin-left:10px;text-align:center;">
												<img src="../../upload/141416254312654551ac96sada.jpg" style="width:100%;" />
											</p>
											<p style="line-height:24px;text-align:center;color:#e6b741;">
												conservatory $45 buffet lunch
											</p>
										</section>
									</section>
									<section style="margin:15px;line-height:24px;text-align:justify;color:rgb(50,59,76);font-size:12px">
										<p style="line-height:24px;text-align:justify;color:rgb(50,59,76);">
											<span style="font-size:12px;">享受高质量的饭吃当你用餐工作日皇冠有很大价值。<span style="line-height:25px;">放松，沉浸在一个豪华的自助午餐人均45美元在音乐学院,皇冠最喜欢自助餐。</span></span>
										</p>
									</section>
									<p>
										<br/>
									</p>
									<section>
										<section class="ue_block">
											<p style="line-height:24px;margin-top:10px;margin-right:10px;margin-left:10px;text-align:center;">
												<img src="../../upload/141416254654551ac96sada.jpg" style="width:100%;" />
											</p>
											<p style="line-height:24px;text-align:center;color:#e6b741;">
												conservatory $45 buffet lunch
											</p>
										</section>
										<section style="margin:15px;line-height:24px;text-align:justify;color:rgb(50,59,76);font-size:12px">
											<p style="line-height:24px;text-align:justify;color:rgb(50,59,76);">
												<span style="font-size:12px;">享受高质量的饭吃当你用餐工作日皇冠有很大价值。
												<span style="line-height:25px;">放松，沉浸在一个豪华的自助午餐人均45美元在音乐学院,皇冠最喜欢自助餐。</span></span>
											</p>
											<p style="line-height:24px;text-align:justify;color:rgb(50,59,76);">
												<br/>
											</p>
										</section>
									</section>
								</section>
							</section>
						</section>
					</section>
					<p>
						<br/>
					</p>
					<section class="ue_block">
						<section style="border-width: 0px; border-style: none; border-color: #fcb42b; margin-top: 5px; margin-bottom: 5px; clear: both;">
							<section style="text-align: center; font-size: 0.8em; text-decoration: inherit; color: #ffffff; border-color: #e6b741;">
								<section style="font-size:0.8em;white-space:normal;margin:5px 22%;vertical-align:middle;color:inherit;">
									<section style="height: 0px; margin-right: 1em; margin-left: 1em; border-width: 1.5em; border-style: solid; border-top-color: #e6b741; border-bottom-color: #e6b741; color: inherit; border-left-color: transparent !important; border-right-color: transparent !important;"></section>
									<section style="height: 0px; margin: -2.75em 1.65em; border-width: 1.3em; border-style: solid; border-color: #ffffff transparent; color: inherit;"></section>
									<section style="height: 0px; margin: 0.45em 2.1em; vertical-align: middle; border-width: 1.1em; border-style: solid; border-top-color: #e6b741; border-bottom-color: #e6b741; color: inherit; border-left-color: transparent !important; border-right-color: transparent !important;">
										<section style="max-height:1em;margin-top:-0.5em;color:inherit;font-size:1.2em;line-height:1em;overflow:hidden;">
											ID : 96weixin
										</section>
									</section>
								</section>
								<section style="margin-top:-1.4em;margin-bottom:1em;color:inherit;">
									<section style="border-top: 1.5px solid #e6b741; width: 32%; float: left; border-right-color: #e6b741; border-bottom-color: #e6b741; border-left-color: #e6b741; color: inherit;" data-width="32%"></section>
									<section style="border-top: 1.5px solid #e6b741; width: 32%; float: right; border-right-color: #e6b741; border-bottom-color: #e6b741; border-left-color: #e6b741; color: inherit;" data-width="32%"></section>
								</section>
							</section>
						</section>
						<p>
							<br/>
						</p>
						<p style="text-align:center;">
							<img src="../../images/ewm.png" style="width: 150px;margin: 0 auto;" />
						</p>
						<p style="text-align:center;color:#323b4c;">
							<span style="font-size:12px;">长按识别二维码</span>
						</p>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>