<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>购物模板</title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section style="">
				<section style="box-sizing: border-box;">
					<section  style="   box-sizing: border-box; ">
						<section  style="text-align: center; font-size: 14px; letter-spacing: 1px; padding-right: 1px; padding-left: 1px; box-sizing: border-box;">
							<p style="box-sizing: border-box;">
								万千孤独中与你相伴
							</p>
							<p style="box-sizing: border-box;">
								从此不再单打独斗
							</p>
							<p style="box-sizing: border-box;">
								♥
							</p>
							<p style="box-sizing: border-box;">
								<br/>
							</p>
							<p style="box-sizing: border-box;">
								<img src="../../upload/shop01.gif" style="color: rgb(62, 62, 62); font-size: 16px; line-height: 25.6px; text-align: center; white-space: normal; widows: 1; background-color: rgb(255, 255, 255); box-sizing: border-box !important; word-wrap: break-word !important; width: auto !important; visibility: visible !important;" />
							</p>
							<p style="box-sizing: border-box;">
								<br style="box-sizing: border-box;" />
							</p>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box; " >
					<section  style=" margin-top: 10px; margin-bottom: 10px; text-align: center;  box-sizing: border-box; ">
						<section  style="display: inline-block; border-bottom: 0.15em solid rgb(39, 37, 37); padding-bottom: 3px; box-sizing: border-box;">
							<section  style="display: inline-block; padding: 3px; border-bottom: 0.15em solid rgb(39, 37, 37); font-size: 15px; box-sizing: border-box;">
								<p style="box-sizing: border-box;">
									<strong style="box-sizing: border-box;">TOP 1</strong>
								</p>
							</section>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box; " >
					<section  style=" margin-top: 10px; margin-bottom: 10px;  box-sizing: border-box; ">
						<section  style="border-width: 1px; border-style: solid; border-color: black; padding: 3px; box-sizing: border-box;">
							<section  style="border-color: black; border-width: 3px; border-style: solid; padding: 10px; box-sizing: border-box;">
								<section style="box-sizing: border-box;" >
									<section  style="   box-sizing: border-box; ">
										<section  style="text-align: center; font-size: 14px; letter-spacing: 1px; padding-right: 1px; padding-left: 1px; box-sizing: border-box;">
											<p style="box-sizing: border-box;">
												<br style="box-sizing: border-box;" />
											</p>
										</section>
									</section>
								</section>
								<section style="   box-sizing: border-box; ">
									<section  style=" text-align: center;  box-sizing: border-box; ">
										<img style="vertical-align: middle; box-sizing: border-box;"  src="../../upload/shop02.png" />
									</section>
								</section>
								<section style="box-sizing: border-box;" >
									<section  style="   box-sizing: border-box; ">
										<section  style="text-align: center; font-size: 14px; letter-spacing: 1px; padding-right: 1px; padding-left: 1px; box-sizing: border-box;">
											<p style="text-align: justify; white-space: normal; box-sizing: border-box;">
												<br style="box-sizing: border-box;" />
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												<strong style="box-sizing: border-box;"><span style="color: rgb(133, 7, 7); box-sizing: border-box;">✤产品名称：<span style="color: rgb(39, 37, 37); box-sizing: border-box;">欧乐B 电动牙刷</span></span></strong>
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												<strong style="box-sizing: border-box;"><span style="color: rgb(133, 7, 7); box-sizing: border-box;">✤参考价格：<span style="color: rgb(39, 37, 37); box-sizing: border-box;">￥500.00</span></span></strong>
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												<strong style="box-sizing: border-box;"><span style="color: rgb(133, 7, 7); box-sizing: border-box;">✤幸福指数：<span style="color: rgb(39, 37, 37); box-sizing: border-box;">★★★☆</span></span></strong>
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												<br style="box-sizing: border-box;" />
											</p>
											<p style="text-align: justify; white-space: normal; box-sizing: border-box;">
												测评：<span style="font-size: 14px; letter-spacing: 1px; text-align: center;  background-color: rgb(255, 255, 255);">每天早上的好心情从刷牙开始！</span><span style="text-align: center; box-sizing: border-box;">普通牙刷利用刷毛和牙齿的摩擦去除污垢，这就让藏在牙缝里的牙垢不容易清除。而小编亲测这款电动牙刷利用超高频率的震动，将窝藏的牙垢和菌落震出，可以让清洁更加彻底、放心。</span>
											</p>
											<p style="box-sizing: border-box;">
												<br style="box-sizing: border-box;" />
											</p>
										</section>
									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box;">
					<section style="box-sizing: border-box; ">
						<section style="box-sizing: border-box;">
							<p style="box-sizing: border-box;">
								<br style="box-sizing: border-box;" />
							</p>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box;">
					<section style=" margin-top: 10px; margin-bottom: 10px; text-align: center;  box-sizing: border-box; ">
						<section style="display: inline-block; border-bottom: 0.15em solid rgb(39, 37, 37); padding-bottom: 3px; box-sizing: border-box;">
							<section style="display: inline-block; padding: 3px; border-bottom: 0.15em solid rgb(39, 37, 37); font-size: 15px; box-sizing: border-box;">
								<p style="box-sizing: border-box;">
									<strong style="box-sizing: border-box;">TOP 2</strong>
								</p>
							</section>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box;">
					<section style=" margin-top: 10px; margin-bottom: 10px;  box-sizing: border-box; ">
						<section style="border-width: 1px; border-style: solid; border-color: black; padding: 3px; box-sizing: border-box;">
							<section style="border-color: black; border-width: 3px; border-style: solid; padding: 10px; box-sizing: border-box;">
								<section style="box-sizing: border-box;">
									<section style="box-sizing: border-box; ">
										<section style="text-align: center; font-size: 14px; letter-spacing: 1px; padding-right: 1px; padding-left: 1px; box-sizing: border-box;">
											<p style="box-sizing: border-box;">
												<br style="box-sizing: border-box;" />
											</p>
										</section>
									</section>
								</section>
								<section style="box-sizing: border-box; ">
									<section style=" text-align: center;  box-sizing: border-box; ">
										<img style="vertical-align: middle; box-sizing: border-box;"  src="../../upload/shop03.jpeg" />
									</section>
								</section>
								<section style="box-sizing: border-box;">
									<section style="box-sizing: border-box; ">
										<section  style="text-align: center; font-size: 14px; letter-spacing: 1px; padding-right: 1px; padding-left: 1px; box-sizing: border-box;">
											<p style="text-align: justify; white-space: normal; box-sizing: border-box;">
												<br style="box-sizing: border-box;" />
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												<strong style="box-sizing: border-box;"><span style="color: rgb(133, 7, 7); box-sizing: border-box;">✤产品名称：<span style="color: rgb(39, 37, 37); box-sizing: border-box;">kindle</span></span></strong>
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												<strong style="box-sizing: border-box;"><span style="color: rgb(133, 7, 7); box-sizing: border-box;">✤参考价格：<span style="color: rgb(39, 37, 37); box-sizing: border-box;">¥600.00</span></span></strong>
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												<strong style="box-sizing: border-box;"><span style="color: rgb(133, 7, 7); box-sizing: border-box;">✤幸福指数：<span style="color: rgb(39, 37, 37); box-sizing: border-box;">★★★★★</span></span></strong>
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												<br style="box-sizing: border-box;" />
											</p>
											<p style="text-align: left; box-sizing: border-box;">
												测评：作为小编怎么可以不好好读书，你先摸着自己胸口问一个问题——我真的热爱阅读吗？因为方便携带，画面质感又很好，单身的时候自己一个人好好读书绝对是最不费钱的最佳消遣渠道。
											</p>
											<p style="text-align: justify; white-space: normal; box-sizing: border-box;">
												<span style="text-align: center; box-sizing: border-box;"></span>
											</p>
											<p style="box-sizing: border-box;">
												<br/>
											</p>
										</section>
									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box; ">
					<section  style="   box-sizing: border-box; ">
						<section  style="letter-spacing: 1px; font-size: 14px; text-align: center; padding-right: 1px; padding-left: 1px; box-sizing: border-box;">
							<p style="box-sizing: border-box;">
								<br/>
							</p>
							<p style="box-sizing: border-box;">
								评论里告诉我，
							</p>
							<p style="box-sizing: border-box;">
								你单身时最喜欢的小物是什么？
							</p>
							<p style="box-sizing: border-box;">
								说不定我们想的一样哦！
							</p>
							<p style="box-sizing: border-box;">
								<br />
							</p>
							<p style="box-sizing: border-box;">
								- End -
							</p>
							<p style="box-sizing: border-box;">
								<br />
							</p>
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>