<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>购物模板</title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section style="margin: 10px auto;">
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;padding-bottom: 10px;">
						<section style="display: inline-block;margin: 0px auto;border-top: 2px solid #000;border-bottom: 2px solid #000;">
							<p style="font-size: 24px;font-weight: 600;display: inline-block;margin: 10px 10px -10px;padding:0px 20px 20px;border-left:2px solid #000000;border-right:2px solid #000000;box-sizing: border-box;">
								大麦全国线上销售广告
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 15px 0px;font-size: 0px;">
						<section style="width: 100%;height: 1px;background-color: #000;">
							<span style="display: inline-block;width: 20px;height: 20px;border-radius: 50%;float: left;background-color: #333;margin-top: -10px;text-align: center;">
								<em style="display: inline-block;width: 10px;height: 10px;border-radius: 50%;background-color: #fff;margin-top: 5px;text-align: center;"></em>
							</span>
							<span style="display: inline-block;margin:0px auto;width: 10px;float:right;height: 10px;border-radius: 50%;background-color: #333;margin-top: -5px;"></span>
						</section>
						<section>
							<p style="padding: 0px 30px; line-height: 1.5; font-size: 16px; color: rgb(114, 114, 114); margin: 16px 0px; text-align: left; text-indent: 2em;">
								在全部范围内展开针对新品大麦X6的线上广告活动，提升用户对于X6的更深入的理解促进销售与品牌建设。
							</p>
						</section>
						<section style="width: 100%;height: 1px;background-color: #000;">
							<span style="display: inline-block;width: 10px;float:left;height: 10px;border-radius: 50%;background-color: #333;margin-top: -5px;"></span>
							<span style="display: inline-block;width: 20px;height: 20px;border-radius: 50%;float: right;text-align: center;background-color: #333;margin-top: -10px;">
								<em style="display: inline-block;width: 10px;height: 10px;border-radius: 50%;background-color: #fff;margin-top: 5px;text-align: center;"></em>
							</span>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;">
						<section style="border-top: 1px solid #000;display: inline-block;">
							<section style="display: inline-block;margin: 0px auto;float: left;">
								<p style="font-size:40px;display: inline-block;box-sizing: border-box;margin: 0px auto;padding: 0px 10px;">
									1
								</p>
							</section>
							<section style="display: inline-block;margin: 0px auto;float:left;border-bottom:1px solid #000;">
								<p style="font-size: 18px;display: inline-block;margin: 10px 10px -10px 0px;padding:0px 10px 20px 0px;border-right:1px solid #000000;box-sizing: border-box;">
									&nbsp;&nbsp;&nbsp;&nbsp;SUV&nbsp;&nbsp;&nbsp;&nbsp;
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 10px auto; text-align: center; box-shadow: rgb(176, 175, 175) 0px 0px 5px 1px; max-width: 80% !important; width: 368px;">
						<img src="../../upload/1804179ce294acf91b35956b9091f19ad44c30.jpeg" style="max-width: 100%; border-right: 1px solid rgb(182, 182, 182); width: 368px;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 15px 0px;font-size: 0px;">
						<section style="width: 100%;height:1px;background-color: #000;">
							<span style="display: inline-block;width: 20px;height: 20px;border-radius: 50%;float: left;background-color: #333;margin-top: -10px;text-align: center;">
								<em style="display: inline-block;width: 10px;height: 10px;border-radius: 50%;background-color: #fff;margin-top: 5px;text-align: center;"></em>
							</span>
							<span style="display: inline-block;width: 10px;float:right;height: 10px;border-radius: 50%;background-color: #333;margin-top: -5px;"></span>
						</section>
						<section>
							<p style="padding: 0px 30px; line-height: 1.5; font-size: 16px; color: rgb(114, 114, 114); margin: 16px 0px; text-align: left; text-indent: 2em;">
								SUV指运动型多用途车,不同于可在崎岖地面使用的ORV越野车（Off-Road Vehicle的缩写），SUV全称是Sport Utility 。SUV的特点是强动力、越野性、宽敞舒适及良好的载物和载客功能，也有人说，SUV是豪华轿车的舒适精细加上越野车的本性。SUV是轿车与越野车的混血后裔，与其祖先相比，SUV如虎添翼。SUV乘坐空间表现比较出色，无论在前排还是后排，都能可以宽裕的坐在车里。前排座椅的包裹性与支撑性十分到位，此外车内的储物格比较多，日常使用方便。
							</p>
						</section>
						<section style="width: 100%;height: 1px;background-color: #000;">
							<span style="display: inline-block;width: 10px;float:left;height: 10px;border-radius: 50%;background-color: #333;margin-top: -5px;"></span>
							<span style="display: inline-block;width: 20px;height: 20px;border-radius: 50%;float: right;background-color: #333;margin-top: -10px;text-align: center;">
								<em style="display: inline-block;width: 10px;height: 10px;border-radius: 50%;background-color: #fff;margin-top: 5px;text-align: center;"></em>
							</span>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 15px 0px;">
						<section style="width:80%;height:1px;background-color: #000;margin: 0px auto;">
							<span style="display: inline-block;width: 10px;float:left;height: 10px;border-radius: 50%;background-color: #333;margin-top: -5px;"></span><span style="display: inline-block;width: 10px;float:right;height: 10px;border-radius: 50%;background-color: #333;margin-top: -5px;"></span>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width: 100%;margin: 10px auto;text-align: left;overflow: hidden;" class="">
						<p style="display: inline-block; height: 40px; line-height: 40px; padding: 0px 10px; background-color: #f9f9f9; color: #000000;font-width:500; margin: 0px 0px -20px 20px; float: left; transform: rotate(0deg); text-align: left;">
							&nbsp;&nbsp;&nbsp;&nbsp;跑车&nbsp;&nbsp;&nbsp;&nbsp;
						</p><img src="../../upload/180417c6f9a6528ef3ed5bb580c9f75490a4e8.jpeg" style="max-width: 100%;border: 1px solid #a3a3a3;box-sizing: border-box;" />
					</section>
					<section>
						<p style="padding: 10px 20px; line-height: 1.5; color: rgb(114, 114, 114); margin: 16px 0px; text-align: left; text-indent: 2em;">
							跑车通常为双门规划，车身较低、外型流畅，有着对比激烈的运动感，座椅为双座或2+2式规划，与别的等级车型差异对比明显的是，跑车的发动机能够有前置、中置和后置三种方式；并且其车顶方式也有硬顶、硬顶敞篷和软顶敞篷三种。
						</p>
					</section>
					<section style="width: 100%;height: 1px;background-color: #ffffff;font-size: 0px;">
						<span style="display: inline-block;width: 10px;float:left;height: 10px;border-radius: 50%;background-color: #333;margin-top: -5px;"></span>
						<span style="display: inline-block;width: 20px;height: 20px;border-radius: 50%;float: right;background-color: #333;margin-top: -10px;text-align: center;">
							<em style="display: inline-block;width: 10px;height: 10px;border-radius: 50%;background-color: #ffffff;margin-top: 5px;text-align: center;"></em>
						</span>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width: 90% !important;margin: 10px auto;">
						<img src="../../upload/120001fca0061c984f862c06563abab6e38973.png" style="max-width: 100%;margin: 0px auto;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="width:260px;height:145px;margin: 10px auto;background-image: url(../../upload/12000157df817ca1bf445dfa081663214de285.png);background-repeat: no-repeat;background-size: 100%;background-position: center;">
						<section style="width: 90px;height: 90px;margin-left: 10px;">
							<img src="../../images/ewm.png" style="width: 100%;box-sizing: border-box;border: 1px solid #0d0d0d;margin-top: 25px;" />
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>