<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>购物模板</title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section>
				<section class="ue_block">
					<section style="max-width:480px !important;margin:0px auto;text-align:center;">
						<section style="margin:0px auto;text-align:center;padding:20px;background-image:url(../../upload/1555058358b7547d788078d8921e70f5e2eb24.png);background-repeat:no-repeat;background-position:left top;background-size:47px auto;">
							<section style="transform:rotate(-5deg);background-color:#140a10;">
								<span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-left: 0px;border-right: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-left: 0px;border-right: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-left: 0px;border-right: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-left: 0px;border-right: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span>
								<p style="margin:0px;color:#fff;font-size:18px;height:35px;line-height:35px;display:inline-block;min-width:150px;">
									狂欢继续
								</p><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-right: 0px;border-left: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-right: 0px;border-left: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-right: 0px;border-left: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-right: 0px;border-left: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span>
							</section>
							<section style="margin-top:20px;">
								<section style="border-radius:10px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;background-repeat:repeat;transform:rotate(3deg);">
									<section style="margin-top: -15px;border-radius:10px;padding:20px 15px;border:2px solid #140a10;background-color:#fff;transform:rotate(-3deg);background-image:url(../../upload/1555056a50dc9d2b30892e2cbe4026bee29e05.png);background-repeat:repeat-x;background-position:left top;">
										<p style="margin:0px;text-align:left;">
											“双十二”其实是“双十一”的延续版，是商家打折促销的噱头，然而，在这一场场电商混战中，只要能趁机真正得到优惠，不少人还是会心甘情愿为此买单。双十二，你打算开启“买买买”的疯狂模式吗？
										</p>
									</section>
								</section>
							</section>
						</section>
						<section style="display:inline-block;float:right;margin-top:-70px;width:40px;transform:rotate(0deg)">
							<img src="../../upload/1555068ebed7e0b6b2efa2ecbe5c6a71a1b182.png" style="vertical-align:middle;" />
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="display:flex;justify-content:center;align-items:flex-start;">
						<section style="width:80px;margin-right:-10px;transform:rotate(0deg);margin-top: 17px;flex-shrink:0;">
							<img src="../../upload/155506c9637fb0772a7cd845094c0fec362cf0.png" style="vertical-align:middle;" />
						</section>
						<section style="flex-shrink:1;">
							<section style="background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;background-repeat:repeat;border-radius:2px;display:inline-block;">
								<p style="margin:0px;height:35px;line-height:30px;border-radius:2px;border:2px solid #140a10;padding:0px 15px;background-color:#fff;margin:3px 3px -3px -3px;text-align:center;font-size: 18px;">
									精选热销专区
								</p>
							</section>
						</section>
						<section style="width:80px;margin-left:-18px;transform:rotate(0deg);margin-top:25px;flex-shrink:0;">
							<img src="../../upload/15550662225fa0679c5be67631475d2fd29d20.png" style="vertical-align:middle;" />
						</section>
					</section>
					<section style="width: 198px;margin:0px auto;text-align:center;margin-top:-18px;padding-left:3px;box-sizing:border-box;">
						<img src="../../upload/155506a44e0cc13e2e3fec2fd36e1787a2bddb.png" style="vertical-align:middle;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:10px auto;">
						<section style="display:flex;justify-content:space-around;padding: 0px 10px;align-item:flex-end;transform:rotate(0deg)">
							<section style="margin:0px 5px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;overflow:hidden;background-repeat:repeat;border-radius:10px;padding-top:5px;">
								<section style="border-top:2px solid #140a10;background-color:#fff;border-radius:10px;">
									<p style="margin:0px;height:30px;line-height:30px;font-size:18px;text-align:center;">
										新品专区
									</p>
									<section>
										<img src="../../upload/155506ab2cdf376c8b628e5a6b7c50024ca50d.jpeg" style="vertical-align:middle;" />
									</section>
								</section>
							</section>
							<section style="margin:0px 5px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;overflow:hidden;background-repeat:repeat;border-radius:10px;padding-top:5px;">
								<section style="border-top:2px solid #140a10;background-color:#fff;border-radius:10px;">
									<p style="margin:0px;height:30px;line-height:30px;font-size:18px;text-align:center;">
										特价专区
									</p>
									<section>
										<img src="../../upload/1555060a2add0ac41bc7b7c25c073ba8f52ff6.jpeg" style="vertical-align:middle;" />
									</section>
								</section>
							</section>
							<section style="margin:0px 5px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;overflow:hidden;background-repeat:repeat;border-radius:10px;padding-top:5px;">
								<section style="border-top:2px solid #140a10;background-color:#fff;border-radius:10px;">
									<p style="margin:0px;height:30px;line-height:30px;font-size:18px;text-align:center;">
										清仓专区
									</p>
									<section>
										<img src="../../upload/1555065dd11a702e80494d3be13e0ac6c0aad5.jpeg" style="vertical-align:middle;" />
									</section>
								</section>
							</section>
						</section>
						<section style="marign:0px auto;text-align:center;margin-top:-17px;">
							<img src="../../upload/1555067f453f1559d30d7d3ae363af2566e73b.png" style="vertical-align:middle;" />
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 10px auto;text-align: center;">
						<section style="margin: 0px auto;text-align: center;width:60%;">
							<img src="../../upload/1555061ec3211e58cfe1d5f5eb7fa2a5e048ef.png" style="max-width: 100% !important;" />
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:10px auto;text-align:center;">
						<section style="width:250px;margin:0px auto;text-align:center;background-image:url(../../upload/1555051d4b12814580e9fb5504409e723554f2.png);background-repeat:no-repeat;background-position:right bottom;background-size: 100% 100%;padding:20px;">
							<p style="margin:0px;color:#ff6666;font-size:24px;margin-top:10px;">
								赠品
							</p>
							<p style="margin:0px;font-size:18px;margin-top:10px;">
								实付满100元送手包
							</p>
							<section style="margin:0px auto;margin-top:10px;width:160px;text-align:center;margin-bottom:20px;margin-left: 34px;">
								<img src="../../upload/1555062707d80ff9741b60a9775c562099a764.jpeg" style="vertical-align:middle;" />
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:0px auto;text-align:center;padding:0px 50px;max-width:480px !important;">
						<section style="border:2px solid #140a10;border-radius:10px 10px 25px 10px;padding:10px;background-size: 39px;background-image:url(../../upload/155505f76e95fec6c402b70242caf11013b8b5.png);background-position:right bottom;background-repeat:no-repeat;">
							<section style="background-image:url(../../upload/155505edbfb659490f32c71af2f3576bcd6b04.png);background-repeat:no-repeat;width:80px;height:85px;background-size:100% auto;margin-left:-71px;">
								<p style="color:#ff6666;margin:0px;font-size:20px;transform:rotate(40deg);width:50px;padding-top:17px;margin-left:24px;line-height:1.2;">
									掌柜推荐
								</p>
							</section>
							<section style="margin-top:-85px;">
								<img src="../../upload/1555068cf0d61d6cac478cea74b137ff223feb.jpeg" style="vertical-align:middle;" />
							</section>
							<p style="margin:0px;text-align:left;font-size:18px;margin-top:5px;">
								爆款小牛皮双肩背包
							</p>
							<section style="margin-top:12px;text-align:left;">
								<p style="display:inline-block;padding:0px 5px;height:40px;line-height:40px;color:#fff;font-size:20px;background-color:#ff6666;margin:0px;">
									￥399
								</p>
								<p style="display:inline-block;padding:0px 5px;height:40px;line-height:40px;color:#333333;font-size:16px;margin:0px;">
									原价<span style="text-decoration:line-through;">￥199</span>
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:480px !important;margin:10px auto;text-align:center;">
						<section>
							<img src="../../upload/155506c52e66468cdfec55055d12a4778761ff.png" style="vertical-align:bottom;" />
						</section>
						<section style="padding:0px 29px;">
							<section style="border-left:2px solid #140a10;border-right:2px solid #140a10;display:flex;padding:10px 5px;justify-content:center;align-items:flex-end;">
								<section style="margin:0px 5px;">
									<img src="../../upload/1555061d9bf40dc69009bb492281d68cf1b45a.jpeg" style="vertical-align:top;" />
								</section>
								<section style="margin:0px 5px;">
									<img src="../../upload/1555066838874af3ebf77ad5ca7c241453e8bb.jpeg" style="vertical-align:top;" />
								</section>
							</section>
						</section>
						<section>
							<img src="../../upload/1555069f7e3d8c8ec84dc35b50e603f3e52925.png" style="vertical-align:top;" />
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="max-width:480px !important;margin:10px auto;text-align:center;">
						<section style="display:flex;padding:10px 5px;justify-content:center;align-items:flex-end;">
							<section>
								<section style="margin:0px 10px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;background-repeat:repeat;border-radius:10px;">
									<section style="margin:-5px 5px 5px 0px;border:2px solid #140a10;border-radius:10px;border-left:0px;padding:15px;background-color:#fff;">
										<img src="../../upload/1555063e0d8d64ca427de54bcdb2482f4541d5.jpeg" style="vertical-align:top;" />
										<p style="margin:0px auto;margin-top:5px;text-align:center;font-size:20px;">
											小牛皮双肩背包
										</p>
										<p style="margin:0px auto;text-align:center;margin-top:5px;font-size:16px;color:#333333;">
											原价<span style="text-decoration:line-through;">￥199</span>
										</p>
									</section>
								</section>
								<section style="margin-top:-20px;">
									<p style="font-size:20px;height:40px;line-height:35px;color:#fff;background-color:#ff6666;border:2px solid #140a10;padding:0px 8px;display:inline-block;margin:0px auto;text-align:center;">
										￥399
									</p>
								</section>
							</section>
							<section>
								<section style="margin:0px 10px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;background-repeat:repeat;border-radius:10px;">
									<section style="margin:-5px 5px 5px 0px;border:2px solid #140a10;border-radius:10px;border-left:0px;padding:15px;background-color:#fff;">
										<img src="../../upload/15550628ffac348c1230510b493cea2bb17f38.jpeg" style="vertical-align:top;" />
										<p style="margin:0px auto;margin-top:5px;text-align:center;font-size:20px;">
											小牛皮双肩背包
										</p>
										<p style="margin:0px auto;text-align:center;margin-top:5px;font-size:16px;color:#333333;">
											原价<span style="text-decoration:line-through;">￥199</span>
										</p>
									</section>
								</section>
								<section style="margin-top:-20px;">
									<p style="font-size:20px;height:40px;line-height:35px;color:#fff;background-color:#ff6666;border:2px solid #140a10;padding:0px 8px;display:inline-block;margin:0px auto;text-align:center;">
										￥399
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:0px auto;text-align:center;">
						<section style="background-image:url(../../upload/1555064af84774fb6461a13d9aaf2f1389bdd7.png);width:200px;height:115px;background-repeat:no-repeat;background-size:100% auto;margin:0px auto;text-align:center;display:flex;">
							<p style="margin:0px;width:22px;font-size:22px;color:#fff;margin-left:25px;line-height:1.2;padding-top:17px;flex-shrink:0;">
								优惠券
							</p>
							<section style="margin-left:32px;padding-top:30px;">
								<p style="margin:0px auto;text-align:center;font-size:22px;color:#fff;">
									￥100
								</p>
								<p style="margin:0px auto;text-align:center;font-size:16px;color:#fff;">
									满399可使用
								</p>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section>
						<section style="background-image:url(../../upload/1555055504aa0f02501ab487a016c386300a81.png);background-repeat:no-repeat;width: 250px;height:165px;background-size: 100%;margin: 0px auto;text-align: center;">
							<section style="width: 110px;margin-left:45px;">
								<img src="../../images/ewm.png" style="margin:0px auto;text-align:center;padding-top: 13px;"  />
							</section>
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>