<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section style="margin: 10px auto;text-align: center;background-image: url(../../upload/1337599be09712e9c691864cee85f837f6fd2c.png);background-repeat: no-repeat;background-position: right bottom;background-size: 60px auto;">
				<section style="margin: 10px auto;text-align: center;background-image: url(../../upload/1337597e1ae833b0f2e0d6722c406c14cb9b57.png);background-repeat: no-repeat;background-position: left top;background-size: 60px auto;">
					<section style="display: inline-block;text-shadow:  0 1px 0 #ddd, 0 2px 0 #dadada, 0 3px 0 #ccc, 0 4px 0 #cacaca, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 3px rgba(0,0,0,.1), 0 3px 5px rgba(0,0,0,.3), 0 5px 7px rgba(0,0,0,.2), 0 7px 9px rgba(0,0,0,.25), 0 9px 11px rgba(0,0,0,.2), 0 19px 21px rgba(0,0,0,.15);height: 40px;line-height: 40px;">
						<p style="color: #000;margin: 0px auto;font-size: 20px;">
							标题文本
						</p>
					</section>
				</section>
			</section>
		</div>
		<div class="w">
			<img src="../../upload/141416254312654512312351ac96sada.jpg" style="width: 100%;height: auto;border: none;vertical-align: middle;padding: 1em 1em;display: inline-block;width: 100%;box-sizing: border-box;">
		</div>
		<div class="w">
			<section class="ue_block" style="padding:20px;">
				<img src="../../upload/11344406932cfbb5f62b0fefef597cca14cafb.jpeg" style="height: auto;display: inline-block;width: 40%;float: right;padding-left: 1em;">
				<span style="margin: 0px; font-size: 14px; color: rgb(102, 102, 102); line-height: 1.5;">
				  每年的3月15日是“国际消费者权益日“，由国际消费者联盟组织于1983年确定，以促进各国和地区消费者组织之间的合作与交往，在国际范围内更好地保护消费者权益。每年的3月15日是“国际消费者权益日“，由国际消费者联盟组织于1983年确定，以促进各国和地区消费者组织之间的合作与交往，在国际范围内更好地保护消费者权益。
				</span>
			</section>
		</div>
		<div class="w" style="margin-top: 20px;">
			<section style="margin:15px auto;display: flex;width: 100%;">
				<img src="../../upload/160301fa48f554bb0a0863fa9e5eecd1f9a4c3.png" alt="" style="margin:0px auto;">
			</section>
		</div>
		<div class="w">
			<section style="font-family: Arial; border: 0px none; padding: 0px; color: #319369;">
				<section style="margin: 5px auto;width: 60%;">
					<section style=" margin: 0px; clear: both; box-sizing: border-box; padding: 0px; color: inherit;">
						<section style="color: inherit; float: right; width: 11px; border: 1px solid rgb(117, 117, 118); height: 11px !important;"></section>
						<section style="color: inherit; float: left; width: 11px; border: 1px solid rgb(117, 117, 118); height: 11px !important;"></section>
					</section>
					<section style="margin: 0px; padding: 10px 0px 0px; color: inherit; border-color: rgb(117, 117, 118);">
						<section style="color: inherit; float: right; width: 12px; border: 1px solid rgb(117, 117, 118); margin-right: -1px; height: 11px !important;"></section>
						<section style="color: inherit; float: left; width: 12px; border: 1px solid rgb(117, 117, 118); margin-left: -1px; height: 11px !important;"></section>
					</section>
					<section style="margin: 0px; padding: 10px 0px 0px; color: inherit; border-color: rgb(117, 117, 118);">
						<section style="color: inherit; float: right; width: 12px; border: 1px solid rgb(117, 117, 118); margin-right: -1px; height: 11px !important;"></section>
						<section style="color: inherit; float: left; width: 12px; border: 1px solid rgb(117, 117, 118); margin-left: -1px; height: 11px !important;"></section>
					</section>
				</section>
			</section>
			<section class="ue_block" style="border: 0px none; color: #464646;">
				<section style="margin:15px 0px 20px;">
					<section style="text-align: center;line-height:0em;">
						<img src="../../upload/1019247fbd36e2e41b696662dcb10b80eff6c9.png">
					</section>
					<section style="margin-top:-70px;">
						<p style="text-align: center; line-height: 1.5em;">
							更多精彩
						</p>
						<p style="text-align: center; line-height: 1.5em;">
							MORE
						</p>
					</section>
				</section>
			</section>
			<br /><hr />
		</div>
		<div class="w">
			<section class="ue_block">
				<section>
					<section style="float: left;height:35px;display:inline-block;border-top:1px solid rgb(0,0,0);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);padding:0px 8px;font-weight:bold;line-height:35px;vertical-align:middle;">
						MORE
					</section>
					<section style="height:35px;display:inline-block;border-top:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);border-right:1px solid rgb(0,0,0);padding:0px 8px;line-height:35px;vertical-align:middle;">
						广告链接
					</section>
					<section style="padding:5px 15px;line-height:2em;">
						<p style="margin:0px;padding:0px;">
							▶&emsp;&emsp;<span style="color:rgb(79,129,189);font-size:16px;"><a href="javascript:;">广告标题广告标题广告标题</a></span>
						</p>
						<p style="margin:0px;padding:0px;">
							▶&emsp;&emsp;<span style="font-size:16px;color:rgb(79,129,189);"><a href="javascript:;">广告标题广告标题广告标题</a></span>
						</p>
						<p style="margin:0px;padding:0px;">
							▶&emsp;&emsp;<span style="font-size:16px;color:rgb(79,129,189);"><a href="javascript:;">广告标题广告标题广告标题</a></span>
						</p>
						<p style="margin:0px;padding:0px;">
							▶&emsp;&emsp;<span style="font-size:16px;color:rgb(79,129,189);"><a href="javascript:;">广告标题广告标题广告标题</a></span>
						</p>
					</section>
				</section>
			</section>
			<p></p>
		</div>
		
		
	</body>

</html>