<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>购物模板</title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<section>
				<section class="ue_block">
					<section style="margin:0px auto;text-align: center;">
						<img src="../../upload/11344471910675c5c7d9f3e9a25768acf33e84.jpeg" style="max-width: 100% !important;margin: 0px auto;text-align: center;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;font-size: 0px;">
						<section style="background-color: #feaab5;width: 100px;height: 60px;border-top-left-radius:50px 30px;border-top-right-radius:50px 30px;border-bottom-left-radius:50px 30px;border-bottom-right-radius:50px 30px;display: inline-block;margin: 0px auto;text-align: center;"></section>
						<section style="margin-top: -50px;">
							<section style="width: 83px;overflow:hidden;margin: 0px auto;text-align: center;margin-bottom: -9px;transform: rotate(0deg);">
								<span style="display: inline-block;width: 10px;height: 10px;box-sizing: border-box;border:3px solid #ff7686;background-color: #fff;float: left;border-radius: 50%;"></span>
								<span style="display: inline-block;width: 10px;height: 10px;box-sizing: border-box;border:3px solid #ff7686;background-color: #fff;float: right;border-radius: 50%;"></span>

							</section>
							<section style="display: inline-block;margin: 0px auto;text-align: center;border: 2px solid #ffb5be;background-image: url(../../upload/113443d4e36211c64e5f347b07f50f8f84cbf5.png);height: 40px;line-height: 36px;background-repeat: repeat;box-sizing: border-box;">
								<p style="margin: 0px auto;text-align: center;font-size: 18px;font-weight: 600;letter-spacing: 1px;color: #fff;padding: 0px 10px;">
									双十一攻略
								</p>

							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="border:1px dotted rgb( 252, 148, 148);margin-top: 18px;">
						<section style="background-image: url(../../upload/113443d4e36211c64e5f347b07f50f8f84cbf5.png);background-repeat:repeat;padding: 0px 10px;font-size: 0px;overflow:hidden;">
							<section style="background-color: #fff;font-size: 16px;padding: 20px 10px;color:#fe7283;">
								<span style="display: inline-block;width: 70px;height: 74px;background-color: #ffccd2;transform: rotate(45deg);margin-left: -60px;margin-top: -60px;"></span>

								<p style="margin-top:-20px;margin-bottom:5px;display: flex;line-height: 1.5;">
									<span style="display: inline-block;width: 8px;height: 8px;background-color: #fe7a8a;border-radius: 50%;flex-shrink: 0;margin-top: 5px;margin-right: 10px;"></span>把心仪产品的店铺优惠券都领到，预售产品提前付好定金
								</p>

								<p style="margin: 5px 0px;display: flex;line-height: 1.5;">
									<span style="display: inline-block;width: 8px;height: 8px;background-color: #fe7a8a;border-radius: 50%;flex-shrink: 0;margin-top: 5px;margin-right: 10px;"></span>活动期间购物均有精美礼品相送，不限量
								</p>

								<p style="margin: 5px 0px;display: flex;line-height: 1.5;">
									<span style="display: inline-block;width: 8px;height: 8px;background-color: #fe7a8a;border-radius: 50%;flex-shrink: 0;margin-top: 5px;margin-right: 10px;"></span>红包送不停，惊喜不断，已领取的红包可充当现金使用，不能与优惠券同时使用
								</p>
								<span style="display: inline-block;width: 10px;height: 74px;background-color: #ffccd2;margin-right: -20px;margin-top: -54px;float: right;"></span>

							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 5px auto;text-align: center;">
						<section style="display: inline-block;background-image: url(../../upload/113443f03442dda5b26655e47310fd91215239.png);background-repeat: no-repeat;background-position: right top;padding-right: 15px;padding-top: 7px;">
							<section style="display: inline-block;background-image: url(../../upload/11344314e8fbf5a05d3de1344a1eed35579403.png);background-repeat: no-repeat;background-position: left top;padding-left: 33px;">
								<section style="display: inline-block;background-color: #fe687b;border-radius: 0px 15px 0px 20px;background-image: url(../../upload/1134435573129c0d40bd46767936fa7f2c51e6.png);background-position: center bottom;background-repeat: no-repeat;background-size: 110%;">
									<p style="margin: 0px auto;text-align: center;padding: 0px 20px;color: #fff;font-weight:600;letter-spacing: 2px;font-size: 18px;height: 45px;line-height: 45px;">
										先领劵再购物
									</p>

								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;">
						<section style="margin: 0px auto;text-align: center;display: inline-block;background-image: url(../../upload/1134431e0e9b9b5a771d411655a54ea2f4d165.png);width: 250px;height: 138px;background-repeat: no-repeat;background-position: center top;padding:28px 35px;background-size: 100% auto;">
							<p style="margin: 0px auto;font-size: 26px;color: #fffee9;font-weight: 600;text-align: left;line-height: 1;">
								￥10<span style="font-size: 17px;vertical-align: middle;display: inline-block;margin-left: 5px;font-weight: 400;">优惠券</span>
							</p>

							<p style="margin: 0px auto;background-color: #fffee9;color: #cb274e;font-size: 18px;font-weight: 600;height: 25px;line-height: 25px;padding: 0px 20px;display: inline-block;margin-top: 4px;">
								立即领取
							</p>

							<p style="margin: 0px auto;color: #fffee9;font-size: 14px;margin-top: 2px;">
								(满200使用)
							</p>

						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;font-size: 0px;">
						<section style="margin: 0px auto;text-align: center;display: inline-block;background-image: url(../../upload/113443d36f038312aad191f867e2b295c7b6fc.png);width: 250px;height: 138px;background-repeat: no-repeat;background-position: center top;padding:19px 22px;background-size: 100% auto;">
							<p style="margin: 0px auto;font-size: 46px;color: #fff;font-weight: 600;text-align: center;line-height: 1;">
								10<span style="font-size: 17px;vertical-align: middle;display: inline-block;margin-left: 5px;font-weight: 400;">先领券后下单</span>
							</p>

							<p style="margin: 0px auto;color: #fff;font-size: 18px;display: inline-block;margin-top:8px;line-height: 1.2;">
								(单笔买199可用)
							</p>

							<p style="margin: 0px auto;color: #e60012;font-size: 14px;text-align: right;background-color: #fff100;display: inline-block;float: right;padding-left: 10px;margin-top: 1px;">
								立即领取&gt;&gt;
							</p>

						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;">
						<section style="margin: 0px auto;text-align: center;display: inline-block;background-image: url(../../upload/1134436fd49ff00dba4a865cb8f95820425702.png);width: 250px;height: 138px;background-repeat: no-repeat;background-position: center top;padding:23px 48px;background-size: 100% auto;">
							<p style="margin: 0px auto;font-size: 30px;color: #e30102;font-weight: 600;text-align: left;line-height: 1;">
								30元<span style="font-size: 17px;vertical-align: middle;display: inline-block;margin-left: 5px;font-weight: 400;">优惠券</span>
							</p>

							<p style="margin: 0px auto;color: #000000;font-size: 20px;margin-top:2px;line-height: 1.2;">
								满129使用
							</p>

							<p style="margin: 0px auto;color: #fff;font-size: 14px;text-align: center;background-color: #e40001;padding: 3px 10px;line-height: 1;display: inline-block;">
								点击领取
							</p>

						</section>
					</section>
				</section>
				<section class="ue_block" data-tools-id="65386">
					<section style="margin: 0px auto;text-align: center;">
						<section style="margin: 0px auto;text-align: center;display: inline-block;background-image: url(../../upload/113443972407b529393e24e9a1c65021ee94c7.png);width: 250px;height: 193px;background-repeat: no-repeat;background-position: center top;background-size: 100% auto;">
							<p style="margin: 0px auto;font-size: 30px;color: #fff;font-weight: 600;text-align: center;line-height: 1;margin-top: 30px;">
								50元红包
							</p>

							<p style="margin: 0px auto;color: #e53c39;font-size: 20px;margin-top:15px;">
								满100可使用
							</p>

						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:0px auto;text-align: center;">
						<section style="margin: 0px auto;text-align: center;display: inline-block;width: 150px;">
							<img src="../../upload/1134442a03e1e2c40b5c827c2c3e2772ba149b.png" style="max-width: 100% !important;margin: 0px auto;text-align: center;" />
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;">
						<section style="width: 120px;margin: 0px auto;text-align: center;">
							<img src="../../upload/11344484f6053fc5ce9a87584154920a3eb721.png" style="max-width: 100% !important;margin: 0px auto;text-align: center;" />
						</section>
					</section>
					<section style="margin: 0px auto;text-align: center;margin-top: -10px;">
						<section style="display: inline-block;margin: 0px auto;text-align: center;background-color: #ff61b3;padding: 8px;box-sizing: border-box;background-image: url(../../upload/113443b751635e7df513bf48f827e337c7078f.png);background-repeat: no-repeat;background-position: left bottom;">
							<section style="min-width: 140px;">
								<p style="margin: 0px auto;color: #ff4eaa;font-size: 18px;font-weight: 600;letter-spacing: 2px;height: 35px;line-height: 35px;background-color: #ffc2e2;">
									双十一大促
								</p>

							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="background-image: url(../../upload/1134438f7f040b1036a307f8d55d0de179a28c.png);background-repeat: no-repeat;background-size: 100px auto;height:55px;margin-bottom: -10px;margin-bottom: -35px;transform: rotate(0deg);margin-left: -3px;">
						<p style="margin: 0px auto;text-align: left;padding-left: 17px;color: #fff;padding-top: 17px;font-size: 14px;">
							店长推荐
						</p>

					</section>
					<section style="background-image: url(../../upload/113443d5ce3b997f2f61217f2af55721e82156.jpeg);background-repeat: repeat;padding: 10px;">
						<section style="border:1px solid #fff;display: flex;">
							<section style="flex: 1;">
								<img src="../../upload/113444d3b586019a4a39ba82c9212bf3937a4f.jpeg" />
							</section>
							<section style="flex: 1.5;padding: 5px;">
								<p style="margin: 0px auto;line-height: 1.8;">
									2017原创新款时尚女包包韩版斜挎包单肩包手提包迷你小方包
								</p>

								<section style="padding: 0px 15px;">
									<section style="background-color: rgba(255,255,255,0.6);padding: 5px 5px 0px 5px;">
										<section style="background-color: #fff;color: #ff61b3;height: 35px;line-height: 35px;font-weight: 600;">
											<p style="margin: 0px auto;text-align: center;">
												折扣价：¥99
											</p>

										</section>
									</section>
									<section style="background-color: #fff;display: flex;margin-top: 1px;">
										<p style="height: 35px;padding: 0px 15px 0px 5px;border-radius: 0px 0px 50px 0px;background-color: #ff61b3;color: #fff;line-height: 35px;margin: 0px;letter-spacing: 2px;">
											原价
										</p>

										<p style="margin: 0px auto;height: 35px;line-height: 35px;text-decoration: line-through;color: #ff61b3;">
											¥109
										</p>

									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 5px auto;text-align: center;">
						<section style="display: inline-block;margin: 0px auto;text-align: center;width: 60px;height: 66px;background-image: url(../../upload/11344397ca8b4f00f90a210f4f4b052b1b885c.png);background-repeat: no-repeat;background-size: 100% auto;line-height: 85px;">
							<p style="margin: 0px auto;font-size: 20px;color: #fff;" class="count">
								01
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="display: flex;margin: 5px auto;">
						<section style="flex: 1;padding: 0px 5px;">
							<section style="background-color: #ffe6ee;padding: 10px;">
								<img src="../../upload/11344437015f0dab0a8c25b616c5c194248f0c.jpeg" style="max-width: 100% !important;vertical-align: top;" />
							</section>
						</section>
						<section style="flex: 1;padding: 0px 5px;">
							<section style="background-color: #ffe6ee;padding: 10px;">
								<img src="../../upload/11344410723c5c7c70e14b68b42b40aaac9b12.jpeg" style="max-width: 100% !important;vertical-align: top;" />
							</section>
						</section>
						<section style="flex: 1;padding: 0px 5px;">
							<section style="background-color: #ffe6ee;padding: 10px;">
								<img src="../../upload/113444e8ceb9e09de4bcaa5fcf615d2a0bff80.jpeg" style="max-width: 100% !important;vertical-align: top;" />
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 5px auto;text-align: center;display: flex;max-width: 360px !important;">
						<section style="padding: 0px 5px;box-sizing: border-box;margin: 0px auto;text-align: center;flex: 1;">
							<section style="padding: 10px;background-image: url(../../upload/113443f1775287e8d09f00e4390199f13c3688.jpeg);background-repeat:repeat;flex: 1;">
								<section>
									<img src="../../upload/113444a4b9e11a5e01fe8e900ae973d92fa5ae.jpeg" style="max-width: 100% !important;vertical-align: top;" />
								</section>
								<p style="margin: 0px auto;margin-top: 5px;color: #fff;text-align: left;font-size: 14px;">
									暖冬新包配
								</p>

								<section style="height:24px;background-image: url(../../upload/1134433e7bb525d5326f1cd24a262dad666916.png);background-position: left top;margin-left: -10px;width:120px;background-size: 100% auto;background-repeat: no-repeat;margin-top: 10px;overflow:hidden;display: flex;padding-top: 2px;font-size: 12px;">
									<p style="margin: 0px;color: #fff;flex: 1;">
										狂欢价
									</p>

									<p style="margin: 0px;color: #fff;flex: 1;">
										￥129
									</p>

								</section>
							</section>
						</section>
						<section style="padding: 0px 5px;box-sizing: border-box;margin: 0px auto;text-align: center;flex: 1;">
							<section style="padding: 10px;background-image: url(../../upload/113443f1775287e8d09f00e4390199f13c3688.jpeg);background-repeat:repeat;flex: 1;">
								<section>
									<img src="../../upload/113444f111402faf03bd7cc4a63cc492eb4641.jpeg" style="max-width: 100% !important;vertical-align: top;" />
								</section>
								<p style="margin: 0px auto;margin-top: 5px;color: #fff;text-align: left;font-size: 14px;">
									暖冬新包配
								</p>

								<section style="height:24px;background-image: url(../../upload/1134433e7bb525d5326f1cd24a262dad666916.png);background-position: left top;margin-left: -10px;width:120px;background-size: 100% auto;background-repeat: no-repeat;margin-top: 10px;overflow:hidden;display: flex;padding-top: 2px;font-size: 12px;">
									<p style="margin: 0px;color: #fff;flex: 1;">
										狂欢价
									</p>

									<p style="margin: 0px;color: #fff;flex: 1;">
										￥129
									</p>

								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 5px auto;text-align: center;display: flex;max-width: 360px !important;">
						<section style="padding: 0px 5px;box-sizing: border-box;margin: 0px auto;text-align: center;flex: 1;">
							<section style="padding: 10px;background-image: url(../../upload/113443f1775287e8d09f00e4390199f13c3688.jpeg);background-repeat:repeat;flex: 1;">
								<section>
									<img src="../../upload/11344406932cfbb5f62b0fefef597cca14cafb.jpeg" style="max-width: 100% !important;vertical-align: top;" />
								</section>
								<p style="margin: 0px auto;margin-top: 5px;color: #fff;text-align: left;font-size: 14px;">
									暖冬新包配
								</p>

								<section style="height:24px;background-image: url(../../upload/1134433e7bb525d5326f1cd24a262dad666916.png);background-position: left top;margin-left: -10px;width:120px;background-size: 100% auto;background-repeat: no-repeat;margin-top: 10px;overflow:hidden;display: flex;padding-top: 2px;font-size: 12px;">
									<p style="margin: 0px;color: #fff;flex: 1;">
										狂欢价
									</p>

									<p style="margin: 0px;color: #fff;flex: 1;">
										￥129
									</p>

								</section>
							</section>
						</section>
						<section style="padding: 0px 5px;box-sizing: border-box;margin: 0px auto;text-align: center;flex: 1;">
							<section style="padding: 10px;background-image: url(../../upload/113443f1775287e8d09f00e4390199f13c3688.jpeg);background-repeat:repeat;flex: 1;">
								<section>
									<img src="../../upload/113444f6e209008fb975f26df73d29c604fa12.jpeg" style="max-width: 100% !important;vertical-align: top;" />
								</section>
								<p style="margin: 0px auto;margin-top: 5px;color: #fff;text-align: left;font-size: 14px;">
									暖冬新包配
								</p>

								<section style="height:24px;background-image: url(../../upload/1134433e7bb525d5326f1cd24a262dad666916.png);background-position: left top;margin-left: -10px;width:120px;background-size: 100% auto;background-repeat: no-repeat;margin-top: 10px;overflow:hidden;display: flex;padding-top: 2px;font-size: 12px;">
									<p style="margin: 0px;color: #fff;flex: 1;">
										狂欢价
									</p>

									<p style="margin: 0px;color: #fff;flex: 1;">
										￥129
									</p>

								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;max-width: 360px !important;display: flex;">
						<section style="flex: 1.5;">
							<img src="../../upload/113444621cacb23b680ef064612695d7795cad.jpeg" />
						</section>
						<section style="flex: 1;padding: 0px 10px;">
							<section style="padding: 10px;background-color: #efefef;">
								<img src="../../upload/1134440a360c6098c7e15b27ef86cd28699581.jpeg" />
							</section>
							<section style="margin: 0px auto;text-align: center;">
								<section style="margin: 0px auto;text-align: center;margin-top: 10px;perspective:30;-webkit-perspective:30;-moz-perspective:30;-o-perspective:30;font-size: 0px;display: inline-block;">
									<p style="display: inline-block;padding: 0px 10px;margin: 0px auto;color: #fff;border-radius: 50% 50% 0px 0px;background-color: #65baf1;height: 25px;line-height: 25px;font-size: 12px;">
										11.11价：152
									</p>

									<section style="display: inline-block;height: 10px; width: 100%;background-color: #9bcdee;transform: rotateX(30deg);margin-top: -2px;padding: 0px 3px;box-sizing: border-box;"></section>
								</section>
							</section>
							<section style="display: flex;height: 25px;line-height:25px;font-size: 12px;margin-top: -8px;transform: rotate(0deg);">
								<p style="color: #fff;background-color: #ff4e8b;margin: 0px;flex: 1.2;text-align: center;">
									定金20抵40
								</p>

								<p style="color: #000;background-color: #fff04e;margin: 0px;flex: 1;text-align: center;">
									尾款:112
								</p>

							</section>
							<section style="display: flex;justify-content: center;margin-top: 10px;">
								<section style="width: 22px;margin-right: 5px;">
									<img src="../../upload/1134445fc7ec6fc61a10b2732602be2bc16116.png" style="max-width: 22px;" />
								</section>
								<p style="margin: 0px;text-align: center;font-size: 14px;">
									立即订购
								</p>

								<section style="width: 22px;margin-left: 5px;transform: rotate(180deg);">
									<img src="../../upload/1134445fc7ec6fc61a10b2732602be2bc16116.png" style="max-width: 22px;" />
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;">
						<section style="display: inline-block;margin: 0px auto;text-align: center;width: 60px;height: 66px;background-image: url(../../upload/11344397ca8b4f00f90a210f4f4b052b1b885c.png);background-repeat: no-repeat;background-size: 100% auto;line-height: 85px;">
							<p style="margin: 0px auto;font-size: 20px;color: #fff;" class="count">
								02
							</p>

						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="border:1px dotted rgb( 211, 218, 219 );background-image: url(../../upload/11344340d962011851ee72f101141a44745051.png);background-repeat: repeat;display: flex;max-width: 360px !important;padding: 20px 0px;margin: 5px auto;">
						<section style="flex: 1;display: flex;align-items: center;">
							<img src="../../upload/11344404b5ded9a0ab7d467b5fc806cd75407f.jpeg" style="vertical-align: top;max-width: 100% !important;" />
						</section>
						<section style="flex: 1;text-align: center;font-size: 14px;line-height: 2;">
							<p style="margin: 0px auto;">
								{双11提前购1109元}
							</p>

							<p style="margin: 0px auto;">
								撞色条纹小方包单肩斜跨头层牛皮包
							</p>

							<section style="display: flex;margin-top: 10px;">
								<p style="font-size: 16px;font-weight: 600;margin: 0px;flex: 1;">
									¥1109
								</p>

								<section style="flex: 1;">
									<span style="display: inline-block;width: 0px;height: 0px;border-right:10px solid #ff92b9;border-bottom: 0px solid transparent;border-top: 10px solid transparent;margin-right: -5px;"></span>

									<p style="background-color: #ff92b9;color: #fff;font-size: 12px;margin: 0px auto;padding: 0px 5px;display: inline-block;">
										店铺免邮
									</p>

								</section>
							</section>
							<section style="background-image: url(../../upload/113443ce115c606a3a3a909412cbdb7c1c6052.png);background-repeat: no-repeat;background-size: auto 100%;height: 30px;background-position: center bottom;margin-top: 8px;">
								<p style="margin: 0px auto;color: #ff659c;font-size: 12px;padding-left: 20px;padding-top:3px;">
									加入购物车
								</p>

							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="border:1px dotted rgb( 211, 218, 219 );background-image: url(../../upload/11344340d962011851ee72f101141a44745051.png);background-repeat: repeat;display: flex;max-width: 360px !important;padding: 20px 0px;margin: 5px auto;">
						<section style="flex: 1;text-align: center;font-size: 14px;line-height: 2;align-items: center;">
							<p style="margin: 0px auto;">
								{双11提前购1109元}
							</p>

							<p style="margin: 0px auto;">
								秋冬新品小方包卡通荧光撞色小方包MR99219-2R1
							</p>

							<section style="display: flex;margin-top: 10px;">
								<p style="font-size: 16px;font-weight: 600;margin: 0px;flex: 1;">
									¥1109
								</p>

								<section style="flex: 1;">
									<span style="display: inline-block;width: 0px;height: 0px;border-right:10px solid #ff92b9;border-bottom: 0px solid transparent;border-top: 10px solid transparent;margin-right: -5px;"></span>

									<p style="background-color: #ff92b9;color: #fff;font-size: 12px;margin: 0px auto;padding: 0px 5px;display: inline-block;">
										店铺免邮
									</p>

								</section>
							</section>
							<section style="background-image: url(../../upload/113443ce115c606a3a3a909412cbdb7c1c6052.png);background-repeat: no-repeat;background-size: auto 100%;height: 30px;background-position: center bottom;margin-top: 8px;">
								<p style="margin: 0px auto;color: #ff659c;font-size: 12px;padding-left: 20px;padding-top:3px;">
									加入购物车
								</p>

							</section>
						</section>
						<section style="flex: 1;display: flex;align-items: center;">
							<img src="../../upload/11344404b5ded9a0ab7d467b5fc806cd75407f.jpeg" style="vertical-align: top;max-width: 100% !important;" />
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;">
						<section style="display: inline-block;margin: 0px auto;text-align: center;width: 60px;height: 66px;background-image: url(../../upload/11344397ca8b4f00f90a210f4f4b052b1b885c.png);background-repeat: no-repeat;background-size: 100% auto;line-height: 85px;">
							<p style="margin: 0px auto;font-size: 20px;color: #fff;" class="count">
								03
							</p>

						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="border:1px dotted rgb( 169, 173, 214 );padding:10px;max-width: 360px !important;margin: 5px auto;">
						<section style="background-color: #efefef;display: flex;">
							<section style="flex: 1.5;">
								<img src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" style="max-width: 100%;margin: 0px auto;" />
							</section>
							<section style="flex: 1;padding:0px 5px;">
								<section style="height: 2px;background-color: #ff659c;margin:0px auto;margin-top: 40px;"></section>
								<section style="margin: 0px auto;text-align: center;margin-top: -20px;">
									<span style="display: inline-block;width: 10px;height: 10px;border-radius: 50%;background-color: #ff659c;margin-right: -10px;transform: rotate(0deg);"></span>

									<p style="padding:0px 5px;background-color: #fff;color: #000;border:2px solid #ff659c;display: inline-block;margin: 0px auto;text-align: center;height: 35px;line-height: 31px;">
										今日上新
									</p>
									<span style="display: inline-block;width: 10px;height: 10px;border-radius: 50%;background-color: #ff659c;margin-left: -10px;transform: rotate(0deg);"></span>

								</section>
								<p style="color: #808080;margin: 0px auto;text-align: center;margin-top: 5px;">
									318款新品
								</p>

								<section style="display: flex;margin-top: 10px;">
									<p style="margin: 0px;flex: 1;">
										¥179.00
									</p>

									<section style="flex: 1;height: 20px;background-image: url(../../upload/113443a657f0518e592e91742fbadded70ace3.png);background-repeat: no-repeat;background-size: auto 100%;background-position: center top;">
										<p style="margin: 0px;text-align: center;font-size: 12px;padding-top: 2px;padding-left: 4px;">
											立省25元
										</p>

									</section>
								</section>
								<section style="margin: 0px auto;text-align: center;">
									<p style="background-image:linear-gradient( 90deg, rgb(254,122,138) 0%, rgb(255,94,153) 14%, rgb(255,161,172) 100%);color: #fff;height: 25px;line-height: 25px;padding:0px 20px;margin: 0px auto;border-radius: 15px;display: inline-block;margin-top: 10px;">
										GO&gt;
									</p>

								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin:0px auto;text-align: center;max-width: 360px !important;">
						<section style="display: flex;">
							<section style="flex: 1;margin: 0px 10px;">
								<section>
									<img src="../../upload/113444995019077e9c303d3128acbea410f4f9.jpeg" />
								</section>
								<section style="margin-top: -5px;transform: rotate(0deg);">
									<span style="width: 0px;height: 0px;display: inline-block;border-bottom: 15px solid #ff659c;border-left: 15px solid transparent;border-right: 15px solid transparent;float: right;margin-right: 20px;margin-top: -15px;"></span>

									<p style="margin: 0px auto;text-align: left;padding-left: 10px;height: 35px;line-height: 35px;background-color: #ff659c;color: #fff;">
										原价：¥199
									</p>

								</section>
								<section style="background-color: #efefef;padding: 0px 10px 10px 10px;">
									<section style="background-color: #fff;padding:5px;">
										<p style="margin: 3px auto;text-align: left;">
											货号：0203
										</p>

										<p style="margin: 3px auto;text-align: left;">
											款式：斜挎包
										</p>

										<p style="margin: 3px auto;text-align: left;">
											大小：中
										</p>

									</section>
								</section>
							</section>
							<section style="flex: 1;margin: 0px 10px;">
								<section>
									<img src="../../upload/113444995019077e9c303d3128acbea410f4f9.jpeg" />
								</section>
								<section style="margin-top: -5px;transform: rotate(0deg);">
									<span style="width: 0px;height: 0px;display: inline-block;border-bottom: 15px solid #ff659c;border-left: 15px solid transparent;border-right: 15px solid transparent;float: right;margin-right: 20px;margin-top: -15px;"></span>

									<p style="margin: 0px auto;text-align: left;padding-left: 10px;height: 35px;line-height: 35px;background-color: #ff659c;color: #fff;">
										原价：¥199
									</p>

								</section>
								<section style="background-color: #efefef;padding: 0px 10px 10px 10px;">
									<section style="background-color: #fff;padding:5px;">
										<p style="margin: 3px auto;text-align: left;">
											货号：0203
										</p>

										<p style="margin: 3px auto;text-align: left;">
											款式：斜挎包
										</p>

										<p style="margin: 3px auto;text-align: left;">
											大小：中
										</p>

									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 0px auto;text-align: center;margin-top: 30px;font-size: 0px;">
						<section style="margin-bottom: -21px;">
							<img src="../../upload/113444ce61cca76a74ceb5a7770b1c2e84f0e4.png" />
						</section>
						<section style="margin-top: -20px;display: inline-block;height: 50px;padding:5px;border-top-left-radius:50% 25px;border-top-right-radius:50% 25px;border-bottom-left-radius:50% 25px;border-bottom-right-radius:50% 25px;background-color: #fe7283;color: #fff;box-sizing: border-box;">
							<p style="height: 40px;padding:0px 40px;border-top-left-radius:50% 20px;border-top-right-radius:50% 20px;border-bottom-left-radius:50% 20px;border-bottom-right-radius:50% 20px;color: #fff;border:1px solid #fff;margin: 0px auto;line-height: 40px;font-size: 16px;box-sizing: border-box;">
								品牌介绍
							</p>

						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="display: flex;margin-top: 5px;">
						<section style="width: 150px;flex-shrink: 0;">
							<img src="../../upload/11344470b25e8a793fb200b70e1c60f907988c.jpeg" style="max-width: 100%;margin: 0px auto;text-align: center;" />
						</section>
						<section style="flex-shrink: 1;padding-left: 10px;">
							<p style="margin: 0px auto;font-size: 22px;font-weight: 600;">
								布莱特好源自美国
							</p>

							<p style="margin: 5px auto;font-size: 14px;margin-top: 15px;">
								不莱特好诞生于美国，专注于个性开放的设计，为每一个好玩、无拘束、崇尚个性主义的你，打造一个充满乐趣与态度的童话世界。
							</p>

						</section>
					</section>
				</section>
				<section class="ue_block">
					<section>
						<section style="background-image: url(../../upload/11344319d8ccc6d3c8a6f9e7a1d1df0696e6b2.png);background-repeat:no-repeat;width: 250px;height:100px;background-size: 100%;margin: 0px auto;text-align: center;box-sizing: border-box;padding: 25px 0px;">
							<p style="margin: 0px auto;text-align: center;">
								掌柜：布莱特旗舰店
							</p>
							<p style="margin: 0px auto;text-align: center;">
								所 在 地：浙江省, 嘉兴市
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section>
						<section style="background-image: url(../../upload/113443f2f25880ee0f2b50283a96dfdebb645f.png);background-repeat:no-repeat;width: 250px;height:320px;background-size: 100%;margin: 0px auto;text-align: center;">
							<section style="width: 160px;margin: 0px auto;text-align: center;">
								<img src="../../images/ewm.png" style="margin:0px auto;text-align:center;width: 160px;padding-top: 135px;"  />
							</section>
						</section>
					</section>
				</section>
			</section>

		</div>
	</body>

</html>