<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>促销模板</title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<p style="white-space: normal; font-family: 微软雅黑; text-align: center; line-height: 1.75em;">
				<span style="line-height: 25.6px; color: rgb(101, 101, 101); font-size: 14px;">今天，万众期待的小米 6 隆重登场！七年探索的梦幻之作，究竟带来哪些惊喜？细细品读，从性能、工艺、拍照、体验，让你一一爱上小米6。</span><br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<br/>
			</p>
			<p>
				<section style="line-height: 25.6px; white-space: normal;">
					<section>
						<section  style="margin-top: 0.5em; margin-bottom: 0.5em; text-align: center;">
							<section  style="display: inline-block;">
								<section  style="padding-right: 0.8em; padding-left: 0.8em; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); display: inline-block;">
									<p>
										<strong>满血骁龙835，标配6GB内存</strong>
									</p>
								</section>
								<section  style="margin-top: 5px;">
									<p>
										<span style="font-size: 15px;">新一代性能怪兽</span>
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</p>
			<p>
				<br/>
			</p>
			<p style="line-height: 25.6px;">
				<br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px;font-family: 微软雅黑; text-align: justify; color: rgb(101, 101, 101); font-size: 14px;">
				<span style="line-height: 1.75em;">小米手机就是快！
					<strong>小米6 骁龙835 中国首发，这是</strong>
					<strong>全球第一颗10纳米商用芯片。</strong>比一角硬币还小的面积上，集成了超过30亿个晶体管。
				</span>
				<span style=" line-height: 24.5px;">标配6GB内存，</span>
				<span style="line-height: 1.75em;">安兔兔跑分高达18.4万分！</span><br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<img src="../../upload/miphone02.jpg" />
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<span style="color: rgb(101, 101, 101); font-size: 14px; line-height: 25.6px;">玩游戏，用小米手机！Adreno 540 GPU，渲染速度提升25%，功耗降低45%。支持新一代游戏机级的图像技术——支持<strong>Vulkan 3D 渲染API</strong>，畅玩大型3D手游，不卡不发热。</span><br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<img src="../../upload/miphone03.jpg" />
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<br/>
			</p>
			<p>
				<br/>
			</p>
			<p>
				<section style="line-height: 25.6px; white-space: normal;">
					<section>
						<section  style="margin-top: 0.5em; margin-bottom: 0.5em; text-align: center;">
							<section  style="display: inline-block;">
								<section  style="padding-right: 0.8em; padding-left: 0.8em; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 0, 0); display: inline-block;">
									<p>
										<strong>四曲面玻璃，高亮不锈钢</strong>
									</p>
								</section>
								<section  style="margin-top: 5px;">
									<p>
										<span style="font-size: 15px;">七年工艺巅峰之作</span>
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</p>
			<p>
				<br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<span style="color: rgb(101, 101, 101); font-size: 14px;">小米6 的美，来自于我们对精湛工艺七年来的不断探索。梦幻般的四曲面机身，高亮璀璨的不锈钢边框，不仅带来流光溢彩的视觉体验，更带来温润如玉的绝佳手感。远远看着它，时间犹如静止，唯有优雅的光影在它身上静静地流淌。</span>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: center;">
				<br/>
			</p>
			<p>
				<section style="line-height: 25.6px; white-space: normal; font-family: 微软雅黑; border: 0px none;">
					<section style="margin-right: auto; margin-bottom: 10px; margin-left: auto; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221);">
						<p style="margin-bottom: -1px; padding-right: 5px; padding-bottom: 6px; padding-left: 5px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(117, 117, 118); display: inline-block; line-height: 1.1; font-size: 18px;">
							<span style="font-size: 16px;"><strong><span style="color: rgb(101, 101, 101);"><span style="font-size: 14px;">流光溢彩的四曲面玻璃</span></span>
							</strong>
							</span>
						</p>
					</section>
				</section>
			</p>
			<p>
				<br/>
			</p>
			<p style="line-height: 25.6px;">
				<span style="color: rgb(101, 101, 101); font-family: 微软雅黑; font-size: 14px;">小米6 有</span><strong style="color: rgb(101, 101, 101); font-family: 微软雅黑; font-size: 14px;">亮白、亮黑、亮蓝</strong><span style="color: rgb(101, 101, 101); font-family: 微软雅黑; font-size: 14px;">三种颜色。高品质的玻璃面板采用近千度高温反复淬炼，40道工序打磨，耗时12天，让四个曲面都如艺术品般温润、优雅，与边框完美贴合。当光影在小米6 的身上流淌，犹如一颗宝石，流光溢彩、璀璨生辉。</span>
			</p>
			<p>
				<br/>
			</p>
			<p>
				<section style="line-height: 25.6px; white-space: normal; border: 0px none;">
					<section style="margin: 1em auto; padding: 5px; text-align: center; border: 1px solid rgb(221, 221, 221); overflow: hidden;">
						<section style="white-space: nowrap; overflow-x: scroll;">
							<img src="../../upload/phoenmi.jpg" style="display: inline-block; width: 461px;" />
							<img src="../../upload/phoenmi.jpg" style="line-height: 25.6px; z-index: -1; cursor: pointer; display: inline-block; width: 461px;" />
							<img src="../../upload/phoenmi.jpg" style="z-index: -1; cursor: pointer; line-height: inherit; display: inline-block; width: 461px;" />
							<img src="../../upload/phoenmi.jpg" style="white-space: normal; line-height: inherit; display: inline-block; width: 461px;" />
							<img src="../../upload/phoenmi.jpg" style="z-index: -1; cursor: pointer; line-height: inherit; display: inline-block; width: 461px;" />
							<img src="../../upload/phoenmi.jpg" style="z-index: -1; cursor: pointer; line-height: 25.6px; display: inline-block; width: 461px;" />
							<img src="../../upload/phoenmi.jpg" style="line-height: inherit; display: inline-block; width: 461px;" />
							<img src="../../upload/phoenmi.jpg" style="line-height: inherit; display: inline-block; width: 461px;" />
						</section>
						<p style="margin: 10px; line-height: 12px;">
							<span style="font-size: 12px; color: rgb(136, 136, 136);">← 左右滑动查看小米6外观图 →</span>
						</p>
					</section>
				</section>
			</p>
			<p>
				<br/>
			</p>
			<p style="line-height: 25.6px;">
				<br/><span style="color: rgb(101, 101, 101); font-family: 微软雅黑; font-size: 14px;"></span>
			</p>
			<p>
				<br/>
			</p>
			<p>
				<section style="line-height: 25.6px; white-space: normal; font-family: 微软雅黑; border: 0px none;">
					<section style="margin-right: auto; margin-bottom: 10px; margin-left: auto; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221);">
						<p style="margin-bottom: -1px; padding-right: 5px; padding-bottom: 6px; padding-left: 5px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(117, 117, 118); display: inline-block; line-height: 1.1; font-size: 18px;">
							<span style="font-size: 16px;"><strong><span style="font-size: 14px;color: rgb(101, 101, 101);">高亮璀璨的不锈钢边框</span></strong>
							</span>
						</p>
					</section>
				</section>
			</p>
			<p>
				<br/>
			</p>
			<p style="line-height: 25.6px;">
				<span style="color: rgb(101, 101, 101); font-size: 14px; font-family: 微软雅黑;">50道制程，272道工序，</span><span style="color: rgb(101, 101, 101); font-size: 14px; font-family: 微软雅黑; line-height: 25.6px;">经千百转研磨而成的不锈钢边框，相比铝合金边框，不止坚固耐磨，更闪耀着高亮的金属光泽。配合圆润的四曲面玻璃机身，<span style="line-height: 22.4px;">小米6 握感绝佳，更有如钟表般的精湛工艺。</span></span>
			</p>
			<p>
				<br/>
			</p>
			<p>
				<section style="line-height: 25.6px; white-space: normal; border: 0px none;">
					<section style="margin: 1em auto; padding: 5px; text-align: center; border: 1px solid rgb(221, 221, 221); overflow: hidden;">
						<section style="white-space: nowrap; overflow-x: scroll;">
							<img src="../../upload/iphonew.jpg" style="display: inline-block; width:auto !important;max-width:100% !important;height:auto !important;" />
							<img src="../../upload/iphonew.jpg" style="cursor: pointer; display: inline-block; width:auto !important;max-width:100% !important;height:auto !important;" />
							<img src="../../upload/iphonew.jpg" style="width:auto !important;max-width:100% !important;height:auto !important;" />
						</section>
						<p style="margin: 10px; line-height: 12px;">
							<span style="font-size: 12px; color: rgb(136, 136, 136);">← 左右滑动查看小米6工艺图 →</span>
						</p>
					</section>
				</section>
			</p>
			<p>
				<br/><br/>
			</p>
			<p>
				<section style="line-height: 25.6px; white-space: normal; font-family: 微软雅黑; border: 0px none;">
					<section style="margin-right: auto; margin-bottom: 10px; margin-left: auto; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221);">
						<p style="margin-bottom: -1px; padding-right: 5px; padding-bottom: 6px; padding-left: 5px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(117, 117, 118); display: inline-block; line-height: 1.1; font-size: 18px;">
							<span style="font-size: 16px;"><strong><span style="color: rgb(101, 101, 101);"><span style="font-size: 14px;">来自梦幻的未来，小米6 亮银探索版</span></span>
							</strong>
							</span>
						</p>
					</section>
				</section>
			</p>
			<p>
				<br/>
			</p>
			<p style="line-height: 25.6px;">
				<span style="font-family: 微软雅黑; color: rgb(101, 101, 101); font-size: 14px;">新的探索：小米6 亮银探索版带来的</span><strong style="font-family: 微软雅黑; color: rgb(101, 101, 101); font-size: 14px;">四曲面镜面玻璃</strong><span style="font-family: 微软雅黑; color: rgb(101, 101, 101); font-size: 14px;">，金属高亮光泽和极致的镜面反射浑然一体。</span><span style="font-family: 微软雅黑; color: rgb(101, 101, 101); font-size: 14px; line-height: 22.4px;">它仿佛没有任何颜色，但完美地反射周围一切的光影。</span><span style="font-family: 微软雅黑; color: rgb(101, 101, 101); font-size: 14px; line-height: 22.4px;">极致的镜面反射+高亮的不锈钢边框，宛如来自未来。</span><br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<span style="color: rgb(101, 101, 101); font-size: 14px;"><span style="font-family: 微软雅黑;"><span style="line-height: 22.4px;"><br/></span></span>
				</span>
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<span style="color: rgb(101, 101, 101); font-size: 14px;"><span style="font-family: 微软雅黑;"><span style="line-height: 22.4px;">经过12天打磨的四曲面玻璃，要想获得这美轮美奂的亮银镜面机身，需要再增加数十道严苛的工序。<strong>而且这12天都必须在绝对真空无尘环境下完成，一颗灰尘就会整片作废。</strong></span></span>
				</span>
			</p>
			<p>
				<br/>
			</p>
			<p>
				<section style="line-height: 25.6px; white-space: normal; border: 0px none;">
					<section style="margin: 1em auto; padding: 5px; text-align: center; border: 1px solid rgb(221, 221, 221); overflow: hidden;">
						<section style="white-space: nowrap; overflow-x: scroll;">
							<img src="../../upload/phoenmi.jpg" style="cursor: pointer; display: inline-block; width:auto !important;max-width:100% !important;height:auto !important;" />
							<img src="../../upload/phoenmi.jpg" style="width:auto !important;max-width:100% !important;height:auto !important;" />
							<img src="../../upload/phoenmi.jpg" style="cursor: pointer; display: inline-block; width:auto !important;max-width:100% !important;height:auto !important;" />
						</section>
						<p style="margin: 10px; line-height: 12px;">
							<span style="font-size: 12px; color: rgb(136, 136, 136);">← 左右滑动查看更多手机图 →</span>
						</p>
					</section>
				</section>
			</p>
			<p>
				<br/>
			</p>
			<p style="line-height: 25.6px;">
				<br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<span style="color: rgb(101, 101, 101); font-size: 14px; line-height: 22.4px;">很遗憾，四曲镜面玻璃还未通过量产，目前数千到上万片中才能产出完美的一枚。希望未来给大家带来更多惊喜！</span>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<span style="color: rgb(101, 101, 101); font-size: 14px; line-height: 22.4px;"><br/></span>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<span style="color: rgb(101, 101, 101); font-size: 14px;"><span style="line-height: 25.6px;">这就是小米工程师文化的注解：对技术和工艺的探索，永不止步。</span></span>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<span style="font-family: &#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif; color: rgb(101, 101, 101); font-size: 14px; line-height: 1.75em;"><br/></span>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<span style="font-family: &#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif; color: rgb(101, 101, 101); font-size: 14px; line-height: 1.75em;">七年探索的梦幻之作：骁龙835年度旗舰处理器，标配6GB大内存，</span><span style="font-family: &#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif; color: rgb(101, 101, 101); font-size: 14px; line-height: 24.5px;">5.15&quot;护眼屏，四曲面梦幻机身，</span><span style="font-family: &#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif; color: rgb(101, 101, 101); font-size: 14px; line-height: 1.75em;">变焦双摄+四轴防抖拍照黑科技。</span>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">
				<span style="font-family: &#39;Helvetica Neue&#39;, Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft YaHei&#39;, Arial, sans-serif; color: rgb(101, 101, 101); font-size: 14px; line-height: 1.75em;"><br/></span>
			</p>
			<p>
				<section style="position: static;">
					<section  style="margin-top: 10px; margin-bottom: 10px; position: static;">
						<section  style="border: 5px solid rgb(249, 110, 87); padding: 10px; background-color: rgb(63, 59, 58);">
							<section style="position: static;">
								<section  style="text-align: center; padding: 10px; font-size: 19.2px; color: rgb(255, 255, 255);">
									<p style="margin-top: 0px; margin-bottom: 0px; text-align: center;">
										<span style="color: rgb(255, 255, 255);"><strong style="line-height: 25.6px; white-space: normal; font-size: 19.2px;"><span style="font-size: 14px; line-height: 24.5px;"><strong style="font-family: 微软雅黑; line-height: 25.6px; text-align: center; white-space: normal; font-size: 11px;"><span>◆&nbsp;</span></strong>小米 6&nbsp;标准版：6GB + 64GB 2499元</span>
										</strong>
										</span>
									</p>
									<p style="white-space: normal; line-height: 25.6px; text-align: center;">
										<span style="color: rgb(255, 255, 255);"><strong><span style="font-size: 14px; line-height: 24.5px;"><strong style="color: rgb(255, 255, 255); font-size: 19.2px; text-align: center; line-height: 25.6px; white-space: normal; background-color: rgb(63, 59, 58);"><span style="font-size: 14px; line-height: 24.5px;"><strong style="font-family: 微软雅黑; line-height: 25.6px; font-size: 11px;"><span>◆&nbsp;</span></strong>
										</span>
										</strong>小米 6 高配版：6GB + 128GB 2899元</span>
										</strong>
										</span>
									</p>
									<p style="white-space: normal; line-height: 25.6px; text-align: center;">
										<span style="color: rgb(255, 255, 255);"><strong><span style="font-size: 14px; line-height: 24.5px;"><strong style="color: rgb(255, 255, 255); font-size: 19.2px; text-align: center; line-height: 25.6px; white-space: normal; background-color: rgb(63, 59, 58);"><span style="font-size: 14px; line-height: 24.5px;"><strong style="font-family: 微软雅黑; line-height: 25.6px; font-size: 11px;"><span>◆&nbsp;</span></strong>
										</span>
										</strong>小米 6 陶瓷尊享版：6GB + 128GB 2999元</span>
										</strong>
										</span>
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<span style="color: rgb(101, 101, 101); font-size: 14px; line-height: 24.5px;"><strong><br/></strong></span>
			</p>
			<p style="white-space: normal; line-height: 25.6px;">
				<span style="color: rgb(101, 101, 101); font-size: 14px; line-height: 24.5px;"><strong>4月28日10点，小米商城/小米之家/天猫/京东/苏宁易购/线下核心专区门店首轮开售。<span style="font-family: 微软雅黑;"></span></strong><span style="font-family: 微软雅黑;">点击下方「</span><span style="font-family: 微软雅黑; color: rgb(255, 81, 2);">阅读原文</span><span style="font-family: 微软雅黑;">」了解新品更多详情！</span></span>
			</p>
			<p style="line-height: 25.6px;">
				<img src="../../upload/miphone01.jpg" />
			</p>
			<p style="white-space: normal; line-height: 25.6px; text-align: center;">
				<span style="font-family: 微软雅黑; line-height: 25.6px; color: rgb(101, 101, 101); font-size: 14px;"><br/></span>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: center;">
				<br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: center;">
				<span style="color: rgb(255, 81, 2); font-size: 15px;"><strong>微信专属福利</strong></span><br/>
			</p>
			<p style="white-space: normal; line-height: 25.6px; font-family: 微软雅黑; text-align: center;">
				<strong style="font-size: 11px;"><span style="color: rgb(228, 157, 172);">&nbsp; ◆&nbsp;</span>&nbsp;<span style="color: rgb(250, 211, 172);">◆&nbsp;</span>&nbsp;<span style="color: rgb(255, 233, 234);">◆ &nbsp;<span style="color: rgb(121, 134, 175);">◆&nbsp;</span>&nbsp;<span style="color: rgb(17, 163, 215);">◆&nbsp;</span>&nbsp;</span></strong>
			</p>
			<p>
				<br/>
			</p>
			<p>
				<section  style="line-height: 25.6px; white-space: normal; font-family: 微软雅黑; -webkit-border-image: none;">
					<section  style="border: 0px none;">
						<p style="font-size: 11px; text-align: center;">
							<span style="color: rgb(101, 101, 101); font-size: 14px; line-height: 25.6px;">立即发送“小米”给小米手机<br/></span>
						</p>
					</section>
					<p style="line-height: 25.6px; text-align: center;">
						<span style="color: rgb(101, 101, 101); font-size: 14px; line-height: 25.6px;">抽奖送出&nbsp;<span style="line-height: 25.6px; color: rgb(255, 41, 65);">6</span>&nbsp;台小米6</span>
					</p>
					<p style="line-height: 1.5em; color: rgb(51, 51, 51); text-align: center;">
						<span style="color: rgb(101, 101, 101); font-size: 14px; line-height: 25.6px;">活动截至 4 月 26 日 12:00</span>
					</p>
				</section>
			</p>
		</div>
	</body>

</html>