<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<p>
				<img src="../../upload/324276-temp-201704-21-1492745362557.JPG" style="border: 0px; display: inline-block;width:auto !important;max-width:100% !important;height:auto !important;" />
			</p>
			<p>
				<br/>
			</p>
			<section class="ue_block">
				<section style="border: none; margin: 0.8em 0px 0.3em; box-sizing: border-box; padding: 0px;">
					<section style="width: 30%; display: inline-block; float: left; text-align: right; margin: 15px 0px 0px; padding: 0px; box-sizing: border-box;">
						<section style="float: right; text-align: center; margin-top: -15px; box-sizing: border-box;">
							<section style="width: 1px; height: 1.2em; margin-left: 13px; background-color: rgb(102, 102, 102); box-sizing: border-box;"></section>
							<section style="width: 2em; height: 2em; border: 1px solid rgb(102, 102, 102); border-radius: 50%; line-height: 2em; font-size: 1em;font-weight: inherit; text-decoration: inherit; box-sizing: border-box;">
								<section style="box-sizing: border-box;">
									食
								</section>
							</section>
							<section style="width: 2em; height: 2em; border: 1px solid rgb(102, 102, 102); margin-top: 2px; border-radius: 50%; line-height: 2em; font-size: 1em;  font-weight: inherit; text-decoration: inherit; box-sizing: border-box;">
								<section style="box-sizing: border-box;">
									物
								</section>
							</section>
						</section>
					</section>
					<section style="width: 65%; float: left; margin-top: 20px; line-height: 1.5em; padding-left:20px; font-size: 1em;  font-weight: inherit; text-decoration: inherit; color: rgb(39, 44, 51); box-sizing: border-box;">
						<section style="box-sizing: border-box;">
							<section style="box-sizing:border-box; font-size:175%;margin:5px 0px">
								<span style="color: rgb(121, 121, 121); font-family: &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; font-size: 12px; text-align: justify; white-space: pre-wrap;">一味黄豆</span>
								<br />
								<span style="color: rgb(121, 121, 121); font-family: &#39;Microsoft YaHei&#39;, Arial, Helvetica, sans-serif; font-size: 12px; text-align: justify; white-space: pre-wrap;">就能烹出天下无双的味道来</span>
							</section>
							<section style="box-sizing: border-box;font-size:16px">
								<br/>
							</section>
						</section>
					</section>
				</section>
			</section>
			<p>
				<br/>
			</p>
			<p>
				<br/>
			</p>
			<p>
				<br/>
			</p>
			<section class="ue_block">
				<section style="font-family: 微软雅黑;">
					<section style="position: static; border: 0px none;">
						<section style="width: 100%; text-align: center;">
							<section style="width: 100%; border: 1px solid rgb(198, 198, 199); color: inherit; font-size: 14px; margin-top: 15px; margin-bottom: 15px; display: inline-block;">
								<section style="line-height:24px;color:rgb(89, 89, 89); font-size:20px;padding: 20px; margin: -10px 5px; border: 1px solid rgb(198, 198, 199); color: inherit;">
									<p style="text-align: left;line-height: 24px; color: rgb(70, 70, 72); border-color: rgb(198, 198, 199); white-space: normal;">
										<span style="color: rgb(191, 191, 191); font-size: 14px;">在古代第一吃货袁枚的《随园菜单》里，豆腐菜品层出不穷，这里推荐的是一家叫做《食。物》的小吃店，小店不受地域和口味的局限，搜罗各地的著名小吃推荐给大家。这是的招牌便是闻名的长沙黑色经典臭豆腐，由于店主的母亲是湖南长沙人，从小便对湖南的文化和食物充满情结，把这份美味散播到世界各地一直是姑娘的梦想。</span>
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
			<p>
				<br/>
			</p>
			<section class="ue_block">
				<section style="position: static;">
					<section class="" style="margin-top: 0.5em; margin-bottom: 0.5em; text-align: center; position: static;">
						<section class="" style="display: inline-block; vertical-align: top;">
							<section class="" style="color: rgb(255, 255, 255); font-size: 17px; padding-right: 5px; padding-left: 5px; margin-bottom: 4px; line-height: 1.8; letter-spacing: 1px; background-color: rgb(119, 170, 169);">
								<p style="margin-top: 0px; margin-bottom: 0px;">
									招牌推荐
								</p>
							</section>
							<section style="height: 2px; width: 100%; background-color: rgb(204, 204, 204);">
								<br/>
							</section>
						</section>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="font-family: 微软雅黑;">
					<section style="position: static; box-sizing: border-box; border: 0px none;">
						<section style="margin: 3px; box-sizing: border-box;">
							<p style="text-align: center; box-sizing: border-box; white-space: normal;">
								<img src="../../upload/324276-temp-201704-21-1492754194672.JPG" style="box-sizing: border-box; width: 100%;" />
							</p>
							<section style="padding-top: 2px; padding-bottom: 2px; box-sizing: border-box;">
								<section style="float: left; margin-right: 20px; margin-left: 5px; box-sizing: border-box;">
									<span style="box-sizing: border-box; font-size: 30px; color: rgb(66, 204, 197);"><em style="box-sizing: border-box;">1</em></span><span style="box-sizing: border-box; font-size: 14px;"><em style="box-sizing: border-box; color: rgb(153, 153, 153);">/4</em></span>
								</section>
								<section style="clear: none;line-height:17px;padding:0;font-size:12px;padding-top: 5px; padding-bottom: 5px; box-sizing: border-box; margin-top: 5px;">
									<p style="clear: none; font-size: 12px; line-height: 17px; box-sizing: border-box; white-space: normal; text-align: justify; letter-spacing: 0px; margin-left: 0em; margin-right: 0em;">
										<span style="box-sizing: border-box; color: rgb(165, 165, 165);">正宗长沙臭豆腐的卤水配料，是采用黑豆豉、纯碱、青矾、香菇、冬笋、盐等共煮沸，冷却后加香菇、冬笋、白酒等佐料，发酵七七四九天方可制成。</span>
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="font-family: 微软雅黑;">
					<section style="position: static; box-sizing: border-box; border: 0px none;">
						<section style="margin: 3px; box-sizing: border-box;">
							<p style="text-align: center; box-sizing: border-box; white-space: normal;">
								<img src="../../upload/324276-temp-201704-21-1492754558635.JPG" style="box-sizing: border-box; width: 100%;" />
							</p>
							<section style="padding-top: 2px; padding-bottom: 2px; box-sizing: border-box;">
								<section style="float: left; margin-right: 20px; margin-left: 5px; box-sizing: border-box;">
									<span style="box-sizing: border-box; font-size: 30px; color: rgb(66, 204, 197);"><em style="box-sizing: border-box;">2</em></span><span style="box-sizing: border-box; font-size: 14px;"><em style="box-sizing: border-box; color: rgb(153, 153, 153);">/4</em></span>
								</section>
								<section style="clear: none;line-height:17px;padding:0;font-size:12px;padding-top: 5px; padding-bottom: 5px; box-sizing: border-box; margin-top: 5px;">
									<p style="clear: none; font-size: 12px; line-height: 17px; box-sizing: border-box; white-space: normal;">
										<span style="box-sizing: border-box; color: rgb(165, 165, 165);">吃臭豆腐，一定要在刚出锅的时候浇上辣和酱汁，热气腾腾端在手里，小家碧玉的豆腐也瞬间就有了豪迈的江湖气。</span>
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="font-family: 微软雅黑;">
					<section style="position: static; box-sizing: border-box; border: 0px none;">
						<section style="margin: 3px; box-sizing: border-box;">
							<p style="text-align: center; box-sizing: border-box; white-space: normal;">
								<img src="../../upload/324276-temp-201704-21-1492754745563.JPG" style="box-sizing: border-box; width: 100%;" />
							</p>
							<section style="padding-top: 2px; padding-bottom: 2px; box-sizing: border-box;">
								<section style="float: left; margin-right: 20px; margin-left: 5px; box-sizing: border-box;">
									<span style="box-sizing: border-box; font-size: 30px; color: rgb(66, 204, 197);"><em class="autonum" style="box-sizing: border-box;" data-original-title="" title="">3</em></span><span style="box-sizing: border-box; font-size: 14px;"><em class="135brush" data-brushtype="text" style="box-sizing: border-box; color: rgb(153, 153, 153);">/4</em></span>
								</section>
								<section style="clear: none;line-height:17px;padding:0;font-size:12px;padding-top: 5px; padding-bottom: 5px; box-sizing: border-box; margin-top: 5px;">
									<p style="clear: none; font-size: 12px; line-height: 17px; box-sizing: border-box; white-space: normal; text-align: justify; margin-left: 0em; margin-right: 0em;">
										<span style="box-sizing: border-box; color: rgb(165, 165, 165); font-size: 12px;"><span style="font-family: 黑体;">跟普通的臭豆腐不同，炸好的长沙臭豆腐中间空心儿，不需拿筷子捅破，辣椒汁自个儿就能溜进去。</span><span style="font-family: 黑体;">不止于表皮的酥脆，浸润了汤汁的里层更是鲜香过瘾。</span></span>
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="font-family: 微软雅黑;">
					<section style="position: static; box-sizing: border-box; border: 0px none;">
						<section style="margin: 3px; box-sizing: border-box;">
							<p style="text-align: center; box-sizing: border-box; white-space: normal;">
								<img src="../../upload/324276-temp-201704-21-1492755022869.jpeg" style="box-sizing: border-box; width: 100%;" />
							</p>
							<section style="padding-top: 2px; padding-bottom: 2px; box-sizing: border-box;">
								<section style="float: left; margin-right: 20px; margin-left: 5px; box-sizing: border-box;">
									<span style="box-sizing: border-box;">
										<em style="box-sizing: border-box; font-size: 30px;">
											<span style="color:#42ccc5">4</span>
									</em>
									<em style="font-size: 14px; box-sizing: border-box; color: rgb(153, 153, 153);">/4</em>
									</span>
								</section>
								<section style="padding-top: 5px; padding-bottom: 5px; box-sizing: border-box; margin-top: 5px;clear: none;line-height:17px;padding:0;font-size:12px;">
									<p style="clear: none; font-size: 12px; line-height: 17px; box-sizing: border-box; white-space: normal;">
										<span style="box-sizing: border-box; color: rgb(165, 165, 165);">时光永是流转，街市处处太平。虽然美食家们在纸上不厌其烦、前仆后继地叹息着口福是一代比一代差，但长沙臭豆腐的口味却一直被保留了下来，经久不衰，成为一代又一代人的记忆。</span>
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
			<p>
				<br/>
			</p>
			<p>
				<br/>
			</p>
			<p>
				<br/>
			</p>
			<section class="ue_block">
				<section style="margin: 2em 0em; padding: 0.5em 1em; white-space: normal; border: 1px solid rgb(0, 0, 0); font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(166, 166, 166);">
					<section style="margin-top: -1.4em; text-align: center; border: none; line-height: 1.4;">
						<section style="padding-right: 24px; padding-left: 24px; font-size: 20px; font-family: inherit; font-weight: inherit; text-decoration: inherit; border-color: rgb(255, 255, 255); display: inline-block; background-color: rgb(254, 255, 255);">
							<section>
								<span style="color: rgb(51, 51, 51);">活动福利</span>
							</section>
						</section>
					</section>
					<section style="padding: 16px; color: rgb(32, 32, 32); font-size: 1em; line-height: 1.4; font-family: inherit;">
						<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; color: rgb(136, 136, 136); font-size: 14px; text-align: justify; line-height: 28px;">
							<span style="color: rgb(66, 204, 197); letter-spacing: 0px; font-size: 15px; font-family: 黑体;">／福利一 &nbsp;</span><span style="letter-spacing: 0px; font-family: 黑体; font-size: 12px;">评论区支持前十名将免费获得一份豪华套餐（一份臭豆腐加一份吐司加一杯奶茶）</span>
						</p>
						<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; color: rgb(136, 136, 136); font-size: 14px; text-align: justify; line-height: 26px;">
							<span style="color: rgb(66, 204, 197); letter-spacing: 0px; font-size: 15px; font-family: 黑体;">／福利二 &nbsp;</span><span style="letter-spacing: 0px; font-family: 黑体; font-size: 12px;">评论区支持第十一名到第三十名，免费获得一份臭豆腐</span>
						</p>
						<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; color: rgb(136, 136, 136); font-size: 14px; text-align: justify; line-height: 26px;">
							<span style="letter-spacing: 0px; font-family: 黑体; color: rgb(66, 204, 197); font-size: 12px;"><br/></span>
						</p>
						<p style="margin-top: 0px; margin-bottom: 0px; white-space: normal; color: rgb(136, 136, 136); font-size: 14px; text-align: justify; line-height: 26px;">
							<span style="letter-spacing: 0px; font-family: 黑体; color: rgb(66, 204, 197); font-size: 12px;">PS：<span style="letter-spacing: 0px; font-family: 黑体; color: rgb(66, 204, 197); line-height: 25.6px;">留言支持排名变动时间为二十九号晚上八点整，<span style="font-family: 黑体; color: rgb(66, 204, 197); letter-spacing: 0px;">奖品需到店自取哦~</span></span>
							</span>
						</p>
						<p>
							<span style="font-size: 14px;"><br/></span>
						</p>
						<p>
							<span style="font-size: 14px;">门店地址：下沙福雷德广场《食。物》</span><br/>
						</p>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="font-family: 微软雅黑; margin-top: 20px; border: 0px none;">
					<section style="text-align:center;">
						<section style="display:flex;justify-content: center;">
							<section style="margin-right:10px;">
								<p style="font-weight: bold; color: rgb(121, 121, 121); min-width: 1px;">
									<br/>
								</p>
							</section>
						</section>
						<section style="width: 50%!important;margin-top:20px;margin-left: auto;margin-right: auto;">
							<section style="width:40px;height:25px;border-top:1px solid rgb(6,6,6);border-left:1px solid rgb(6,6,6);margin-bottom:-18px;margin-left:-8px;"></section>
							<section>
								<img src="../../images/ewm.png" style="width:100%;vertical-align:top;border:1px solid rgb(6,6,6);" />
							</section>
							<section style="width:40px;height:25px;border-bottom:1px solid rgb(6,6,6);border-right:1px solid rgb(6,6,6);margin-top: -16px;margin-right: -8px;float:right;"></section>
						</section>
						<section style="margin-top:20px;">
							<p style="font-size:14px;color:rgb(6,6,6);min-width:1px;">
								<span style="color: rgb(153, 153, 153);">此处按一下又不会怀孕<br/>还能经常普及一些好玩的涨粉变现知识</span>
							</p>
						</section>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<p style="text-align: center;">
					<img src="../../upload/dasdasdasdasdf.png" style="margin-right: auto; margin-left: auto; color: rgb(0, 0, 0); font-family: sans-serif; line- text-align: center; white-space: normal; display: inline-block;width:auto !important;max-width:100% !important;height:auto !important;" />
				</p>
			</section>
			<section class="ue_block">
				<section style="margin: 5px auto; color: rgb(0, 0, 0); line-height: 25.6px; white-space: normal; border: none; width: 74.6852%; background-image: none; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
					&nbsp;&nbsp;<img src="../../upload/edasdaasd12313.gif" style="margin-right: auto; margin-left: auto; width: 30px; display: inline-block; vertical-align: middle;" />
					<section style="margin-left: 5px; display: inline-block; vertical-align: middle; font-size: 12px;">
						点击下方“阅读原文”查看更多内容。
					</section>
				</section>
			</section>

		</div>
	</body>

</html>