<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>促销模板</title>
	</head>

	<body>
		<div class="w">
			<section>
				<section class="ue_block">
					<section style="margin: 20px auto;text-align: center;">
						<section style="display: inline-block;">
							<section style="display: inline-block;border:2px solid #e6212a;">
								<section style="display: inline-block;border:2px solid #0211ea;margin:3px -8px;max-width: 200% !important;">
									<p style="display: inline-block;height: 35px;box-sizing:border-box;line-height: 35px;font-size: 18px;font-weight: 600;margin: 0px;clear: none;padding:0px 20px;max-width: none !important;min-width: 150px;box-shadow:0px 0px 6px rgba(0,0,0,0.3);">
										LAMY
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="background-image: url(../../upload/10285732621b36df3f49d15689339ce6744e1b.png);background-repeat: no-repeat;background-position: right bottom;background-size: 100px auto;margin: 10px auto;">
						<section style="background-image: url(../../upload/102857aeff388eefa3649fcfd1c8495f14bb5a.png);background-repeat: no-repeat;background-position: left top;background-size: 100px auto;padding:8px;">
							<span style="display: inline-block;width: 8px;height: 8px;border-radius: 4px;background-color: #0211ea;float: right;margin-top:-8px;margin-left: -8px;"></span>
							<section style="font-size: 14px;margin: 10px;padding:10px;box-shadow:0px 0px 6px rgba(0,0,0,0.3);">
								<p style="text-indent: 24px;margin: 0px;line-height: 1.5;color:#191d4e;">
									LAMY（多译为凌美或雷梅）是欧洲钢笔生产商，总部设于德国海德堡。该公司创始者约瑟夫·凌美曾是派克笔的销售代表，他于1930年创立了欧瑟斯钢笔制造厂（Orthos Fullhalter-Fabrik），由此开始从事钢笔制造业。曼弗雷德·凌美于1973年接替其父亲的职位，现任凌美公司总经理。1984年，凌美钢笔的出口量占到销售额的33%，一年后上升至50%，约合4000万德国马克。1986年，凌美、派克和万宝龙共占据西德的钢笔市场份额达70%-80%。1996年，凌美公司在海德堡投资建造了“创意工厂”。
								</p>
							</section><span style="display: inline-block;width: 8px;height: 8px;background-color: #0211ea;float: left;"></span>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section>
						<img src="../../upload/1028580c4b420e3db1c9ad0a200e20b9cd1a5d.png" style="max-width: 100%;margin:0px auto;" />
					</section>
				</section>
				<section class="ue_block">
					<section style="margin: 20px auto;text-align: center;">
						<section style="display: inline-block;">
							<section style="display: inline-block;border:2px solid #e6212a;">
								<section style="display: inline-block;border:2px solid #0211ea;margin:3px -8px;max-width: 200% !important;">
									<p style="display: inline-block;height: 35px;box-sizing:border-box;line-height: 35px;font-size: 18px;font-weight: 600;margin: 0px;clear: none;padding:0px 20px;max-width: none !important;min-width: 150px;box-shadow:0px 0px 6px rgba(0,0,0,0.3);">
										LAMY2000
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="overflow: hidden;height: 200px;">
						<section style="width: 50%;float: left;display: inline-block;" >
							<img src="../../upload/102858b363a1b0e310b5bb9e7e28258fc8f86d.jpeg" style="width: 100%;height: auto;" />
						</section>
						<section style="width: 50%;height:100%;float: right;display: inline-block;">
							<section style="width: 100%;height: 50%;">
								<img src="../../upload/10285849152425264b204ebe1a3ffc8cb0601d.jpeg" style="width: 100%;height: 100%;" />
							</section>
							<section style="width: 100%;height: 50%;">
								<img src="../../upload/10285849152425264b204ebe1a3ffc8cb0601d.jpeg" style="width: 100%;height: 100%;" />
							</section>
						</section>
					</section>
					<section style="background-image: url(../../upload/10285732621b36df3f49d15689339ce6744e1b.png);background-repeat: no-repeat;background-position: right bottom;background-size: 100px auto;margin: 10px auto;">
						<section style="background-image: url(../../upload/102857aeff388eefa3649fcfd1c8495f14bb5a.png);background-repeat: no-repeat;background-position: left top;background-size: 100px auto;padding:8px;">
							<span style="display: inline-block;width: 8px;height: 8px;border-radius: 4px;background-color: #0211ea;float: right;margin-top:-8px;margin-left: -8px;"></span>
							<section style="font-size: 14px;margin: 10px;padding:10px;box-shadow:0px 0px 6px rgba(0,0,0,0.3);">
								<p style="margin: 0px;line-height: 1.5;color:#191d4e;">
									1966年，LAMY2000系列首次瞩目登陆商店橱窗时，已经是一种前所未有的划时代发明。它无意成为一件金边镶嵌的品牌标志，却更愿展示其基本功能——功能超卓、工艺精湛，把包豪斯流派的传统风格淋漓尽致地表现出来。
								</p>
								<p style="margin: 0px;line-height: 1.5;color:#191d4e;">
									今时今日，LAMY2000系列已登上备受推崇的皇者宝座。出众的外形设计，全新功能，配衬前所未见的感官享受，皇者地位实在当之无愧。
								</p>
								<p style="margin: 0px;line-height: 1.5;color:#191d4e;">
									地位尊崇的书写工具，喜以功能取胜的人士可选用14K金镀铂金制笔尖及模克隆(Macrolon)材质笔身的墨水笔．
								</p>
								<p style="margin: 0px;line-height: 1.5;color:#191d4e;">
									可用笔尖等级：EF（0.5mm）,F（0.7mm）,M（0.9mm）
								</p>
								<p style="margin: 0px;line-height: 1.5;color:#191d4e;">
									设计师：A.米勒格尔德
								</p>
							</section><span style="display: inline-block;width: 8px;height: 8px;background-color: #0211ea;float: left;"></span>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section>
						<section style="width: 48%;">
							<img src="../../upload/10285849152425264b204ebe1a3ffc8cb0601d.jpeg" style="box-shadow:0px 0px 6px rgba(0,0,0,0.3);width: 100%;" />
						</section>
					</section>
					<section style="overflow: hidden;">
						<section style="width: 48%;display: inline-block;float: right;">
							<img src="../../upload/10285849152425264b204ebe1a3ffc8cb0601d.jpeg" style="box-shadow:0px 0px 6px rgba(0,0,0,0.3);width: 100%;" />
							<section style="width: 96%;display: inline-block;font-size: 14px;color:#191d4e;margin-top: 5px;border-top: 2px solid #e6212a;padding: 0 2%;">
								<p style="padding:5px;box-shadow:0px 0px 6px rgba(0,0,0,0.3);clear: none;margin-top: 5px;">
									却更愿展示其基本功能——功能超卓、工艺精湛，把包豪斯流派的传统风格淋漓尽致地表现出来。
								</p>
							</section>
						</section>
						<section style="width: 45%;display: inline-block;float: right;font-size: 14px;color:#191d4e;margin-right: 5%;margin-top: 5px;border-top: 2px solid #0211ea;">
							<p style="padding:5px;box-shadow:0px 0px 6px rgba(0,0,0,0.3);clear: none;margin-top: 5px;">
								1966年，LAMY2000系列首次瞩目登陆商店橱窗时，已经是一种前所未有的划时代发明。它无意成为一件金边镶嵌的品牌标志.
							</p>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section>
						<img src="../../upload/1028580c4b420e3db1c9ad0a200e20b9cd1a5d.png" style="max-width: 100%;margin:0px auto;" />
					</section>
				</section>
				<section class="ue_block">
					<section>
						<section style="width: 100%;">
							<img src="../../upload/10285849152425264b204ebe1a3ffc8cb0601d.jpeg" style="width: 100%;height: auto;" />
						</section>
					</section>
					<section style="background-image: url(../../upload/10285732621b36df3f49d15689339ce6744e1b.png);background-repeat: no-repeat;background-position: right bottom;background-size: 100px auto;margin: 10px auto;">
						<section style="background-image: url(../../upload/102857aeff388eefa3649fcfd1c8495f14bb5a.png);background-repeat: no-repeat;background-position: left top;background-size: 100px auto;padding:8px;">
							<span style="display: inline-block;width: 8px;height: 8px;border-radius: 4px;background-color: #0211ea;float: right;margin-top:-8px;margin-left: -8px;"></span>
							<section style="font-size: 14px;margin: 10px;padding:10px;box-shadow:0px 0px 6px rgba(0,0,0,0.3);">
								<p style="margin: 0px;line-height: 1.5;color:#191d4e;">
									1930年，约瑟夫·凌美在海德堡创立了欧瑟斯钢笔制造厂（Orthus Füllfederhalter-Fabrik）生产欧瑟斯（ORTHUS）和阿特斯（ARTUS）钢笔。1948年，公司改名为C·约瑟夫·凌美股份有限公司（C. Josef Lamy GmbH ）。九年后，约瑟夫·凌美的儿子曼弗雷德·凌美进入凌美公司担任营销部经理一职，并于1973年子承父业，担任凌美公司总经理。1984年，凌美钢笔的出口量占到销售额的33%，一年后上升至50%，约合4000万德国马克。1986年，凌美、派克和万宝龙共占据西德的钢笔市场份额达70%-80%.两年后，凌美公司雇佣员工数达400人，出口总额达到5400万德国马克。
								</p>
							</section><span style="display: inline-block;width: 8px;height: 8px;background-color: #0211ea;float: left;"></span>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="padding-bottom:30px;">
						<section style="margin: 20px auto;text-align: center;">
							<section style="width: 220px;display: inline-block;margin: 0px auto;text-align: center;" >
								<img src="../../upload/102858758010fb9a62b00ceaf321e4f014894c.png" style="width:100%;margin:0px auto;" />
							</section>
						</section>
						<section style="margin: 0px auto;text-align: center;margin: 0px auto;margin-top: -140px;">
							<section style="width: 90px;display: inline-block;margin: 0px auto;text-align: center;box-sizing: border-box;">
								<img src="../../images/ewm.png" style="width:100%;margin:0px auto;vertical-align: middle;" />
							</section>
						</section>
					</section>
				</section>
				<section class="ue_block">
					<section style="display: inline-block;text-align: center;margin: 40px auto 10px;">
						<img src="../../upload/102858dd811e21bf5937cc79939a5f65172785.png" style="max-width:90% !important;margin:0px auto;" />
					</section>
				</section>
			</section>
		</div>
	</body>

</html>