<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<style type="text/css">
			.money-scroll {
				height: 340px;
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">账户充值</span></div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox-content" style="background: #F9F9F9;height: 100%;">
						<div class="row">
							<div class="col-sm-12">
								
								<address>
									<h3><strong>杭州阿里巴巴XXXXXX有限公司</strong></h3>
									<p><i class="fa fa-map-marker"></i> 上海市闵行区田州路159号莲花大厦1602</p>
                  <abbr title="电话">总机：</abbr> (+86) 8888 8888
	              </address>
							</div>
						</div>
						<div class="clearfix m-b-xs">							
							<div class="pull-right">
								<input class="inputFxheight pull-left mr-r5 startTime" placeholder="起始日期" type="text">
								<input class="inputFxheight pull-left mr-r5 endTime" placeholder="结束日期" type="text">
								<button class="btn btn-fx btn-sure pull-left"><i class="fa fa-fw fa-search"></i>查询</button>
							</div>
						</div>
						<small class="pull-left">(当月充值记录)</small>
						<table class="table table-default">
							<thead>
								<tr>
									<th class="">充值时间</th>
									<th class="">订单编号</th>
									<th class="">账户</th>
									<th class="">姓名</th>
									<th class="">联系方式</th>
									<th class="">充值金额</th>
								</tr>
							</thead>
						</table>
						<div class="money-scroll">
							<table class="table table-default table-hover">
								<tbody>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴1</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴2</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴3</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴4</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴5</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴6</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴7</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴8</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴9</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴10</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴11</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
									<tr>
										<td class="">2018-4-12&nbsp;08:56:20</td>
										<td class="">SBUKA55665DAS656F</td>
										<td class="">阿里巴巴12</td>
										<td class="">奔波霸</td>
										<td class="">13888888888</td>
										<td class="">5000元</td>
									</tr>
								</tbody>
							</table>
						</div>
						<table class="table invoice-total m-t">
							<tbody>
								<tr>
									<td><strong>总充值金额：</strong>
									</td>
									<td>¥55026.00</td>
								</tr>
								<tr>
									<td><strong>税：</strong>
									</td>
									<td>¥5026.00</td>
								</tr>
								<tr>
									<td><strong>剩余总计：</strong>
									</td>
									<td>¥50000.00</td>
								</tr>
							</tbody>
						</table>
						<div class="text-right">
							<button class="btn btn-fx btn-sure addDollar"><i class="fa fa-dollar"></i> 充值</button>
							<button class="btn btn-fx btn-success cash"><i class="fa fa-credit-card"></i> 提现</button>
						</div>
						<div class="well m-t"><strong>注意：</strong><span class="text-danger">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span></div>
					</div>
				</div>
			</div>
		</div>
		<!--弹窗-->
		<div class="buyHtml hidden">
			<div class="ibox-content" style="padding-top: 20px;">
				<div class="form-horizontal">
					<h3 class="text-center m-b-lg"><strong>账户充值</strong></h3>
					<div class="hr-line-dashed"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label">充值金额：</label>
						<div class="col-sm-8">
							<div class="col-sm-4">
								<input class="btn btn-default btn-block money active rmb" type="button" value="2000元" />
							</div>
							<div class="col-sm-4">
								<input class="btn btn-default btn-block money rmb" type="button" value="5000元" />
							</div>
							<div class="col-sm-4">
								<input class="btn btn-default btn-block money rmb" type="button" value="10000元" />
							</div>
						</div>
					</div>
					<div class="form-group m-t-lg">
						<label class="col-sm-3 control-label">自定义金额：</label>
						<div class="col-sm-8">
							<div class="col-sm-5">
								<input class="form-control pull-left line-btn rmb" type="text" /><span style="line-height: 34px;">元</span>
							</div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group m-t-lg">
						<label class="col-sm-3 control-label">充值方式：</label>
						<div class="col-sm-8">
							<div class="col-sm-4">
								<button class="btn btn-default btn-block money active method">
									<img style="height: 15px;" src="../../images/buy_sms_wx.png"/>
									<span class="m-l-xs">微信</span>
								</button>
							</div>
							<div class="col-sm-4">
								<button class="btn btn-default btn-block money method">
									<img style="height: 15px;" src="../../images/buy_sms_zhi.png"/>
									<span class="m-l-xs">支付宝</span>
								</button>
							</div>
						</div>
					</div>
					<div class="form-group m-t-lg pay">
						<label class="col-sm-3 control-label">所需支付金额：</label>
						<div class="col-sm-8">
							<div class="col-sm-5">
								<h4><strong>¥<span class="rmb">2000元</span></strong></h4>
							</div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group m-t-lg pay">
						<div class="col-sm-offset-3 col-sm-6">
							<button class="btn btn-lg btn-success btn-block" type="button">前往支付 - <span class="method">微信</span>(<span class="rmb">¥2000.00</span>)</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="cashHtml hidden">
			<div class="ibox-content" style="padding-top: 20px;">
				<div class="form-horizontal">
					<h3 class="text-center m-b-lg"><strong>账户提现</strong></h3>
					<div class="hr-line-dashed"></div>
					<div class="form-group m-t-lg">
						<label class="col-sm-3 control-label">可提现金额：</label>
						<div class="col-sm-8">
							<span style="line-height: 30px;">	¥5000.00 (您当前可提现最大金额 ¥5000.00 )</span>
						</div>
					</div>
					<div class="form-group m-t-lg">
						<label class="col-sm-3 control-label">提现金额：</label>
						<div class="col-sm-8">
							<div class="col-sm-5">
								<input class="form-control pull-left line-btn rmb" type="text" value="5000" /><span style="line-height: 34px;">元</span>
							</div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group m-t-lg">
						<label class="col-sm-3 control-label">提现方式：</label>
						<div class="col-sm-8">
							<div class="col-sm-4">
								<button class="btn btn-default btn-block money active method">
									<img style="height: 15px;" src="../../images/buy_sms_wx.png"/>
									<span class="m-l-xs">微信</span>
								</button>
							</div>
							<div class="col-sm-4">
								<button class="btn btn-default btn-block money method">
									<img style="height: 15px;" src="../../images/buy_sms_zhi.png"/>
									<span class="m-l-xs">支付宝</span>
								</button>
							</div>
						</div>
					</div>
					<div class="form-group m-t-lg">
						<label class="col-sm-3 control-label">提现账号：</label>
						<div class="col-sm-8">
							<div class="col-sm-12">
								<input class="form-control pull-left line-btn" type="text" placeholder="请输入您的手机号/微信号" />
							</div>
						</div>
					</div>
					<div class="form-group m-t-lg">
						<label class="col-sm-3 control-label">真实姓名：</label>
						<div class="col-sm-8">
							<div class="col-sm-12">
								<input class="form-control pull-left line-btn" type="text" placeholder="请输入您的真实姓名" />
							</div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="form-group m-t-lg pay">
						<div class="col-sm-offset-3 col-sm-6">
							<button class="btn btn-lg btn-success btn-block" type="button">提现 - <span class="method">微信</span>(<span class="rmb">¥5000.00</span>)</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/zUI.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			$(function(){
				//充值记录数据滚动条
				$('.money-scroll').panel({
					iWheelStep: 34 //步长
				})
				//充值
				$('.addDollar').click(function(){
					layer.open({
						title: false,
						closeBtn: true,
						shadeClose: true,
						type: 1,
						content: $('.buyHtml').html(),
						area: ['600px','440px'],
						success: function(){
							//购买切换效果
							$('.money').click(function(){
								if (!$(this).hasClass('active')) { //切换效果
									$(this).addClass('active').parent().siblings('div').find('.money').removeClass('active')
								}else {
									$(this).toggleClass('active')
								}
								if ($(this).hasClass('rmb')) { //支付金额
									$('.pay .rmb').text($(this).val())
									$('.line-btn.rmb').val('')
								}
								if ($(this).hasClass('method')) { //支付方式
									$('.pay .method').text($(this).find('span').text())
								}
							})
							//输入自定义
							$('.line-btn.rmb').on('input',function(e){
								if (e.target.value != '') {
									$('.money.rmb').removeClass('active')
									$('.pay .rmb').text(e.target.value + '元')
								}
							})
						}
					}) //end layer
				})
				//提现
				$('.cash').click(function(){
					layer.open({
						title: false,
						closeBtn: true,
						shadeClose: true,
						type: 1,
						content: $('.cashHtml').html(),
						area: ['600px','520px'],
						success: function(){
							//购买切换效果
							$('.money').click(function(){
								if (!$(this).hasClass('active')) { //切换效果
									$(this).addClass('active').parent().siblings('div').find('.money').removeClass('active')
								}else {
									$(this).toggleClass('active')
								}
								if ($(this).hasClass('rmb')) { //支付金额
									$('.pay .rmb').text($(this).val())
									$('.line-btn.rmb').val('')
								}
								if ($(this).hasClass('method')) { //支付方式
									$('.pay .method').text($(this).find('span').text())
								}
							})
							//输入自定义
							$('.line-btn.rmb').on('input',function(e){
								if (e.target.value != '') {
									$('.money.rmb').removeClass('active')
									$('.pay .rmb').text(e.target.value + '元')
								}
							})
						}
					}) //end layer
				})
				
			})
		</script>
	</body>

</html>