<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>账户基本信息</title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body>
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">账户信息</span><span class="tabli">企业资质</span><span class="tabli">财务信息</span></div>
				<div class="tabBody">
					<div class="tabMain onMain">
						<div class="row">
							<div class="col-sm-7">
								<div class="ibox">
									<div class="ibox-title">
										<h5>企业基本信息</h5>
									</div>
									<div class="ibox-content">
										<div class="row">
											<div class="col-sm-12">
												<div class="m-b-md">
													<a href="#" class="btn btn-sure btn-xs pull-right edit">编辑基本信息</a>
													<h2>XX信息科技有限公司</h2>
													<p><i class="fa fa-map-marker"></i> 上海市闵行区田州路159号莲花大厦1602</p>
												</div>
												<dl class="dl-horizontal">
													<dt>账户类型：</dt>
													<dd><span class="label label-primary">企业级别账户</span>
													</dd>
												</dl>
											</div>
										</div>
										<div class="row m-t">
											<div class="col-sm-6">
												<dl class="dl-horizontal">
													<dt>法人姓名：</dt>
													<dd>王小二</dd>
													<dt>联系方式：</dt>
													<dd>13555555555</dd>
													<dt>电话号码：</dt>
													<dd>021-12345678</dd>
													<dt>邮箱地址：</dt>
													<dd>qwe978@163.com</dd>
												</dl>
											</div>
											<div class="col-sm-6">
												<dl class="dl-horizontal">
													<dt>创建于：</dt>
													<dd>2014-02-16 03:01</dd>
													<dt>最后更新：</dt>
													<dd>2014-11-07 22:03</dd>
													<dt>邮政编码：</dt>
													<dd>000000</dd>
												</dl>
											</div>
										</div>
										<div class="hr-line-dashed"></div>
										<div class="row m-t text-center">
											<div class="col-sm-4">
												<span class="bar" style="display: none;">5,3,9,6,5,9,7,3,5,2</span>
												<svg class="peity" height="16" width="32">
													<rect fill="#1ab394" x="0" y="7.111111111111111" width="2.3" height="8.88888888888889"></rect>
													<rect fill="#d7d7d7" x="3.3" y="10.666666666666668" width="2.3" height="5.333333333333333"></rect>
													<rect fill="#1ab394" x="6.6" y="0" width="2.3" height="16"></rect>
													<rect fill="#d7d7d7" x="9.899999999999999" y="5.333333333333334" width="2.3" height="10.666666666666666"></rect>
													<rect fill="#1ab394" x="13.2" y="7.111111111111111" width="2.3" height="8.88888888888889"></rect>
													<rect fill="#d7d7d7" x="16.5" y="0" width="2.3" height="16"></rect>
													<rect fill="#1ab394" x="19.799999999999997" y="3.555555555555557" width="2.3" height="12.444444444444443"></rect>
													<rect fill="#d7d7d7" x="23.099999999999998" y="10.666666666666668" width="2.3" height="5.333333333333333"></rect>
													<rect fill="#1ab394" x="26.4" y="7.111111111111111" width="2.3" height="8.88888888888889"></rect>
													<rect fill="#d7d7d7" x="29.7" y="12.444444444444445" width="2.3" height="3.5555555555555554"></rect>
												</svg>
												<h5>共计发布 <strong>240</strong> 个活动</h5>
											</div>
											<div class="col-sm-4">
												<span class="line" style="display: none;">5,3,9,6,5,9,7,3,5,2</span>
												<svg class="peity" height="16" width="32">
													<polygon fill="#1ab394" points="0 15 0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666 32 15"></polygon>
													<polyline fill="transparent" points="0 7.166666666666666 3.5555555555555554 10.5 7.111111111111111 0.5 10.666666666666666 5.5 14.222222222222221 7.166666666666666 17.77777777777778 0.5 21.333333333333332 3.833333333333332 24.888888888888886 10.5 28.444444444444443 7.166666666666666 32 12.166666666666666" stroke="#169c81" stroke-width="1" stroke-linecap="square"></polyline>
												</svg>
												<h5>在线活动 <strong>5</strong> 个</h5>
											</div>
											<div class="col-sm-4">
												<span class="bar" style="display: none;">5,3,2,-1,-3,-2,2,3,5,2</span>
												<svg class="peity" height="16" width="32">
													<rect fill="#1ab394" x="0" y="0" width="2.3" height="10"></rect>
													<rect fill="#d7d7d7" x="3.3" y="4" width="2.3" height="6"></rect>
													<rect fill="#1ab394" x="6.6" y="6" width="2.3" height="4"></rect>
													<rect fill="#d7d7d7" x="9.899999999999999" y="10" width="2.3" height="2"></rect>
													<rect fill="#1ab394" x="13.2" y="10" width="2.3" height="6"></rect>
													<rect fill="#d7d7d7" x="16.5" y="10" width="2.3" height="4"></rect>
													<rect fill="#1ab394" x="19.799999999999997" y="6" width="2.3" height="4"></rect>
													<rect fill="#d7d7d7" x="23.099999999999998" y="4" width="2.3" height="6"></rect>
													<rect fill="#1ab394" x="26.4" y="0" width="2.3" height="10"></rect>
													<rect fill="#d7d7d7" x="29.7" y="6" width="2.3" height="4"></rect>
												</svg>
												<h5>近日结束活动  <strong>1</strong> 个</h5>
											</div>
										</div>
										<div class="hr-line-dashed"></div>
										<div class="row m-t-lg p-xs">
											<div class="feed-activity-list">
												<div class="feed-element">
													<a href="#" class="pull-left">
														<img alt="image" class="img-circle" src="../../images/a9.jpg">
													</a>
													<div class="media-body ">
														<small class="pull-right">5分钟前</small> 用户 <strong>王小二</strong> 发布了一个活动
														<br>
														<small class="text-muted">
															<span class="cur text-b-border">活动名称</span>&emsp; 今天 10:20
														</small>
													</div>
												</div>
												<div class="feed-element">
													<a href="#" class="pull-left">
														<img alt="image" class="img-circle" src="../../images/a9.jpg">
													</a>
													<div class="media-body ">
														<small class="pull-right">一天前</small> 用户 <strong>王小二</strong> 发布了一个活动
														<br>
														<small class="text-muted">
															<span class="cur text-b-border">活动名称</span>&emsp; 2018-05-04 20:20:00
														</small>
													</div>
												</div>
											</div>
											<button class="btn btn-sure btn-fx pull-right m-t"><i class="fa fa-arrow-circle-down"></i> More</button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="tabMain">
						<div class="row">
							<div class="col-sm-7">
								<div class="ibox">
									<div class="ibox-title">
										<h5>企业资质信息</h5>
									</div>
									<div class="ibox-content">
										<ul class="list-group clear-list no-margins clearfix">
											<li class="list-group-item fist-item"> 注册资金：
												<span class="pull-right"> 500万</span>
											</li>
											<li class="list-group-item"> 企业类型：
												<span class="pull-right"> 一人有限公司 </span>
											</li>
											<li class="list-group-item"> 统一社会信用代码：
												<span class="pull-right"> 91310120324548021R </span>
											</li>
											<li class="list-group-item"> 纳税人代码：
												<span class="pull-right"> 91310120324548021R </span>
											</li>
											<li class="list-group-item">经营范围：
												<span class="pull-right"> 设计、制作、代理、发布各类广告，电脑图文设计、制作，工艺礼品批发、零售、加工（限分支机构经营），舞台艺术造型策划，展台搭建，企业形象策划，展览展示服务，会务服务，公关活动策划，文化艺术交流策划。 </span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tabMain">
						<div class="row">
							<div class="col-sm-7">
								<div class="ibox">
									<div class="ibox-title">
										<h5>企业财务信息</h5>
									</div>
									<div class="ibox-content">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>账户类型</th>
													<th>账户名称</th>
													<th>账号</th>
													<th>联系人</th>
													<th>联系方式</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center"><i class="fa fa-credit-card-alt text-info fontsize_14"></i></td>
													<td>XX信息科技有限公司</td>
													<td class="font-bold">6228480170781363016(农行)</td>
													<td>王小二</td>
													<td>13888888888</td>
												</tr>
												<tr>
													<td class="text-center"><i class="fa fa-credit-card-alt text-info fontsize_14"></i></td>
													<td>XX信息科技有限公司</td>
													<td class="font-bold">6228480170781363016(招商)</td>
													<td>王小二</td>
													<td>13888888888</td>
												</tr>
												<tr>
													<td class="text-center"><img height="100%" src="../../images/buy_sms_wx.png" /></td>
													<td>XX信息科技有限公司</td>
													<td class="font-bold">wx165156154dasd</td>
													<td>王小二</td>
													<td>13888888888</td>
												</tr>
												<tr>
													<td class="text-center"><img height="100%" src="../../images/buy_sms_zhi.png" /></td>
													<td>XX信息科技有限公司</td>
													<td class="font-bold">13888888888</td>
													<td>王小二</td>
													<td>13888888888</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('.edit').click(function() {
					layer.open({
						type: 2,
						title: '修改账户',
						content: 'accountEdit.html',
						area: ['100%', '100%'],
						success: function() {

						}
					}) //end layer
				})

			})
		</script>
	</body>

</html>