<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>活动分发统计</title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body>
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">活动统计</span></div>
				<div class="tabBody">
					<div class="tabMain onMain">
						<div class="clearfix m-b">
							<input class="inputFxheight pull-left mr-r5" placeholder="请输入关键字" type="text">
							<input class="inputFxheight pull-left mr-r5" placeholder="作者名称" type="text">
							<button class="btn btn-fx btn-sure pull-left mr-r5"><i class="fa fa-fw fa-search"></i>搜索</button>
						</div>
						<div class="activity-line">
							<div class="row" style="overflow-y: auto;max-height: 180px;">
								<div class="col-sm-3">
									<div class="file cur box-shadow mr-r0 active">
										<div class="p-xs">
											活动1
											<div class="pull-right border-bottom">
												<span>活动参与人数：1235</span>，<span>浏览总人数：1235</span>
											</div>
											<br>
											<small>作者：王二麻子</small><br />
											<small>活动时间：2014-10-13 / 2014-10-14</small><br />
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="file cur box-shadow mr-r0">
										<div class="p-xs">
											活动1
											<div class="pull-right border-bottom">
												<span>活动参与人数：1235</span>，<span>浏览总人数：1235</span>
											</div>
											<br>
											<small>作者：王二麻子</small><br />
											<small>活动时间：2014-10-13 / 2014-10-14</small><br />
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="file cur box-shadow mr-r0">
										<div class="p-xs">
											活动1
											<div class="pull-right border-bottom">
												<span>活动参与人数：1235</span>，<span>浏览总人数：1235</span>
											</div>
											<br>
											<small>作者：王二麻子</small><br />
											<small>活动时间：2014-10-13 / 2014-10-14</small><br />
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="file cur box-shadow mr-r0">
										<div class="p-xs">
											活动2
											<div class="pull-right border-bottom">
												<span>活动参与人数：1235</span>，<span>浏览总人数：1235</span>
											</div>
											<br>
											<small>作者：王二麻子</small><br />
											<small>活动时间：2014-10-13 / 2014-10-14</small><br />
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="file cur box-shadow mr-r0">
										<div class="p-xs">
											活动2
											<div class="pull-right border-bottom">
												<span>活动参与人数：1235</span>，<span>浏览总人数：1235</span>
											</div>
											<br>
											<small>作者：王二麻子</small><br />
											<small>活动时间：2014-10-13 / 2014-10-14</small><br />
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="file cur box-shadow mr-r0">
										<div class="p-xs">
											活动2
											<div class="pull-right border-bottom">
												<span>活动参与人数：1235</span>，<span>浏览总人数：1235</span>
											</div>
											<br>
											<small>作者：王二麻子</small><br />
											<small>活动时间：2014-10-13 / 2014-10-14</small><br />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="countEcharts m-t-lg">
							<div class="col-sm-11">								
								<div class="lineEchart fl" id="countEchart" style="margin-bottom: 50px;"></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/echarts.common.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('body').on('click', '.activity-line .file', function() {
					if(!$(this).hasClass('active')) {
						$(this).addClass('active').parent().siblings().find('.file').removeClass('active')
					}
				})
				
				var data = [Math.round(Math.random() * 300)]
				var dataT = [Math.round(Math.random() * 300) + 300]
				var dataM = []
				// 获取某一时段到另一时段的小时数，Date.parse(new Date().format()) 为当前时间戳
				for(var i = Date.parse('2018-05-01'); i <= Date.parse(new Date().format(true)); i += 3600000) {
					dataM.push(new Date(i).format(true))
				}
				// 制造虚拟数据
				for(var i = 1; i < dataM.length; i++) {
					data.push(Math.round((Math.random()) * 20 + data[i - 1])) //参与人数
					dataT.push(data[i] + Math.round(Math.random() * 1000)) //浏览总人数
				}
				// 基于准备好的dom，初始化echarts实例
				var main_1 = echarts.init(document.getElementById('countEchart'))
				var option1 = {
					title: {
						text: '活动参与人数分析',
						left: 'center'
					},
					tooltip: {
						trigger: 'axis'
					},
					legend: {
						top: 0,
						left: '100px',
						data: ["参与人数", "浏览总数"]
					},
					toolbox: {
						feature: {
							saveAsImage: {}
						}
					},
					dataZoom: [{
						type: 'inside',
						start: 95,
						end: 100
					}, {
						start: 0,
						end: 100,
						handleSize: '80%',
					}],
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: dataM,
					},
					yAxis: {
						type: 'value'
					},
					series: [{
							name: '参与人数',
							type: 'line',
							smooth: true,
							symbolSize: 15,
							label: {
								normal: {
									show: true,
									position: 'top'
								}
							},
							data: data,
							markLine: {
								data: [{
									type: 'average',
									name: '平均值'
								}]
							},
							markPoint: {
								data: [{
										type: 'max',
										name: '最大值'
									},
									{
										type: 'min',
										name: '最小值'
									}
								]
							}
						},
						{
							name: '浏览总数',
							type: 'line',
							smooth: true,
							symbolSize: 12,
							label: {
								normal: {
									show: true,
									position: 'bottom'
								}
							},
							data: dataT,
							markLine: {
								data: [{
									type: 'average',
									name: '平均值'
								}]
							},
							markPoint: {
								data: [{
										type: 'max',
										name: '最大值'
									},
									{
										type: 'min',
										name: '最小值'
									}
								]
							}
						},
					]
				}
				main_1.setOption(option1)
			})
			
			
			
		</script>
	</body>

</html>