<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>频道查询</title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
		<style type="text/css">
			.folder-list li a {
				width: 80%;
				display: inline-block;
			}
		</style>
	</head>

	<body>
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">频道查询</span></div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="ibox float-e-margins">
						<div class="ibox-content min-h-700">
							<div class="file-manager">
								<button class="btn btn-fx btn-sure" id="addChannel"><i class="fa fa-plus"></i>&nbsp;创建频道</button>
								<div class="hr-line-dashed"></div>
								<ul class="folder-list">
									<li>
										<a href="javascript:;"><i class="fa fa-plus"></i>&nbsp;区块频道</a><i class="fa fa-edit"></i>
										<ul class="folder-list mr-l20">
											<li>
												<a href="javascript:;"><i class="fa fa-plus"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
												<ul class="folder-list mr-l20">
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
												</ul>
											</li>
											<li>
												<a href="javascript:;"><i class="fa fa-plus"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
												<ul class="folder-list mr-l20">
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
												</ul>
											</li>
											<li>
												<a href="javascript:;"><i class="fa fa-plus"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
												<ul class="folder-list mr-l20">
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="javascript:;"><i class="fa fa-plus"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
										<ul class="folder-list mr-l20">
											<li>
												<a href="javascript:;"><i class="fa fa-plus"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
												<ul class="folder-list mr-l20">
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
													<li>
														<a href="javascript:;"><i class="fa fa-cube"></i>&nbsp;频道</a><i class="fa fa-edit"></i>
													</li>
												</ul>
											</li>
										</ul>
									</li>

								</ul>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="ibox ">
						<div class="ibox-content">
							<div class="tab-content">
								<div class="tab-pane active">
									<div class="row m-b-lg">
										<div class="col-lg-12">
											<button type="button" class="btn btn-sure btn-fx pull-right edit"><i class="fa fa-edit"></i> 编辑</button>
											<h3>频道名称</h3>
											<br />
											<p>备注：</p>
											<p>&emsp;&emsp; 频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍频道介绍
											</p>
											<br>
										</div>
									</div>
									<div class="slimScrollDiv" style="position: relative; width: auto; height: 100%;">
										<div class="full-height-scroll" style="width: auto; height: 100%;">
											<ul class="list-group clear-list">
												<li class="list-group-item fist-item">
													<span class="pull-right"> 2018-05-01</span> 创建时间
												</li>
												<li class="list-group-item">
													<span class="pull-right"> 王小二</span> 创建人
												</li>
												<li class="list-group-item">
													<span class="pull-right"> 50个</span> 包含区块
												</li>
												<li class="list-group-item">
													<span class="pull-right">关键字1，关键字1，关键字1，关键字1</span> 搜索关键字
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--添加频道弹窗内容-->
		<div class="addChannelHtml hidden">
			<div class="ibox-content" style="padding-top: 20px;">
				<form class="form-horizontal" id="addChannelForm">
					<div class="form-group">
						<label class="col-sm-3 control-label">频道名称：</label>
						<div class="col-sm-8">
							<input type="text" placeholder="频道名称" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">所属类目：</label>
						<div class="col-sm-4">
							<select class="form-control">
								<option>选项 1</option>
								<option>选项 2</option>
								<option>选项 3</option>
								<option>选项 4</option>
							</select>
						</div>
						<div class="col-sm-4">
							<select class="form-control">
								<option>选项 1</option>
								<option>选项 2</option>
								<option>选项 3</option>
								<option>选项 4</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备注：</label>
						<div class="col-sm-8">
							<input type="text" placeholder="备注" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">关键字：</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入搜索需要的关键字" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-8">
							<button class="btn btn-fx btn-danger pull-right cancelAdd" type="button">取消</button>
							<button class="btn btn-fx btn-sure pull-right saveAdd m-r-sm" type="button">保存</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('#addChannel').click(function() {
					layer.open({
						type: 1,
						title: '添加频道',
						content: $('.addChannelHtml').html(),
						area: ['600px', '320px'],
						success: function() {
							$('.saveAdd').click(function() {
								layer.msg('添加成功', {
									time: 1000,
								}, function() {
									layer.closeAll()
								})
							})
							$('.cancelAdd').click(function() {
								layer.closeAll()
							})
						}
					})
				})
				//编辑频道
				$('.folder-list').on('click', 'li>i.fa-edit', editChannel)
				$('body').on('click', '.edit', editChannel)

				function editChannel() {
					layer.open({
						type: 1,
						title: '编辑频道',
						content: $('.addChannelHtml').html(),
						area: ['600px', '320px'],
						success: function() {
							$('.saveAdd').click(function() {
								layer.msg('保存成功', {
									time: 1000,
								}, function() {
									layer.closeAll()
								})
							})
							$('.cancelAdd').click(function() {
								layer.closeAll()
							})
						}
					})
				}

			})
		</script>
	</body>

</html>