<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>区块定义</title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body>
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">区块定义</span><span class="tabli">空数据显示效果</span></div>
				<div class="tabBody">
					<div class="tabMain onMain">
						<!--列表详情-->
						<div class="form-inline clearfix mr-b10">
							<div class="clearfix">
								<div class="pull-left clearfix">
									<input class="inputFxheight pull-left mr-r5" placeholder="请输入关键字" type="text">
									<input class="inputFxheight pull-left mr-r5" placeholder="作者名称" type="text">
									<select class="inputFxheight form-control pull-left mr-r5">
										<option>--区块类型--</option>
										<option>类型1</option>
										<option>类型2</option>
										<option>类型3</option>
									</select>
									<button class="btn btn-fx btn-sure pull-left mr-r5"><i class="fa fa-fw fa-search"></i>搜索</button>
									<button id="addBlock" class="btn btn-fx btn-sure pull-left"><i class="fa fa-fw fa-plus"></i>创建</button>
								</div>
								<div class="paginglist pull-right">
									<div>共<i class="text-warning"> 123 </i>条记录</div>
									<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
									<div>跳转</div>
								</div>
							</div>
						</div>
						<div class="mr-b10">
							<table class="table table-bordered table-default table-hover">
								<colgroup>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
								</colgroup>
								<thead>
									<tr>
										<th class="text-center">创建时间</th>
										<th class="text-center">区块名称</th>
										<th class="text-center">创建人</th>
										<th class="text-center">区块类型</th>
										<th class="text-center">备注</th>
										<th class="text-center">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">2018-02-02 21:23:58</td>
										<td class="text-center">区块名称</td>
										<td class="text-center">王小二</td>
										<td class="text-center">内容</td>
										<td class="text-center">备注备注备注备注备注备注</td>
										<td class="text-center">
											<a class="text-primary check mr-r5" href="javascript:;"><i class="fa fa-eye"></i>&nbsp;查看</a>
											<a class="text-primary remove" href="javascript:;"><i class="fa fa-remove"></i>&nbsp;删除</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="clearfix">
							<div class="paginglist pull-right">
								<div>共<i class="text-warning"> 123 </i>条记录</div>
								<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
								<div>跳转</div>
							</div>
						</div>
					</div>

					<div class="tabMain">
						<!--列表详情-->
						<div class="form-inline clearfix mr-b10">
							<div class="clearfix">
								<div class="pull-left clearfix">
									<input class="inputFxheight pull-left mr-r5" placeholder="请输入关键字" type="text">
									<input class="inputFxheight pull-left mr-r5" placeholder="作者名称" type="text">
									<select class="inputFxheight form-control pull-left mr-r5">
										<option>--区块类型--</option>
										<option>类型1</option>
										<option>类型2</option>
										<option>类型3</option>
									</select>
									<button class="btn btn-fx btn-sure pull-left mr-r5"><i class="fa fa-fw fa-search"></i>搜索</button>
									<button id="addBlock" class="btn btn-fx btn-sure pull-left"><i class="fa fa-fw fa-plus"></i>创建</button>
								</div>
								<div class="paginglist pull-right">
									<div>共<i class="text-warning"> 123 </i>条记录</div>
									<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
									<div>跳转</div>
								</div>
							</div>
						</div>
						<div class="mr-b10">
							<table class="table table-bordered table-default table-hover">
								<colgroup>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
								</colgroup>
								<thead>
									<tr>
										<th class="text-center">创建时间</th>
										<th class="text-center">区块名称</th>
										<th class="text-center">创建人</th>
										<th class="text-center">区块类型</th>
										<th class="text-center">备注</th>
										<th class="text-center">操作</th>
									</tr>
								</thead>
							</table>
							<div class="empty border01 mr-b10">
								<table>
									<tbody>
										<tr>
											<td>
												<i class="fa fa-fw fa-inbox"></i>
											</td>
										</tr>
										<tr>
											<td>暂无数据</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="clearfix">
							<div class="paginglist pull-right">
								<div>共<i class="text-warning"> 123 </i>条记录</div>
								<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
								<div>跳转</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--添加区块弹窗内容-->
		<div class="addBlockHtml hidden">
			<div class="ibox-content" style="padding-top: 20px;">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label">区块名称：</label>
						<div class="col-sm-8">
							<input type="text" placeholder="区块名称" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">所属类型：</label>
						<div class="col-sm-8">
							<select class="form-control">
								<option>--请选择--</option>
								<option>选项 1</option>
								<option>选项 2</option>
								<option>选项 3</option>
								<option>选项 4</option>
								<option>选项 5</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">上传HTML文件：</label>
						<div class="col-sm-8">
							<input accept="text/html" type="file" class="form-control" style="opacity: 1;border: none;padding-left: 0;">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备注：</label>
						<div class="col-sm-8">
							<input type="text" placeholder="备注" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-8">
							<button class="btn btn-fx btn-danger pull-right cancelAdd" type="button">取消</button>
							<button class="btn btn-fx btn-sure pull-right saveAdd m-r-sm" type="button">保存</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('#addBlock').click(function() {
					layer.open({
						type: 1,
						title: '添加区块',
						content: $('.addBlockHtml').html(),
						area: ['600px', '310px'],
						success: function() {
							$('.saveAdd').click(function() {
								layer.msg('添加成功', {
									time: 1000,
								}, function() {
									layer.closeAll()
								})
							})
							$('.cancelAdd').click(function() {
								layer.closeAll()
							})
						}
					})
				})
				$('.check').click(function() {
					window.location.href = './blockContent.html'
				})

				$('.remove').click(function() {
					layer.confirm('确认要删除此区块？', {
						btn: ['确认', '取消'],
					})
				})

			})
		</script>
	</body>

</html>