<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>区块效果预览</title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>

	<body style="overflow: scroll;">
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">效果预览</span></div>
			</div>
			<div class="row">
				<div class="col-lg-7">
					<div class="tabGroup">
						<div class="tabBody">
							<div class="tabMain onMain">
								<!--列表详情-->
								<div class="form-inline clearfix mr-b10">
									<div class="clearfix">
										<div class="pull-left clearfix">
											<input class="inputFxheight pull-left mr-r5" placeholder="区块名称" type="text">
											<select class="inputFxheight form-control pull-left mr-r5">
												<option>--区块类型--</option>
												<option>类型1</option>
												<option>类型2</option>
												<option>类型3</option>
											</select>
											<button class="btn btn-fx btn-sure pull-left"><i class="fa fa-fw fa-search"></i>搜索</button>
										</div>
										<div class="paginglist pull-right">
											<div>共<i class="text-warning"> 123 </i>条记录</div>
											<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
											<div>跳转</div>
										</div>
									</div>
								</div>
								<div class="mr-b10">
									<table class="table table-bordered table-default table-hover">
										<colgroup>
											<col>
											<col>
											<col>
											<col width="30%">
											<col>
										</colgroup>
										<thead>
											<tr>
												<th class="text-center">创建时间</th>
												<th class="text-center">区块名称</th>
												<th class="text-center">区块类型</th>
												<th class="text-center">备注</th>
												<th class="text-center">预览</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">全部标题</td>
												<td class="text-center">标题</td>
												<td class="text-center">全部标题</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='TitleBlockURL'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">全部内容</td>
												<td class="text-center">图文</td>
												<td class="text-center">全部内容</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">分割线</td>
												<td class="text-center">分割线</td>
												<td class="text-center">全部分割线</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='DelimiterBlockURL'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">底部</td>
												<td class="text-center">底部</td>
												<td class="text-center">全部底部</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='FooterBlockURL'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">红包</td>
												<td class="text-center">内容</td>
												<td class="text-center">红包打开效果</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&9'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">解释性图文</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&12'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">底部点击全文</td>
												<td class="text-center">底部</td>
												<td class="text-center">点击阅读全文</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='FooterBlockURL&4'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">纯文本</td>
												<td class="text-center">内容</td>
												<td class="text-center">分段纯文本</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&6'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">简约标题</td>
												<td class="text-center">标题</td>
												<td class="text-center">带边框下划线标题</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='TitleBlockURL&9'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">简约图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">图文混搭，带标题</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&17'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">简约底部</td>
												<td class="text-center">底部</td>
												<td class="text-center">底部关注二维码，点击全文</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='FooterBlockURL&6'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">空行</td>
												<td class="text-center">内容</td>
												<td class="text-center">空格，换行</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&27'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">图文，左图，右图</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&19'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">图文，右图</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&20'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">图文，左图</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&21'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">活动通知告示</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&22'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">图文，分段落，有标题</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&23'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">图文，左图，长图</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&25'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">图文</td>
												<td class="text-center">内容</td>
												<td class="text-center">简单的图文，红色标题</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='ContentBlockURL&26'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">纯文本</td>
												<td class="text-center">内容</td>
												<td class="text-center">纯文本</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='TextPhoto&0'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">纯图片</td>
												<td class="text-center">内容</td>
												<td class="text-center">纯图片</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='TextPhoto&1'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">广告链接</td>
												<td class="text-center">底部</td>
												<td class="text-center">纯文本广告链接</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='FooterBlockURL&7'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">广告链接</td>
												<td class="text-center">底部</td>
												<td class="text-center">纯文本广告链接</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='FooterBlockURL&8'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
											<tr>
												<td class="text-center">2018-03-30 15:37:47</td>
												<td class="text-center">广告链接</td>
												<td class="text-center">底部</td>
												<td class="text-center">图文广告链接</td>
												<td class="text-center">
													<a href="javascript:;" class="text-primary preview" data-id='FooterBlockURL&9'><i class="fa fa-eye"></i>&nbsp;查看</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="clearfix">
									<div class="paginglist pull-right">
										<div>共<i class="text-warning"> 123 </i>条记录</div>
										<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
										<div>跳转</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 clearfix">
					<div class="" style="width: 680px;">
						<div class="phone-preview ph1">
							<div class="phone-left" style="padding-left: 50px;">
								<ul>
									<li>
										<div class="phone-left-top" style="background: #F2F2F2;">
											<button class="btn">4.7寸屏</button>
											<button class="btn btn-sure">5.0寸屏</button>
											<button class="btn btn-sure">5.5寸屏</button>
										</div>
									</li>
									<li>
										<div class="phone-left-bt" style="height: 245px; background: #F2F2F2;display: flex;flex-direction: column;justify-content: space-around;">
											<p class="lanse">调整字体大小</p>
											<button class="btn">默认大小</button>
											<button class="btn btn-sure">0.5倍</button>
											<button class="btn btn-sure">1.0倍</button>
											<button class="btn btn-sure">1.5倍</button>
										</div>
									</li>
									<li>
										<div class="phone-left-bt" style="background: #F2F2F2;margin-top: 10px;">
											<p class="lanse">扫码查看手机效果</p>
											<p class="hui">与实际手机显示效果有微小差异, 请扫码查看</p>
											<div class="qrcode"></div>
											<button class="btn" onclick="window.open($('#blockIframe')[0].src)">PC端查看</button>
										</div>
									</li>
								</ul>
							</div>
							<div class="phone-right">
								<ul>
									<li>
										<div class="phone-right-title">预览效果</div>
									</li>
									<li class="preview-scroll">
										<div class="phone-right-content">
											<iframe id="blockIframe" src=""></iframe>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../plugins/jquery.qrcode.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('body').on('click', '.preview', function() {
					$('.qrcode').html('') //清除二维码
					$('.phone-preview').find('iframe').attr('src', 'blockPreview.html#' + $(this).attr('data-id'))
					var qrcodeText = $('#blockIframe')[0].src
					$('.qrcode').qrcode({
						render: "canvas",
						width: 120,
						height: 120,
						text: qrcodeText
					})
					//默认样式4.7屏幕
					$('.phone-preview').attr('class', 'phone-preview ph1')
					$('.phone-right').css({
						'width': '378px',
						'padding': '95px 25px 0'
					})
					$('.preview-scroll').css('height', '540px')
					//切换屏幕尺寸
					$('.phone-left-top').on('click', '.btn-sure', function(e) {
						//切换效果
						$(this).removeClass('btn-sure').siblings('button').addClass('btn-sure')
						if(e.target.textContent == '4.7寸屏') {
							$('.phone-preview').attr('class', 'phone-preview ph1')
							$('.phone-right').css({
								'width': '378px',
								'padding': '95px 25px 0'
							})
							$('.preview-scroll').css('height', '540px')
						} else if(e.target.textContent == '5.0寸屏') {
							$('.phone-preview').attr('class', 'phone-preview ph2')
							$('.phone-right').css({
								'width': '407px',
								'padding': '77px 25px 0'
							})
							$('.preview-scroll').css('height', '595px')
						} else {
							$('.phone-preview').attr('class', 'phone-preview ph3')
							$('.phone-right').css({
								'width': '408px',
								'padding': '101px 25px 0'
							})
							$('.preview-scroll').css('height', '593px')
						}
					})
					//切换字体大小
					$('.phone-left-bt').on('click', '.btn-sure', function(e) {
						$(this).removeClass('btn-sure').siblings('button').addClass('btn-sure')
					})
				})
				//浏览器窗口缩放事件
				window.onresize = function() {
					$('.tabTitle').css({
						'width': $('body')[0].scrollWidth - 40
					})
				}
				window.onload = function() {
					$('.tabTitle').css({
						'width': $('body')[0].scrollWidth - 40
					})
				}

			})
		</script>
	</body>

</html>