<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> - 404 页面</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<style type="text/css">
			.middle-box {
		    max-width: 400px;
		    z-index: 100;
		    margin: 0 auto;
		    padding-top: 40px;
			}
			.font-bold {
		    font-weight: 600;
			}
			.m-t15 {
				margin-top: 15px;
			}
			h1 {
				font-size: 170px;
			}
			body {
				color: #666;
				background: #f2f2f2;
			}
		</style>
	</head>
	<body class="gray-bg">
		<div class="middle-box text-center animated fadeInDown">
			<h1>404</h1>
			<h3 class="font-bold">页面未找到！</h3>

			<div class="error-desc">
				抱歉，页面好像去火星了~
				<form class="form-inline m-t15" role="form">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="请输入您需要查找的内容 …">
					</div>
					<button type="submit" class="btn btn-fx btn-sure">搜索</button>
				</form>
			</div>
		</div>
		<script src="../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/root.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>