<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="margin:10px auto;">
				<p style="color: inherit;">
					<span style="border-color: #374AAE; color: #3DA742;">输入标题内容</span>
				</p>
				<section style="border-color: transparent transparent rgb(61, 167, 66); border-style: solid; border-width: 10px; float: none; height: 0px; margin-top: -10px; margin-right: auto; margin-left: 30px; width: 0px; color: inherit;"></section>
				<section style="margin-top: -1px; line-height: 22px; border: 1px solid rgb(61, 167, 66); border-radius: 2px; color: inherit;">
					<section style="border-color: transparent transparent rgb(254, 254, 254); border-style: solid; border-width: 10px; height: 0px; margin-top: -18px; margin-right: auto; margin-left: 29px; width: 0px; color: inherit;"></section>
					<section style="padding: 10px; color: inherit;">
						<p style="color: inherit; text-indent: 2em;">
							<span style="font-size: 14px;">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容。</span>
						</p>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>