<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="max-width:480px !important;margin:10px auto;text-align:center;">
					<section style="display:flex;padding:10px 5px;justify-content:center;align-items:flex-end;">
						<section>
							<section style="margin:0px 10px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;background-repeat:repeat;border-radius:10px;">
								<section style="margin:-5px 5px 5px 0px;border:2px solid #140a10;border-radius:10px;border-left:0px;padding:15px;background-color:#fff;">
									<img src="../../upload/1555063e0d8d64ca427de54bcdb2482f4541d5.jpeg" style="vertical-align:top;">
									<p style="margin:0px auto;margin-top:5px;text-align:center;font-size:20px;">
										小牛皮双肩背包
									</p>
									<p style="margin:0px auto;text-align:center;margin-top:5px;font-size:16px;color:#333333;">
										原价<span style="text-decoration:line-through;">￥199</span>
									</p>
								</section>
							</section>
							<section style="margin-top:-20px;">
								<p style="font-size:20px;height:40px;line-height:35px;color:#fff;background-color:#ff6666;border:2px solid #140a10;padding:0px 8px;display:inline-block;margin:0px auto;text-align:center;">
									￥399
								</p>
							</section>
						</section>
						<section>
							<section style="margin:0px 10px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;background-repeat:repeat;border-radius:10px;">
								<section style="margin:-5px 5px 5px 0px;border:2px solid #140a10;border-radius:10px;border-left:0px;padding:15px;background-color:#fff;">
									<img src="../../upload/15550628ffac348c1230510b493cea2bb17f38.jpeg" style="vertical-align:top;">
									<p style="margin:0px auto;margin-top:5px;text-align:center;font-size:20px;">
										小牛皮双肩背包
									</p>
									<p style="margin:0px auto;text-align:center;margin-top:5px;font-size:16px;color:#333333;">
										原价<span style="text-decoration:line-through;">￥199</span>
									</p>
								</section>
							</section>
							<section style="margin-top:-20px;">
								<p style="font-size:20px;height:40px;line-height:35px;color:#fff;background-color:#ff6666;border:2px solid #140a10;padding:0px 8px;display:inline-block;margin:0px auto;text-align:center;">
									￥399
								</p>
							</section>
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>