<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>时间轴</title>
	</head>

	<body>
		<div class="w" style="margin-top: 20px;">
			<section>
				<section style="margin:0px auto;max-width:320px !important;">
					<section style="display:flex;align-items:center;justify-content:center;align-items:center;padding:10px 0px;">
						<p style="margin:0px;flex-shrink:0;width:120px;text-align:right;color:#666666;line-height:1.5;font-size:15px;">
							2018.02.11
						</p>
						<section style="flex:0.5;display:flex;justify-content:center;padding:10px;background-color:#fff;font-size:0px;">
							<span style="display:block;width:20px;height:20px;background-color:#f86e51;border-radius:50%;display:flex;justify-content:center;align-items:center;"><em style="display:block;width:6px;height:6px;background-color:#fff;border-radius:50%;"></em></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						</section>
						<section style="width:120px;flex-shrink:0;background-color:#f86e51;border-radius:30px 0px 30px 0px;padding:10px 15px;">
							<p style="font-size:15px;line-height:1.5;color:#fff;margin:0px;text-align:center;">
								XXXXXXXXXXX
							</p>
						</section>
					</section>
					<section style="display:flex;align-items:center;justify-content:center;align-items:center;padding:10px 0px;">
						<section style="width:120px;flex-shrink:0;background-color:#fab80a;border-radius:30px 0px 30px 0px;padding:10px 15px;">
							<p style="font-size:15px;line-height:1.5;color:#fff;margin:0px;text-align:center;">
								XXXXXXXXXXX
							</p>
						</section>
						<section style="flex:0.5;display:flex;justify-content:center;padding:10px;background-color:#fff;font-size:0px;">
							<span style="display:block;width:20px;height:20px;background-color:#fab80a;border-radius:50%;display:flex;justify-content:center;align-items:center;"><em style="display:block;width:6px;height:6px;background-color:#fff;border-radius:50%;"></em></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						</section>
						<p style="margin:0px;flex-shrink:0;width:120px;text-align:left;color:#666666;line-height:1.5;font-size:15px;">
							2018.03.02
						</p>
					</section>
					<section style="display:flex;align-items:center;justify-content:center;align-items:center;padding:10px 0px;">
						<p style="margin:0px;flex-shrink:0;width:120px;text-align:right;color:#666666;line-height:1.5;font-size:15px;">
							2018.03.09
						</p>
						<section style="flex:0.5;display:flex;justify-content:center;padding:10px;background-color:#fff;font-size:0px;">
							<span style="display:block;width:20px;height:20px;background-color:#1fd8b4;border-radius:50%;display:flex;justify-content:center;align-items:center;"><em style="display:block;width:6px;height:6px;background-color:#fff;border-radius:50%;"></em></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						</section>
						<section style="width:120px;flex-shrink:0;background-color:#1fd8b4;border-radius:30px 0px 30px 0px;padding:10px 15px;">
							<p style="font-size:15px;line-height:1.5;color:#fff;margin:0px;text-align:center;">
								XXXXXXXXXXXX
							</p>
						</section>
					</section>
					<section style="display:flex;align-items:center;justify-content:center;align-items:center;padding:10px 0px;">
						<section style="width:120px;flex-shrink:0;background-color:#61a0f6;border-radius:30px 0px 30px 0px;padding:10px 15px;">
							<p style="font-size:15px;line-height:1.5;color:#fff;margin:0px;text-align:center;">
								XXXXXXXXXXX
							</p>
						</section>
						<section style="flex:0.5;display:flex;justify-content:center;padding:10px;background-color:#fff;font-size:0px;">
							<span style="display:block;width:20px;height:20px;background-color:#61a0f6;border-radius:50%;display:flex;justify-content:center;align-items:center;"><em style="display:block;width:6px;height:6px;background-color:#fff;border-radius:50%;"></em></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						</section>
						<p style="margin:0px;flex-shrink:0;width:120px;text-align:left;color:#666666;line-height:1.5;font-size:15px;">
							2018.03.15
						</p>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>