<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="background-color: rgb(255, 255, 255);box-sizing: border-box;">
				<section style="box-sizing: border-box;">
					<section style="text-align: center;margin-top: 10px;margin-bottom: 10px;box-sizing: border-box;">
						<section style="max-width: 100%;vertical-align: middle;display: inline-block;width: 20%;overflow: hidden !important;box-sizing: border-box;">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 56.2 47.4" style="vertical-align: middle;max-width: 100%;box-sizing: border-box;" width="100%">
								<g style="box-sizing: border-box;">
									<path d="M56.2,47.4V24.5H44.5c-1.2-10.9,6.1-20,6.1-20L44.7,0C34.3,7.9,33.3,24.5,33.3,24.5v22.9H56.2z" fill="#ffca00" style="box-sizing: border-box;"></path>
									<path d="M22.9,47.4V24.5H11.2c-1.2-10.9,6.1-20,6.1-20L11.5,0C1,7.9,0,24.5,0,24.5v22.9H22.9z" fill="#ffca00" style="box-sizing: border-box;"></path>
								</g>
							</svg>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box;">
					<section style="margin: -30px 0% 10px;box-sizing: border-box;">
						<section style="border-top: 0.1em solid rgb(0, 0, 0);border-bottom: 0.1em solid rgb(0, 0, 0);transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);padding: 5px;width: 100%;display: inline-block;box-sizing: border-box;">
							<section style="box-sizing: border-box;">
								<section style="box-sizing: border-box;">
									<section style="text-align: center;color: rgba(51, 48, 48, 0.980392);line-height: 1.7;font-size: 14px;letter-spacing: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;">
										<br />
										<p style="text-align: left;box-sizing: border-box;">
											<strong style="box-sizing: border-box;">世界公认的汽车发明者是德国人卡尔·佛里特立奇·本茨。他在1885年研制出世界上第一辆马车式三轮汽车，而世界上第一辆汽车的诞生是在1886年1月29日，德国人朱卡尔·本茨和哥德利普·戴姆勒获得了世界上第一辆汽车的专利权，而这一天也被称之为汽车诞生日。对于谁是汽车的发明者，法国人明显是抱有不同看法的。法国人认为，早在德国人之前，法国的戴波梯维尔在1884年就发明了汽车并申请了专利，这确是事实。</strong>
										</p>
										<p style="text-align: right;box-sizing: border-box;">
											<strong style="box-sizing: border-box;">——第一台汽车</strong>
										</p>
									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box;">
					<section style="box-sizing: border-box;">
						<section style="line-height: 1.7;font-size: 14px;letter-spacing: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;">
							<p style="box-sizing: border-box;">
								关于汽车分级各国规范各样，我国无统规范因为德国轿车最早与我国合资并占据定商场选用德国分级法。
							</p>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box;">
					<section style="box-sizing: border-box;">
						<section style="line-height: 1.7;font-size: 14px;letter-spacing: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;">
							<p style="box-sizing: border-box;">
								但随商场开展及商品换代，轿车尺度、发动机排量会有所改动通常分类依据原型车及出产渠道区分。 轿车的等级分类是如此区分的： 微型车、小型车、紧凑型车、中型车、中大型车、奢华车、小型SUV、紧凑型SUV、中型SUV、中大型SUV、全尺度SUV、MPV、跑车、皮卡、微面、轻客、微卡。
							</p>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box;">
					<section style="margin: 10px 0%;box-sizing: border-box;">
						<section style="border-top: 0.1em solid rgb(0, 0, 0);border-bottom: 0.1em solid rgb(0, 0, 0);transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);padding: 5px;width: 100%;display: inline-block;box-sizing: border-box;">
							<section style="box-sizing: border-box;">
								<section style="box-sizing: border-box;">
									<section style="text-align: center;color: rgba(51, 48, 48, 0.980392);line-height: 1.7;font-size: 14px;letter-spacing: 1px;padding-right: 15px;padding-left: 15px;box-sizing: border-box;">
										<br />
										<p style="text-align: left;box-sizing: border-box;">
											<strong style="box-sizing: border-box;">跑车通常为双门规划，车身较低、外型流畅，有着对比激烈的运动感，座椅为双座或2+2式规划，与别的等级车型差异对比明显的是，跑车的发动机能够有前置、中置和后置三种方式；并且其车顶方式也有硬顶、硬顶敞篷和软顶敞篷三种。</strong>
										</p>
										<p style="text-align: right;box-sizing: border-box;">
											<strong style="box-sizing: border-box;">——跑车</strong>
										</p>
									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
				<section style="box-sizing: border-box;">
					<section style="text-align: right;margin: -20px 0% 10px;transform: translate3d(-9px, 0px, 0px);-webkit-transform: translate3d(-9px, 0px, 0px);-moz-transform: translate3d(-9px, 0px, 0px);-o-transform: translate3d(-9px, 0px, 0px);box-sizing: border-box;">
						<section style="max-width: 100%;vertical-align: middle;display: inline-block;width: 18%;overflow: hidden !important;box-sizing: border-box;">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 56.2 47.4" style="vertical-align: middle;max-width: 100%;box-sizing: border-box;" width="100%">
								<g style="box-sizing: border-box;">
									<path d="M0,0v22.9h11.7c1.2,10.9-6.1,20-6.1,20l5.9,4.6c10.5-7.9,11.5-24.5,11.5-24.5V0H0z" fill="#ffca00" style="box-sizing: border-box;"></path>
									<path d="M33.3,0v22.9H45c1.2,10.9-6.1,20-6.1,20l5.9,4.6c10.5-7.9,11.5-24.5,11.5-24.5V0H33.3z" fill="#ffca00" style="box-sizing: border-box;"></path>
								</g>
							</svg>
						</section>
					</section>
				</section>
			</section>

		</div>
	</body>

</html>