<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="margin: 10px auto;text-align: center;">
					<section style="display: inline-block;margin: 0px auto;text-align: center;font-size: 0px;">
						<span style="display: inline-block;width: 100%;height:1px;background-color: #000;margin: 0px auto;"><em style="display: inline-block;width: 8px;height: 8px;border-radius:50%;background-color: #333;float: right;margin-top: -4px;"></em></span>
						<p style="display:inline-block;margin: 0px auto;text-align: center;font-size: 18px;line-height: 1.5;padding: 2px 10px;">
							&nbsp;&nbsp;&nbsp;汽车分类&nbsp;&nbsp;&nbsp;&nbsp;
						</p><span style="display: inline-block;width: 100%;height:1px;background-color: #000;margin: 0px auto;"><em style="display: inline-block;width: 16px;line-height:16px;text-align:center;height: 16px;border-radius:50%;background-color: #333;float: left;margin-top: -7px;color: #fff;font-size: 12px;font-style: normal;">1</em></span>
					</section>
				</section>
			</section>
			<section class="ue_block">
				<section style="max-width: 100%;margin: 0px auto;">
					<img src="../../upload/180417c6f9a6528ef3ed5bb580c9f75490a4e8.jpeg" style="max-width: 100%;" />
				</section>
				<section style="margin:0px auto;padding-bottom:25px;padding-right:15px;background-image: url(../../upload/141416f7204641be90908d974032207e6f4d5f.png);background-size:290px auto;background-repeat: no-repeat;background-position: right bottom;font-size: 0px;">
					<p style="margin: 0px auto;text-align: left;font-size: 16px;line-height: 1.5;padding: 5px 10px;">
						<span style="font-weight: 600;">01</span> 跑车
					</p><span style="display: inline-block;width:290px;height:1px;background-color: #000;margin: 0px auto;text-align: left;"><em style="display: inline-block;width: 8px;height: 8px;border-radius:50%;background-color: #333;float: right;margin-top: -4px;"></em></span>
					<p style="margin: 0px auto; font-size: 14px; line-height: 1.5; padding: 10px; text-align: left; color: rgb(11, 6, 6); text-indent: 2em;">
						跑车通常为双门规划，车身较低、外型流畅，有着对比激烈的运动感，座椅为双座或2+2式规划，与别的等级车型差异对比明显的是，跑车的发动机能够有前置、中置和后置三种方式；并且其车顶方式也有硬顶、硬顶敞篷和软顶敞篷三种。
					</p>
				</section>
			</section>
			<section class="ue_block">
				<section style="margin:0px auto;background-image: url(../../upload/141416f7204641be90908d974032207e6f4d5f.png);background-size:290px auto;background-repeat: no-repeat;background-position: right bottom;font-size: 0px;">
					<p style="margin: 0px auto;text-align: left;font-size: 16px;line-height: 1.5;padding: 0px 10px;">
						<span style="font-weight: 600;">02</span> SUV
					</p>
					<section style="margin:0px auto;padding:20px 15px;background-image: url(../../upload/14141610b5f0176ccd67b5ee31f9bfdae36d5d.png);background-size:290px auto;background-repeat: no-repeat;background-position: left top;font-size: 0px;">
						<p style="margin: 0px auto; font-size: 14px; line-height: 1.5; padding: 2px 10px; text-align: left; color: rgb(11, 6, 6); text-indent: 2em;">
							SUV指运动型多用途车,不同于可在崎岖地面使用的ORV越野车（Off-Road Vehicle的缩写），SUV全称是Sport Utility 。SUV的特点是强动力、越野性、宽敞舒适及良好的载物和载客功能，也有人说，SUV是豪华轿车的舒适精细加上越野车的本性。SUV是轿车与越野车的混血后裔，与其祖先相比，SUV如虎添翼。SUV乘坐空间表现比较出色，无论在前排还是后排，都能可以宽裕的坐在车里。前排座椅的包裹性与支撑性十分到位，此外车内的储物格比较多，日常使用方便。
						</p>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>