<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="padding:10px;">
				<section style="border-left:2px solid #f86e51;padding-bottom:16px;">
					<section style="display:flex;align-items:flex-start;">
						<span style="display:block;width:10px;height:10px;border:2px solid #f86e51;background-color:#fff;border-radius:50%;margin-top:6px;margin-right:20px;flex-shrink:0;margin-top: -2px;margin-left: -5px;"></span>
						<p style="font-size:16px;color:#666666;margin:0px;line-height: 1.5;margin-top: -8px;">
							2018.02.11
						</p>
					</section>
					<section style="margin-left:20px;background-color:#f86e51;padding:5px;border-radius:5px;display:inline-block;margin-top:5px;">
						<p style="margin:0px;color:#fff;font-size:15px;line-height:1.5;word-wrap: break-word;width: 100%;">
							XXXXXXXXXXXXXXXXXX
						</p>
					</section>
				</section>
				<section style="border-left:2px solid #fab80a;padding-bottom:16px;margin-top:10px;">
					<section style="display:flex;align-items:flex-start;">
						<span style="display:block;width:10px;height:10px;border:2px solid #fab80a;background-color:#fff;border-radius:50%;margin-top:6px;margin-right:20px;flex-shrink:0;margin-top: -2px;margin-left: -5px;"></span>
						<p style="font-size:16px;color:#666666;margin:0px;line-height: 1.5;margin-top: -8px;">
							2018.03.02
						</p>
					</section>
					<section style="margin-left:20px;background-color:#fab80a;padding:5px;border-radius:5px;display:inline-block;margin-top:5px;">
						<p style="margin:0px;color:#fff;font-size:15px;line-height:1.5;">
							XXXXXXXXXXXXXXXXXX
						</p>
					</section>
				</section>
				<section style="border-left:2px solid #1fd8b4;padding-bottom:16px;margin-top:10px;">
					<section style="display:flex;align-items:flex-start;">
						<span style="display:block;width:10px;height:10px;border:2px solid #1fd8b4;background-color:#fff;border-radius:50%;margin-top:6px;margin-right:20px;flex-shrink:0;margin-top: -2px;margin-left: -5px;"></span>
						<p style="font-size:16px;color:#666666;margin:0px;line-height: 1.5;margin-top: -8px;">
							2018.03.09
						</p>
					</section>
					<section style="margin-left:20px;background-color:#1fd8b4;padding:5px;border-radius:5px;display:inline-block;margin-top:5px;">
						<p style="margin:0px;color:#fff;font-size:15px;line-height:1.5;">
							XXXXXXXXXXXXXXXXXX
						</p>
					</section>
				</section>
				<section style="padding-bottom:16px;margin-top:10px;">
					<section style="display:flex;align-items:flex-start;">
						<span style="display:block;width:10px;height:10px;border:2px solid #61a0f6;background-color:#fff;border-radius:50%;margin-top:6px;margin-right:20px;flex-shrink:0;margin-top: -2px;margin-left: -5px;"></span>
						<p style="font-size:16px;color:#666666;margin:0px;line-height: 1.5;margin-top: -8px;">
							2018.03.15
						</p>
					</section>
					<section style="margin-left:20px;background-color:#61a0f6;padding:5px;border-radius:5px;display:inline-block;margin-top:5px;">
						<p style="margin:0px;color:#fff;font-size:15px;line-height:1.5;">
							XXXXXXXXXXXXXXXXXX
						</p>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>