<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block" style="border: 1px solid rgb(204, 204, 204); line-height: 1.75em;display:flex;">
				<section style="flex:1;padding:30px 10px 0;text-align:center;line-height: 1.75em;">
					<p style="line-height: 1.75em;font-size: 14px;color:rgb(121,121,121);min-width:1px;">
						只要你是天鹅蛋
					</p>
					<p style="line-height: 1.75em;font-size: 14px;color:rgb(121,121,121);min-width:1px;">
						就算生在养鸡场里
					</p>
					<p style="line-height: 1.75em;font-size: 14px;color:rgb(121,121,121);min-width:1px;">
						也没有什么关系
					</p>
					<p style="line-height: 1.75em;font-size: 14px;color:rgb(121,121,121);min-width:1px;">
						—— 安徒生童话
					</p>
				</section>
				<section style="padding:10px;width: 45%;background-color: #dadada;text-align:center;">
					<section style="width:9em;height:9em;display:inline-block;margin-bottom:15px;">
						<img src="../../upload/12140755cb8d95b44ad763e5ef02067db18da8.jpeg" style="width:100%;vertical-align:top;" />
					</section>
					<p style="font-size:14px;min-width:1px;color:rgb(121,121,121)">
						图片说明
					</p>
				</section>
			</section>
		</div>
	</body>

</html>