<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="max-width:480px !important;margin:0px auto;text-align:center;">
					<section style="margin:0px auto;text-align:center;padding:20px;background-image:url(../../upload/1555058358b7547d788078d8921e70f5e2eb24.png);background-repeat:no-repeat;background-position:left top;background-size:47px auto;">
						<section style="transform:rotate(-5deg);background-color:#140a10;">
							<span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-left: 0px;border-right: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-left: 0px;border-right: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-left: 0px;border-right: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-left: 0px;border-right: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span>
							<p style="margin:0px;color:#fff;font-size:18px;height:35px;line-height:35px;display:inline-block;min-width:150px;">
								狂欢继续
							</p><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-right: 0px;border-left: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-right: 0px;border-left: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-right: 0px;border-left: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span><span style="margin-left:3px;flex-shrink: 0;display: inline-block;width: 0px;height: 0px;border-right: 0px;border-left: 6px solid #ff6666;border-top: 6px solid transparent;border-bottom: 6px solid transparent;"></span>
						</section>
						<section style="margin-top:20px;">
							<section style="border-radius:10px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;background-repeat:repeat;transform:rotate(3deg);">
								<section style="margin-top: -15px;border-radius:10px;padding:20px 15px;border:2px solid #140a10;background-color:#fff;transform:rotate(-3deg);background-image:url(../../upload/1555056a50dc9d2b30892e2cbe4026bee29e05.png);background-repeat:repeat-x;background-position:left top;">
									<p style="margin:0px;text-align:left;">
										“双十二”其实是“双十一”的延续版，是商家打折促销的噱头，然而，在这一场场电商混战中，只要能趁机真正得到优惠，不少人还是会心甘情愿为此买单。双十二，你打算开启“买买买”的疯狂模式吗？
									</p>
								</section>
							</section>
						</section>
					</section>
					<section style="display:inline-block;float:right;margin-top:-70px;width:40px;transform:rotate(0deg)">
						<img src="../../upload/1555068ebed7e0b6b2efa2ecbe5c6a71a1b182.png" style="vertical-align:middle;">
					</section>
				</section>
			</section>
		</div>
	</body>

</html>