<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="width:96%;margin:20px auto 10px;background-color:rgb(229,244,250);">
				<section style="text-align: left;">
					<img src="../../upload/121329cd008e61b712de1a32de809dd1ad6f8a.png" style="width:100%;" />
				</section>
				<section style="padding:20px 10px;">
					<p style="color: rgb(85, 85, 85); font-size: 14px; min-width: 1px; text-align: left;">
						一九五五年九月下旬一天中午，我偷溜上一列从洛杉矶开出、朝圣巴巴拉(Santa Barbara)而去的货运火车。我头枕在行李袋上，翘着腿，注视着天上的滚滚浮云。那是一列慢车，我计划在圣巴巴拉的海滩睡一晚，隔天一大早再偷溜上一列开往圣路易斯-奥比斯蟹(San LuisObispo)的慢车，要不就是等到傍晚七点，溜上一列到旧金山去的直达车。<br/>
					</p>
				</section>
			</section>
		</div>
	</body>

</html>