<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="margin:0px auto;text-align:center;padding:0px 50px;max-width:480px !important;">
					<section style="border:2px solid #140a10;border-radius:10px 10px 25px 10px;padding:10px;background-size: 39px;background-image:url(../../upload/155505f76e95fec6c402b70242caf11013b8b5.png);background-position:right bottom;background-repeat:no-repeat;">
						<section style="background-image:url(../../upload/155505edbfb659490f32c71af2f3576bcd6b04.png);background-repeat:no-repeat;width:80px;height:85px;background-size:100% auto;margin-left:-71px;">
							<p style="color:#ff6666;margin:0px;font-size:20px;transform:rotate(40deg);width:50px;padding-top:17px;margin-left:24px;line-height:1.2;">
								掌柜推荐
							</p>
						</section>
						<section style="margin-top:-85px;">
							<img src="../../upload/1555068cf0d61d6cac478cea74b137ff223feb.jpeg" style="vertical-align:middle;">
						</section>
						<p style="margin:0px;text-align:left;font-size:18px;margin-top:5px;">
							爆款小牛皮双肩背包
						</p>
						<section style="margin-top:12px;text-align:left;">
							<p style="display:inline-block;padding:0px 5px;height:40px;line-height:40px;color:#fff;font-size:20px;background-color:#ff6666;margin:0px;">
								￥399
							</p>
							<p style="display:inline-block;padding:0px 5px;height:40px;line-height:40px;color:#333333;font-size:16px;margin:0px;">
								原价<span style="text-decoration:line-through;">￥199</span>
							</p>
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>