<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block" style="padding:20px;border:2px solid #333333;">
				<img src="../../upload/11344406932cfbb5f62b0fefef597cca14cafb.jpeg" style="height: auto;display: inline-block;width: 40%;float: left;padding-right: 1em;" />
				<span style="margin: 0px; font-size: 14px; color: rgb(102, 102, 102); line-height: 1.5;">
					&emsp;&emsp;每年的3月15日是“国际消费者权益日“，由国际消费者联盟组织于1983年确定，以促进各国和地区消费者组织之间的合作与交往，在国际范围内更好地保护消费者权益。每年的3月15日是“国际消费者权益日“，由国际消费者联盟组织于1983年确定，以促进各国和地区消费者组织之间的合作与交往，在国际范围内更好地保护消费者权益。
				</span>
			</section>
		</div>
		
		<div class="w">
			<section class="ue_block" style="padding:20px;border:2px solid #333333;">
				<img src="../../upload/11344406932cfbb5f62b0fefef597cca14cafb.jpeg" style="height: auto;display: inline-block;width: 40%;float: right;padding-left: 1em;" />
				<span style="margin: 0px; font-size: 14px; color: rgb(102, 102, 102); line-height: 1.5;">
					&emsp;&emsp;每年的3月15日是“国际消费者权益日“，由国际消费者联盟组织于1983年确定，以促进各国和地区消费者组织之间的合作与交往，在国际范围内更好地保护消费者权益。每年的3月15日是“国际消费者权益日“，由国际消费者联盟组织于1983年确定，以促进各国和地区消费者组织之间的合作与交往，在国际范围内更好地保护消费者权益。
				</span>
			</section>
		</div>
	</body>

</html>