<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="margin-right: 0%; margin-left: 0%; position: static;">
				<section style="display: inline-block; width: 100%; vertical-align: top;">
					<section style="font-size: 12.8px; margin-right: 0%; margin-bottom: -10px; margin-left: 0%; position: static;transform: translate3d(3px, 0px, 0px);-webkit-transform: translate3d(3px, 0px, 0px);-moz-transform: translate3d(3px, 0px, 0px);-o-transform: translate3d(3px, 0px, 0px);">
						<section style="display: inline-block;">
							<section style="height: 2em; line-height: 2em; display: inline-block; vertical-align: top; background-color: rgb(239, 66, 119); color: rgb(255, 255, 255); font-size: 16px; text-align: center; padding-left: 8px; padding-right: 8px;">
								标题
							</section>
							<section style="display: inline-block; vertical-align: top; width: 0px; border-left: 1em solid rgb(239, 66, 119); font-size: 16px; border-top: 1em solid transparent !important; border-bottom: 1em solid transparent !important;"></section>
							<section style="width: 0px; border-right: 0.6em solid rgb(2, 32, 99); border-top: 0.6em solid rgb(2, 32, 99); border-left: 0.6em solid transparent !important; border-bottom: 0.6em solid transparent !important;"></section>
						</section>
					</section>
					<section style="margin-right: 0%; margin-left: 0%; position: static;">
						<section style="display: inline-block; width: 100%; vertical-align: top; padding-left: 16px; border-width: 0px;">
							<section style="display: inline-block; width: 100%; vertical-align: top; border-left: 2px dashed rgb(160, 160, 160); border-bottom-left-radius: 0px; padding-left: 10px;">
								<section style="margin: 10px 0%; position: static;">
									<section style="text-align: justify; font-size: 14px;">
										内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
									</section>
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>