<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style=" margin-top: 10px; margin-bottom: 10px;  box-sizing: border-box; ">
				<section style="width: 100%; display: inline-block; vertical-align: bottom; box-sizing: border-box;">
					<section style="opacity: 0.7; background-color: rgb(249, 110, 87); padding: 0.2em 0.4em; text-align: center; color: rgb(255, 255, 255); box-sizing: border-box;">
						请输入标题
					</section>
					<section style="width: 0px; float: left; border-right: 5px solid rgb(249, 110, 87); border-top: 3px solid rgb(249, 110, 87); border-left: 5px solid transparent !important; border-bottom: 3px solid transparent !important; box-sizing: border-box;"></section>
					<section style="width: 0px; float: right; border-left: 5px solid rgb(249, 110, 87); border-top: 3px solid rgb(249, 110, 87); border-right: 5px solid transparent !important; border-bottom: 3px solid transparent !important; box-sizing: border-box;"></section>
				</section>
				<section style="border-width: 1px; border-style: solid; border-color: transparent; margin-top: -0.5em; padding: 10px; margin-left: 10px; margin-right: 10px; background-color: rgb(239, 239, 239); box-sizing: border-box;">
					<p style="text-align: left; box-sizing: border-box; text-indent: 2em;">
						请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容请输入内容
					</p>
				</section>
			</section>
		</div>
	</body>

</html>