<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="font-size: 0px;margin: 0px auto;text-align: center;">
					<section style="margin: 0px auto;text-align: center;overflow: hidden;display: inline-block;padding-top: 5px;">
						<section style="display: inline-block;margin: 0px auto;float: left;">
							<p style="margin: 0px auto;font-size: 24px;padding-right: 5px;">
								01
							</p>
						</section>
						<section style="display: inline-block;margin: 0px auto;float: right;">
							<p style="border-bottom: 2px solid #000;margin: 0px auto;text-align: center;display: inline-block;line-height: 1.5;font-size:18px;border-top:1px solid #c9c9c9;clear: none;">
								段落标题
							</p><em style="display: inline-block;width: 6px;height: 6px;border-radius:50%;background-color: #c9c9c9;margin-top: -2px;float: left;"></em><em style="display: inline-block;width: 6px;height: 6px;border-radius:50%;background-color: #c9c9c9;margin-top: -2px;float: right;"></em>
						</section>
					</section>
				</section>
			</section>
			<br />
			<p>
				<img src="../../upload/180417c6f9a6528ef3ed5bb580c9f75490a4e8.jpeg" style="width:100%;margin: 0 auto;" /><br/>
			</p>
			<section class="ue_block">
				<section style="margin: 10px auto;text-align: center;border-top: 3px solid #000;padding: 10px 5px 0px 5px;">
					<section style="background-image: url(../../upload/154027b2e1a14293f19d3a59613f27ecc83a99.png);background-repeat:no-repeat;background-position:right top;font-size: 0px;">
						<section style="background-image: url(../../upload/15402764f3e1a7299fb449ee4ad3409d80a8b4.png);background-repeat:no-repeat;background-position:left top;">
							<section style="border-top: 1px solid #c9c9c9;margin: 0px 3px 0px 4px;">
								<p style="margin: 0px auto; text-align: left; line-height: 1.5; padding: 15px; font-size: 14px; text-indent: 2em;">
									世界公认的汽车发明者是德国人卡尔·佛里特立奇·本茨。他在1885年研制出世界上第一辆马车式三轮汽车，而世界上第一辆汽车的诞生是在1886年1月29日，德国人朱卡尔·本茨和哥德利普·戴姆勒获得了世界上第一辆汽车的专利权，而这一天也被称之为汽车诞生日。对于谁是汽车的发明者，法国人明显是抱有不同看法的。法国人认为，早在德国人之前，法国的戴波梯维尔在1884年就发明了汽车并申请了专利，这确是事实。
								</p>
							</section>
						</section><span style="display: inline-block;width: 100%;height: 1px;background-color: #c9c9c9;"><em style="display: inline-block;width: 6px;height: 6px;border-radius:50%;background-color: #c9c9c9;margin-top: -2px;float: left;"></em><em style="display: inline-block;width: 6px;height: 6px;border-radius:50%;background-color: #c9c9c9;margin-top: -2px;float: right;"></em></span>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>