<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w" style="font-size: 14px;">
			<section style="margin:0px auto;border:1px solid rgb( 220, 220, 220 );margin-bottom:-1px;display:flex;width:100%;padding:20px 15px;box-sizing:border-box;">
				<section style="flex-shrink:1;">
					<p style="margin:0px;">
						35座城市，35个福字设计，爆红网络
					</p>
					<section style="width:100px;margin-top:5px;">
						<img width="100%" src="../../upload/18075081ea07976fd369cdcd22be5610329a32.png" alt="" />
					</section>
				</section>
				<section style="flex-shrink:0;width:110px;margin-left:8px;">
					<img style="width: 100%;position: relative;top: 50%;transform: translateY(-50%);" src="../../upload/180750580ca04e1acb705cd0a661ef05121f95.jpeg" alt="" />
				</section>
			</section>
			<section style="margin:0px auto;border:1px solid rgb( 220, 220, 220 );margin-bottom:-1px;display:flex;width:100%;padding:20px 15px;box-sizing:border-box;">
				<section style="flex-shrink:1;">
					<p style="margin:0px;">
						周杰伦：等你下课的人现在还在你身边吗？
					</p>
					<section style="width:100px;margin-top:5px;">
						<img width="100%" src="../../upload/18075081ea07976fd369cdcd22be5610329a32.png" alt="" />
					</section>
				</section>
				<section style="flex-shrink:0;width:110px;margin-left:8px;">
					<img style="width: 100%;position: relative;top: 50%;transform: translateY(-50%);" src="../../upload/180750580ca04e1acb705cd0a661ef05121f95.jpeg" alt="" />
				</section>
			</section>
			<section style="margin:0px auto;border:1px solid rgb( 220, 220, 220 );margin-bottom:-1px;display:flex;width:100%;padding:20px 15px;box-sizing:border-box;">
				<section style="flex-shrink:1;">
					<p style="margin:0px;">
						华为 8 年女硕士离职感言，值得每个人思考
					</p>
					<section style="width:100px;margin-top:5px;">
						<img width="100%" src="../../upload/18075081ea07976fd369cdcd22be5610329a32.png" alt="" />
					</section>
				</section>
				<section style="flex-shrink: 0; width: 110px; margin-left: 8px; text-align: center;">
					<img style="width: 100%;position: relative;top: 50%;transform: translateY(-50%);" src="../../upload/180750580ca04e1acb705cd0a661ef05121f95.jpeg" alt="" />
				</section>
			</section>
		</div>
	</body>

</html>