<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		
		<div class="w">
			<section style="margin: 10px; box-shadow: rgb(223, 221, 221) 0px 0px 5px; border-radius: 10px; padding: 10px; text-align: center;">
				<section style="display:flex;justify-content:space-between;height:50px;line-height:50px;">
					<p style="margin:0px;font-size:18px;width:40px;text-align:left;color:#333;height:50px;">
						1
					</p>
					<section style="flex:1;border-bottom:1px solid #f7f7f7;display:flex;align-items:center;padding-left:20px;">
						<p style="margin:0px;font-size:18px;text-align:center;color:#666666;">
							小明
						</p>
					</section>
					<p style="margin:0px;font-size:18px;width:60px;text-align:center;color:#ff6905;height:50px;border-bottom:1px solid #f7f7f7;">
						5251
					</p>
				</section>
				<section style="display:flex;justify-content:space-between;height:50px;line-height:50px;">
					<p style="margin:0px;font-size:18px;width:40px;text-align:left;color:#333;height:50px;">
						2
					</p>
					<section style="flex:1;border-bottom:1px solid #f7f7f7;display:flex;align-items:center;padding-left:20px;">
						<p style="margin:0px;font-size:18px;text-align:center;color:#666666;">
							糖宝
						</p>
					</section>
					<p style="margin:0px;font-size:18px;width:60px;text-align:center;color:#ff6905;height:50px;border-bottom:1px solid #f7f7f7;">
						4432
					</p>
				</section>
				<section style="display:flex;justify-content:space-between;height:50px;line-height:50px;">
					<p style="margin:0px;font-size:18px;width:40px;text-align:left;color:#333;height:50px;">
						3
					</p>
					<section style="flex:1;border-bottom:1px solid #f7f7f7;display:flex;align-items:center;padding-left:20px;">
						<p style="margin:0px;font-size:18px;text-align:center;color:#666666;">
							无名
						</p>
					</section>
					<p style="margin:0px;font-size:18px;width:60px;text-align:center;color:#ff6905;height:50px;border-bottom:1px solid #f7f7f7;">
						4215
					</p>
				</section>
				<section style="display:flex;justify-content:space-between;height:50px;line-height:50px;">
					<p style="margin:0px;font-size:18px;width:40px;text-align:left;color:#333;height:50px;">
						4
					</p>
					<section style="flex:1;border-bottom:1px solid #f7f7f7;display:flex;align-items:center;padding-left:20px;">
						<p style="margin:0px;font-size:18px;text-align:center;color:#666666;">
							月歌
						</p>
					</section>
					<p style="margin:0px;font-size:18px;width:60px;text-align:center;color:#ff6905;height:50px;border-bottom:1px solid #f7f7f7;">
						3688
					</p>
				</section>
				<section style="display:flex;justify-content:space-between;height:50px;line-height:50px;">
					<p style="margin:0px;font-size:18px;width:40px;text-align:left;color:#333;height:50px;">
						5
					</p>
					<section style="flex:1;display:flex;align-items:center;padding-left:20px;">
						<p style="margin:0px;font-size:18px;text-align:center;color:#666666;">
							小珍
						</p>
					</section>
					<p style="margin:0px;font-size:18px;width:60px;text-align:center;color:#ff6905;height:50px;">
						2516
					</p>
				</section>
			</section>
		</div>
		
		<div class="w">
			<section style="display: inline-block; width: 100%; border-bottom:1px solid rgb(198,198,199);padding-bottom:5px;">
				<section style="display:inline-block;float: left;width:24%;">
					<section style="display: inline-block;text-align: center;  ">
						<p style="color:#333;font-size:36px;display:inline-block;vertical-align:top;" class="count">
							01
						</p>
						<section style="width: 1px; height:50px;border-left:1px solid rgb(198,198,199);background-color: rgb(254,254,254); transform: rotate(45eg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);display:inline-block;margin-top:22px;"></section>
					</section>
				</section>
				<section style="padding: 5px 0px;display:inline-block;margin-top:15px;width:76%">
					<p style="clear: none; font-size: 14px; line-height: 17px; box-sizing: border-box; padding: 0px; margin: 0px;">
						<span style="color:#A5A5A5;">本期作者：xxxxx</span>
					</p>
				</section>
			</section>
			<section style="margin-top:15px;" data-style="font-size: 14px;line-height: 1.75em;">
				<p style="font-size: 14px;line-height: 1.75em;">
					我们年轻时坚持一些自己认为是正确的东西的时候，总有些长辈，完全是出于善意好心，过来提醒你，告诉你这个社会不像你想的那样，如果你要想怎么样，就必须怎么怎么样。这种话你是不是听过很多次啊？我长大的过程中也不断地听到这种话，我从来都不听，我就一直坚持我年轻时认为是正确的东西。——罗永浩
				</p>
			</section>
		</div>
		
		<div class="w">
			<section style="margin:10px auto;">
				<section style="margin-left: auto; width: 2.5em;">
					<section style="width: 2.5em; border-top: 1px solid rgb(158, 158, 158);"></section>
					<section style="margin-top: -0.5em;margin-left: 2em;height: 1.4em;border-left: 1px solid rgb(158, 158, 158);"></section>
				</section>
				<section style="padding-right: 0.5em; padding-left: 0.5em;">
					<section style="padding: 10px;text-align: center;">
						<p class="brush active" style="font-size: 14px; line-height: 32.4px; text-align: left; color: rgb(51, 51, 51); min-width: 1px;text-indent: 2em;">
							输入文字 输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字输入文字
						</p>
					</section>
				</section>
				<section style="margin-bottom: -0.5em; margin-left: 0.5em; height: 1.4em; border-left: 1px solid rgb(158, 158, 158);"></section>
				<section style="width: 2.5em; border-top: 1px solid rgb(158, 158, 158);"></section>
			</section>
		</div>
		
		
		
		
	</body>

</html>