<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">

			<section style="font-size:0px;">
				<section style="display:flex;justify-content:space-between;align-items:center;font-size:0px;">
					<span style="height:3px;width:80px;background-color:#e33328;"></span><span style="height:3px;width:80px;background-color:#e33328;"></span>
				</section>
				<section style="display:flex;align-items:stretch;">
					<section style="width:3px;background-color:#e33328;flex-shrink:0;"></section>
					<section style="border:1px solid #e33328;flex-shrink:1;padding:15px;margin:-2px 0px;">
						<p style="margin:0px;font-size:15px;color:#333;line-height:1.5;">
							2018年2月27日，十三届全国人大一次会议、全国政协十三届一次会议将分别于2018年3月5日和3月3日在京开幕。设于北京梅地亚中心的“两会”新闻中心正式开始启动，将为境内外记者提供24小时服务。
						</p>
					</section>
					<section style="width:3px;background-color:#e33328;flex-shrink:0;"></section>
				</section>
				<section style="display:flex;justify-content:space-between;align-items:center;font-size:0px;">
					<span style="height:3px;width:80px;background-color:#e33328;"></span><span style="height:3px;width:80px;background-color:#e33328;"></span>
				</section>
			</section>
		</div>
	</body>

</html>