<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block" style="display:flex;align-items:flex-start;margin:10px auto;">
				<section style="border:1px solid #eeeeee;margin-right:25px;width:150px;flex-shrink:0;">
					<section style="margin:6px -6px -6px 6px;">
						<img src="../../upload/17244933eaf8653a8f76317d0b91353611bb69.jpeg" style="max-width:100%;vertical-align:bottom;" />
					</section>
				</section>
				<section>
					<p style="margin:0px;font-size:15px;line-height:1.5;">
						乒乓球，中国国球，是一种世界流行的球类体育项目，包括进攻、对抗和防守。比赛分团体、单打、双打等数种。
					</p>
				</section>
			</section>
		</div>
	</body>

</html>