<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block" style="background-image: url(../../upload/152050b56fc3af59444df3170b4b4b59067bb2.jpeg);padding:12px 20px;background-size:100% auto;max-width:360px !important;width: 100%;height: 245px;margin: 5px auto;text-align: center;background-repeat: no-repeat;box-sizing: border-box;font-size: 16px;">
				<p style="font-size: 20px;margin: 0px auto;">
					××活动通知
				</p>
				<span style="width:100%;height: 2px;background-color: #000;margin-top: 10px;display: block;"></span>
				<span style="width:100%;height: 1px;background-color: #000;margin-top: 2px;display: block;"></span>
				<section style="display: flex;margin-top: 12px;line-height: 1;">
					<p style="margin: 0px 10px 0px 0px;color: #bb4030">
						主题
					</p>
					<p style="margin: 0px;">
						国庆放假哪里玩
					</p>
				</section>
				<section style="display: flex;margin-top: 12px;line-height: 1;">
					<p style="margin: 0px 10px 0px 0px;color: #bb4030">
						时间
					</p>
					<p style="margin: 0px;">
						2017年10月01日
					</p>
				</section>
				<section style="display: flex;margin-top: 12px;line-height: 1;">
					<p style="margin: 0px 10px 0px 0px;color: #bb4030">
						地点
					</p>
					<p style="margin: 0px;">
						四季酒店
					</p>
				</section>
				<section style="display: flex;margin-top: 12px;line-height: 1;">
					<p style="margin: 0px 10px 0px 0px;color: #bb4030">
						人员
					</p>
					<p style="margin: 0px;">
						小组全体
					</p>
				</section>
				<section style="margin-top: 12px;">
					<p style="margin: 0px;height: 35px;line-height: 35px;box-sizing: border-box;background-color: #e7e4da;padding: 0px 10px;border-radius: 3px;text-align: left;">
						附录：带所需物品
					</p>
				</section>
			</section>
		</div>
	</body>

</html>