<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		
		<div class="w">
			<section style="background-image:url(../../upload/170500e297d1e6d31936919c7bf76bbd62dbed.png);background-repeat:no-repeat;background-size:42px auto;background-position:left top;">
				<section style="background-image:url(../../upload/17050050bd7418a16627fea2d36fc124d2916d.png);background-repeat:no-repeat;background-size:42px auto;background-position:right top;">
					<section style="background-image:url(../../upload/1705006928d9523e25faf242ee5f3fc0373670.png);background-repeat:no-repeat;background-size:42px auto;background-position:left bottom;">
						<section style="background-image:url(../../upload/170500dd2838d980d5ac23abf1d093e2ce60fd.png);background-repeat:no-repeat;background-size:42px auto;background-position:right bottom;margin:0px auto;text-align:center;padding: 32px;">
							<section style="margin:0px auto;text-align:center;display:inline-block;padding:5px;border:1px dashed #7e7e7e;">
								<img src="../../upload/170500e96ff21c4b08da4b3ce0962a3ed52e30.jpeg" style="max-width:100%;vertical-align:bottom;" />
							</section>
							<section style="margin-top:20px;">
								<p style="margin:0px;text-align:left;font-size:15px;line-height:1.5;">
									世界知识产权日，由世界知识产权组织于2001年4月26日设立，并决定从2001年起将每年的4月26日定为&quot;世界知识产权日目的是在世界范围内树立尊重知识、崇尚科学和保护知识产权的意识，营造鼓励知识创新的法律环境。
								</p>
							</section>
						</section>
					</section>
				</section>
			</section>
		</div>
		
		<div class="w">
			<section style="width:200px; height:90px; background-image:url(../../upload/wxhb.png); background-repeat:no-repeat; background-size:100% auto; overflow:hidden;">
				<svg width="100%" height="90" xmlns="http://www.w3.org/2000/svg">
					<g style="width:100%;height:100px;box-sizing:border-box;opacity:0;" data-width="100%">
						<rect width="100%" height="300" style="fill:white;box-sizing:border-box;"></rect><text x="50%" y="20" height="30" style="color: rgb(222, 125, 135); text-anchor: middle; font-weight:bold;" fill="#de7d87">你获得了一亿元</text><text x="50%" y="50" height="30" style="color: rgb(222, 125, 135); text-anchor: middle; font-size:14px;" fill="#de7d87">（你的钱包空间已不足，请把</text><text x="50%" y="70" height="30" style="color: rgb(222, 125, 135); text-anchor: middle; font-size:14px;" fill="#de7d87">钱花光以后再来领取。）</text>
						<animate attributeName="opacity" from="0" to="1" begin="click" dur="1s" fill="freeze" style="box-sizing:border-box;" additive="sum"></animate>
					</g>
				</svg>
			</section>
		</div>
		
		<div class="w">
			<section style="width: 100%; margin-right: auto; margin-left: auto;">
				<section style="width: 100%; margin-right: auto; margin-left: auto; padding-top: 20px; padding-bottom: 20px; justify-content: center;">
					<section style="border-width: 10px; border-style: solid; height: auto; ">
						<section style="background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; padding-top: 5px; padding-left: 5px; box-shadow: rgb(35, 35, 36) 2px 2px 5px inset;">
							<section style="width: 100%; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; border: 10px solid rgb(255, 255, 255);box-sizing: border-box;">
								<img style="width: 100%; display: block; vertical-align:top;max-width: 100%;" src="../../upload/11344404b5ded9a0ab7d467b5fc806cd75407f.jpeg" />
							</section>
						</section>
					</section>
				</section>
				<section style="width: 100%;overflow: hidden;">
					<section style="width: 100%; border-top: 2px solid rgb(13, 12, 12);">
						<section style="width: 10px;height: 10px;background-color: rgb(90,100,102);margin-top: 10px;"></section>
						<section style="text-transform: uppercase; margin-left: 15px; margin-top: -12px;">
							<p class="title active" style="font-size: 12px; color: rgb(90, 100, 102); min-width:1px;">
								The picture comes from the network
							</p>
						</section>
					</section>
				</section>
			</section>
		</div>
		
		<div class="w">
			<section style="width: 100%; margin-right: auto; margin-left: auto;">
				<section style="width: 100%; margin-right: auto; margin-left: auto; padding-top: 20px; padding-bottom: 20px;">
					<section style="height: auto;">
						<section style="display:flex;display: -webkit-flex;justify-content: center;-webkit-justify-content: center;">
							<section style="border: 10px solid rgb(255, 255, 255); box-shadow: rgb(85, 85, 85) 1px 1px 10px; margin-right: 4px;">
								<section style="width: 100%;">
									<img style="width: 100%; display: block; vertical-align:top;" src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" />
								</section>
							</section>
							<section style="border: 10px solid rgb(255, 255, 255); box-shadow: rgb(85, 85, 85) 1px 1px 10px; margin-left: 4px;">
								<section style="width: 100%;">
									<img style="width: 100%; display: block; vertical-align:top;" src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" />
								</section>
							</section>
						</section>
						<section style="display:flex;display: -webkit-flex;justify-content: center;-webkit-justify-content: center;margin-top: 10px;">
							<section style="border: 10px solid rgb(255, 255, 255); box-shadow: rgb(85, 85, 85) 1px 1px 10px; margin-right: 4px;">
								<section style="width: 100%;">
									<img style="width: 100%; display: block; vertical-align:top;" src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" />
								</section>
							</section>
							<section style="border: 10px solid rgb(255, 255, 255); box-shadow: rgb(85, 85, 85) 1px 1px 10px; margin-left: 4px;">
								<section style="width: 100%;">
									<img style="width: 100%; display: block; vertical-align:top;" src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" />
								</section>
							</section>
						</section>
					</section>
				</section>
				<section style="width: 100%;height:50px;overflow: hidden;">
					<section style="width: 100%; border-top: 2px solid rgb(13, 12, 12); margin-left: -95px;"></section>
					<section style="width: 10px;height: 10px;background-color: rgb(90,100,102);margin-top: 10px;"></section>
					<section style="text-transform: uppercase; margin-left: 15px; margin-top: -12px; ">
						<p class="title active" style="font-size: 12px; color: rgb(90, 100, 102); min-width:1px;">
							The picture comes from the network
						</p>
					</section>
				</section>
			</section>
		</div>
		
		<div class="w">
			<article style="border: 0px; margin: 5px auto; white-space: normal;">
				<section style="margin:10px auto;padding:15px;text-align:center;width:100%;box-sizing: border-box;">
					<section style="width: 100%; margin:0 auto;">
						<section style="width: 48%; display: inline-block; transform: rotateZ(353.88deg);">
							<section style="margin-top: 5px; margin-bottom: 5px; ">
								<img style="width: 100%; border: 5px solid rgb(255, 255, 255);box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em;height: auto !important;vertical-align:top;" src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" />
							</section>
						</section>
						<section style="width: 48%; display: inline-block; transform: rotateZ(4.45deg);">
							<section style="margin-top: 5px; margin-bottom: 5px;">
								<img style="width: 100%; border: 5px solid rgb(255, 255, 255); box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em; height: auto !important;vertical-align:top;" src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" />
							</section>
						</section>
					</section>
					<section style="width: 100%; margin:0 auto;">
						<section style="width: 48%;display: inline-block;transform: rotateZ(7.25deg);">
							<section style="margin-top: 5px; margin-bottom: 5px; position: static;">
								<img style="vertical-align: top;width: 100%;border: 5px solid rgb(255, 255, 255);box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em;height: auto !important;" src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" />
							</section>
						</section>
						<section style="width: 48%;display: inline-block;transform: rotateZ(349.89deg);">
							<section style="margin-top: 5px; margin-bottom: 5px;">
								<img style="vertical-align: top;width: 100%;border: 5px solid rgb(255, 255, 255);box-shadow: rgb(102, 102, 102) 0.2em 0.2em 0.5em;height: auto !important;" src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" />
							</section>
						</section>
					</section>
				</section>
			</article>
		</div>
		
		<div class="w">
			<section style="margin-top:20px;">
				<section style="margin: 10px 0px; text-align: center;">
					<p style="color: rgb(255,140,0);font-size: 22px;min-width:1px;">
						<span style="color: rgb(127, 127, 127);">对比</span>
					</p>
				</section>
				<section style="width: 100%; overflow: hidden;margin-top: 10px;display: flex;justify-content: space-between;">
					<section style="width: 49%;display: inline-block;vertical-align: top;text-align:center;box-sizing: border-box;">
						<img src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" style="width: 100%;vertical-align: middle;" />
						<p style="font-size: 18px; text-align: center;color: rgb(121,121,121);min-width:1px;">
							图片标题
						</p>
					</section>
					<section style="width: 49%;display: inline-block;vertical-align: top;text-align:center;box-sizing: border-box;">
						<img src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" style="width: 100%;vertical-align: middle;" />
						<p style="font-size: 18px; font-weight: inherit; text-align: center; color: rgb(121,121,121);min-width:1px;">
							图片标题
						</p>
					</section>
				</section>
			</section>
		</div>
		
	</body>

</html>