<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="margin:10px auto;">
					<section style="display:flex;justify-content:space-around;padding: 0px 10px;align-item:flex-end;transform:rotate(0deg)">
						<section style="margin:0px 5px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;overflow:hidden;background-repeat:repeat;border-radius:10px;padding-top:5px;">
							<section style="border-top:2px solid #140a10;background-color:#fff;border-radius:10px;">
								<p style="margin:0px;height:30px;line-height:30px;font-size:18px;text-align:center;">
									新品专区
								</p>
								<section>
									<img src="../../upload/155506ab2cdf376c8b628e5a6b7c50024ca50d.jpeg" style="vertical-align:middle;">
								</section>
							</section>
						</section>
						<section style="margin:0px 5px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;overflow:hidden;background-repeat:repeat;border-radius:10px;padding-top:5px;">
							<section style="border-top:2px solid #140a10;background-color:#fff;border-radius:10px;">
								<p style="margin:0px;height:30px;line-height:30px;font-size:18px;text-align:center;">
									特价专区
								</p>
								<section>
									<img src="../../upload/1555060a2add0ac41bc7b7c25c073ba8f52ff6.jpeg" style="vertical-align:middle;">
								</section>
							</section>
						</section>
						<section style="margin:0px 5px;background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;overflow:hidden;background-repeat:repeat;border-radius:10px;padding-top:5px;">
							<section style="border-top:2px solid #140a10;background-color:#fff;border-radius:10px;">
								<p style="margin:0px;height:30px;line-height:30px;font-size:18px;text-align:center;">
									清仓专区
								</p>
								<section>
									<img src="../../upload/1555065dd11a702e80494d3be13e0ac6c0aad5.jpeg" style="vertical-align:middle;">
								</section>
							</section>
						</section>
					</section>
					<section style="marign:0px auto;text-align:center;margin-top:-17px;">
						<img src="../../upload/1555067f453f1559d30d7d3ae363af2566e73b.png" style="vertical-align:middle;">
					</section>
				</section>
			</section>
		</div>
	</body>

</html>