<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block" style="margin: 20px auto;">
				<section style="background-color: #f8e2bc;">
					<section style="background-image: url(../../upload/194547acc6c1d27702ed9815ea25aef9f63995.png); background-position: top right;background-repeat: no-repeat;background-size: 156px auto;">
						<section style="background-image: url(../../upload/1945474dfd5429982a8fb19cc5185d51be759f.png); background-position: left bottom;background-repeat: no-repeat;background-size: 156px auto;">
							<section style="border: 3px solid #fff;min-height: 216px;">
								<section style="width: 160px;float: left;">
									<section style="width: 160px;height: 231px;padding: 14px 14px 15px 14px;box-sizing: border-box; background-image: url(../../upload/194547a8191cc23fd272a434a59f89b9ac6041.png); background-repeat: no-repeat;background-size: cover;margin-top: -10px;">
										<img src="../../upload/194547df596fd81d7faa0c2da5f5a73e2bbf28.png" style="width: 100%;" />
									</section>
								</section>
								<section style="padding:20px;">
									<p style="font-size: 14px; line-height: 1.5; color: rgb(102, 102, 102); margin: 0px; text-align: justify; clear: none; text-indent: 2em;">
										重阳节，又称重九节、晒秋节、“踏秋”，为每年的农历九月初九日，中国传统节日。庆祝重阳节一般包括出游赏秋、登高远眺、观赏菊花、遍插茱萸、吃重阳糕、饮菊花酒等活动。
									</p>
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>