<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="margin: 0px auto;text-align: center;">
				<section style="display: inline-block;margin: 0px auto;width:80px;">
					<img src="../../upload/152505dc718bc2529a2f2dd9e55474a49220e0.gif" style="max-width:100%;" />
				</section>
			</section>
		</div>
		<div class="w">
			<img src="../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg" style="width: 100%;height: auto;border: none;vertical-align: middle;padding: 5px 0;display: inline-block;width: 100%;box-sizing: border-box;">
		</div>
	</body>

</html>