<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="margin: 10px auto;text-align: center;">
					<section style="margin: 0px auto;text-align: center;width:60%;">
						<img src="../../upload/1555061ec3211e58cfe1d5f5eb7fa2a5e048ef.png" style="max-width: 100% !important;">
					</section>
				</section>
			</section>
		</div>
	</body>

</html>