<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="display:flex;justify-content:center;padding:5px 0px;">
				<span style="display:inline-block;width:12px;height:12px;background-color:#ec8fa0;transform:rotate(45deg);margin-right:15px;"></span><span style="display:inline-block;width:12px;height:12px;background-color:#fec88a;transform:rotate(45deg);margin-right:15px;"></span><span style="display:inline-block;width:12px;height:12px;background-color:#9bc4ff;transform:rotate(45deg);margin-right:15px;"></span>
			</section>
		</div>
	</body>

</html>