<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block" style="border: 0px none; padding: 0px;">
				<section style="position: static; box-sizing: border-box;">
					<section style="margin: 15px 0% 15px; position: static; box-sizing: border-box;display: flex;justify-content: space-around;">
						<section style="display: block; vertical-align: top; width: 49%; box-sizing: border-box;">
							<section style="position: static; box-sizing: border-box;">
								<section style="text-align: center; margin: 0px 0%; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); position: static; box-sizing: border-box;">
									<img style="max-width: 100%; vertical-align: middle; width: 80%; box-sizing: border-box;"  src="../../images/ewm.png" data-ratio="1" data-w="258" _width="80%" />
								</section>
							</section>
						</section>
						<section style="display: block; vertical-align: top; width: 49%; box-sizing: border-box;">
							<section style="position: static; box-sizing: border-box;">
								<section style="text-align: center; margin: 0px 0%; opacity: 0.67; transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -moz-transform: translate3d(0px, 0px, 0px); -o-transform: translate3d(0px, 0px, 0px); position: static; box-sizing: border-box;">
									<img style="width: 90%; height: 90%; opacity: 1; box-sizing: border-box;"  src="../../upload/19051428e3089f5df034d0888c87557d0b15ce.png" data-ratio="0.9066667" data-w="150" _width="70%" data-tools-id="38070" />
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
    	<section style="width: 100%; margin: 0px auto; text-align: center;">
        <img src="../../upload/gg.png" style="margin-right: auto; margin-left: auto;max-width: 100%;"/>
    	</section>
		</div>
	</body>

</html>