<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<p style="color: rgb(62, 62, 62); font-size: 16px; white-space: normal; background-color: rgb(255, 255, 255); text-align: center; line-height: 1.75em;">
				<span style="color: rgb(102, 102, 102); font-size: 14px; letter-spacing: 1px;">
					☟&nbsp;点个&nbsp;&nbsp;
				</span>
				<img src="../../upload/zan.png" style="color: rgb(102, 102, 102); font-size: 14px; letter-spacing: 1px; visibility: visible !important; width: 32px !important;" />
				<span style="color: rgb(102, 102, 102); font-size: 14px; letter-spacing: 1px;">&nbsp; 让我知道你来过~</span>
			</p>
		</div>
	</body>

</html>