<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="w">
		<section class="ue_block">
			<section style="max-width: 80% !important;margin: 10px auto;">
				<img src="../../upload/154027140cf6ff0342bccef308838d3ac5373e.png" style="max-width: 100%;margin: 0px auto;" class="KolImg" />
			</section>
		</section>
		<section class="ue_block">
			<section style="width:180px;height:260px;margin: 10px auto;background-image: url(../../upload/154027794dbb5548a0f6f8971e3ced62f6c4ed.png);background-repeat: no-repeat;background-size: 100%;background-position: center;">
				<section style="width: 140px;height: 140px;margin: 0px auto;" class="checkSelected">
					<img src="../../images/ewm.png" style="width: 100%;margin-top: 30px;border: 1px solid #000;box-sizing: border-box;" class="KolImg" data-tools-id="35020" />
				</section>
			</section>
		</section>
	</div>
</body>
</html>