<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="_editor">
				<section style="padding:5px 10px 20px;background-color:#fffef7;">
					<section style="border-bottom:1px solid #b4b4b4;padding:10px 0px;">
						<section style="display:inline-block;width:72%;vertical-align:middle;" data-width="72%">
							<p style="font-size:14px;paddding:0px;margin:0px;">
								广告内容广告内容广告内容广告内容广告内容广告内容广告内容
							</p>
						</section>
						<section style="display:inline-block;width:25%;vertical-align:middle;line-height:0px !important;" data-width="25%">
							<img src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" data-width="100%" style="width: 100%;" />
						</section>
					</section>
					<section style="border-bottom:1px solid #b4b4b4;padding:10px 0px;">
						<section style="display:inline-block;width:72%;vertical-align:middle;" data-width="72%">
							<p style="font-size:14px;paddding:0px;margin:0px;">
								广告内容广告内容广告内容广告内容广告内容广告内容广告内容
							</p>
						</section>
						<section style="display:inline-block;width:25%;vertical-align:middle;line-height:0px !important;" data-width="25%">
							<img src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" data-width="100%" style="width: 100%;" />
						</section>
					</section>
					<section style="border-bottom:1px solid #b4b4b4;padding:10px 0px;">
						<section style="display:inline-block;width:72%;vertical-align:middle;" data-width="72%">
							<p style="font-size:14px;paddding:0px;margin:0px;">
								广告内容广告内容广告内容广告内容广告内容广告内容广告内容
							</p>
						</section>
						<section style="display:inline-block;width:25%;vertical-align:middle;line-height:0px !important;" data-width="25%">
							<img src="../../upload/113444de8cf06dd994765b98c05e942dc479da.jpeg" data-width="100%" style="width: 100%;" />
						</section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>