<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="background-color: rgb(255, 255, 255); box-sizing: border-box;">
				<section style="position: static; box-sizing: border-box;">
					<section style="margin: 0.5em 0px 0.5em 10px; position: static; box-sizing: border-box;">
						<section style="display: inline-block; vertical-align: top; width: 20%; box-sizing: border-box;">
							<section style="box-sizing: border-box;">
								<section style="text-align: center; position: static; box-sizing: border-box;">
									<section style="max-width: 100%; vertical-align: middle; display: inline-block; overflow: hidden !important; box-sizing: border-box;">
										<img src="../../upload/qSIPiTd9UKfqVovP9XLlA.jpg" style="vertical-align: middle; max-width: 100%; box-sizing: border-box;" />
									</section>
								</section>
							</section>
						</section>
						<section style="display: inline-block; vertical-align: top; width: 70%; padding: 0px 10px; box-sizing: border-box;">
							<section style="box-sizing: border-box;">
								<section style="position: static; box-sizing: border-box;">
									<section style="box-sizing: border-box;">
										<section style="box-sizing: border-box;">
											输入文字输入文字<br style="box-sizing: border-box;" />点击下方<span style="color: rgb(249, 110, 87); box-sizing: border-box;">“阅读原文”</span>查看更多
										</section>
									</section>
								</section>
							</section>
						</section>
						<a href="javascript:;" style="display:block;width: 100%;text-align: left;padding: 5px;color: #0078E4;">阅读全文</a>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>