<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section>
					<section style="height:35px;display:inline-block;border-top:1px solid rgb(0,0,0);border-right:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);padding:0px 8px;font-weight:bold;line-height:35px;vertical-align:middle;">
						MORE
					</section>
					<section style="height:35px;display:inline-block;border-top:1px solid rgb(0,0,0);border-bottom:1px solid rgb(0,0,0);padding:0px 8px;line-height:35px;vertical-align:middle;">
						广告链接
					</section>
					<section style="padding:0px 15px;line-height:2em;">
						<p style="margin:0px;padding:0px;">
							◐◑<span style="color:rgb(79,129,189);font-size:16px;">&emsp;&emsp;<a href="#">广告11广告11广告11广告11</span></a>
						</p>
						<p style="margin:0px;padding:0px;">
							◐◑ <span style="font-size:16px;color:rgb(79,129,189);">&emsp;&emsp;<a href="#">广告11广告11广告11广告11</span></a>
						</p>
						<p style="margin:0px;padding:0px;">
							◐◑ <span style="font-size:16px;color:rgb(79,129,189);">&emsp;&emsp;<a href="#">广告11广告11广告11广告11</span></a>
						</p>
						<p style="margin:0px;padding:0px;">
							◐◑ <span style="font-size:16px;color:rgb(79,129,189);">&emsp;&emsp;<a href="#">广告11广告11广告11广告11</span></a>
						</p>
						<p style="margin:0px;padding:0px;">
							◐◑ <span style="font-size:16px;color:rgb(79,129,189);">&emsp;&emsp;<a href="#">广告11广告11广告11广告11</span></a>
						</p>
					</section>
				</section>
			</section>
			<p></p>
		</div>
	</body>

</html>