<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<style type="text/css">
			img {
				max-width: 100%;
			}
		</style>
	</head>

	<body>

		<div class="w" style="margin-top: 20px;">
			<section style="margin:15px auto;display: flex;width: 100%;">
				<img src="../../upload/160301fa48f554bb0a0863fa9e5eecd1f9a4c3.png" alt="" style="margin:0px auto;" />
			</section>
		</div>

		<div class="w">
			<section style="font-family: Arial; border: 0px none; padding: 0px; color: #319369;">
				<section style="margin: 5px auto;width: 60%;">
					<section style=" margin: 0px; clear: both; box-sizing: border-box; padding: 0px; color: inherit;">
						<section style="color: inherit; float: right; width: 11px; border: 1px solid rgb(117, 117, 118); height: 11px !important;"></section>
						<section style="color: inherit; float: left; width: 11px; border: 1px solid rgb(117, 117, 118); height: 11px !important;"></section>
					</section>
					<section style="margin: 0px; padding: 10px 0px 0px; color: inherit; border-color: rgb(117, 117, 118);">
						<section style="color: inherit; float: right; width: 12px; border: 1px solid rgb(117, 117, 118); margin-right: -1px; height: 11px !important;"></section>
						<section style="color: inherit; float: left; width: 12px; border: 1px solid rgb(117, 117, 118); margin-left: -1px; height: 11px !important;"></section>
					</section>
					<section style="margin: 0px; padding: 10px 0px 0px; color: inherit; border-color: rgb(117, 117, 118);">
						<section style="color: inherit; float: right; width: 12px; border: 1px solid rgb(117, 117, 118); margin-right: -1px; height: 11px !important;"></section>
						<section style="color: inherit; float: left; width: 12px; border: 1px solid rgb(117, 117, 118); margin-left: -1px; height: 11px !important;"></section>
					</section>
				</section>
				<section style="margin-top:-1.2em;text-align:center;padding-left:20px;padding-right:20px;">
					请输入文字
				</section>
			</section>
			<section class="ue_block" style="font-family: Arial; border: 0px none; padding: 0px; color: #319369;">
				<section style="margin:4px 0px 20px;">
					<section style="text-align: center;line-height:0em;">
						<img src="../../upload/1019247fbd36e2e41b696662dcb10b80eff6c9.png" style="margin: 0px;" />
					</section>
					<section style="margin-top:-70px;">
						<p style="text-align: center; line-height: 1.5em;">
							更多精彩
						</p>
						<p style="text-align: center; line-height: 1.5em;">
							MORE
						</p>
					</section>
				</section>
			</section>
		</div>

		<div class="w">
			<section style="width: 100%;">
				<section style="width:100%; text-align:center;">
					<section style="font-size: 16px;font-weight: 550;color: #333">
						<strong>双11二维码</strong>
					</section>
					<section style="color: #ccc;font-size: 12px">
						xxx
					</section>
				</section>
				<section style="width:300px; height:198px; margin:10px auto; box-shadow:0px 2px 5px #666; -moz-box-shadow:0px 2px 5px #666;-ms-box-shadow:0px 2px 5px #666;-o-box-shadow:0px 2px 5px #666;-webkit-box-shadow:0px 2px 5px #666; background: rgb(254,254,254);text-align: center; display:flex; display:-webkit-felx;">
					<section style="width:100px; margin-left:20px;">
						<section style="width: 50px;height: 30px;line-height: 30px;background:#373e4e;color: #fff;margin: 0 0 0 30px">
							XXX
						</section>
						<section style="width:100%; font-size:12px; margin-top:20px;">
							<p style="margin:0px;">
								WELCOME
							</p>
							<p style="margin:0px;">
								TO PANIC
							</p>
							<p style="margin:0px;">
								BUYING
							</p>
							<p style="margin:0px;">
								双11特卖
							</p>
						</section>
						<section style="width:100%;">
							<section style="display: inline-block;line-height:15px;background-color:#373e4e;color: #fff; padding:0px 10px; margin-top:15px; font-size:10px;">
								立即抢购
							</section>
						</section>
					</section>
					<section style="width:120px; padding-top:60px;">
						<section style="width:120px;">
							<img alt="" src="../../images/ewm.png" />
						</section>
					</section>
					<section style="width:10px; padding-top:112px; margin-left:20px;">
						<section style="width:10px;">
							<img src="../../upload/mmbiz.png" style="width:100%; display:block;" />
						</section>
					</section>
				</section>
			</section>
		</div>

		<div class="w">
			<section style="margin-top: 0.5em; margin-bottom: 0.5em;box-sizing: border-box;">
				<section style="background-color:#fbfbfb;padding:10px;">
					<p style="font-family:&#39;Microsoft Yahei&#39;;color:#333;margin:0;padding:10px;">
						<strong>联系我们</strong>
					</p>
					<section style="overflow:hidden;border-bottom:1px solid #ddd;font-size:14px;color:#545454;background-color:#fbfbfb;">
						<span style="background-image:url(../../upload/contact.png);background-position:0 -135px;background-repeat:no-repeat;display:block;width:24px;height:24px;float:left;margin-top:6px;margin-left:10px;"></span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">电话：</span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">155xxxxxxxx</span>
					</section>
					<section style="overflow:hidden;border-bottom:1px solid #ddd;font-size:14px;color:#545454;background-color:#fbfbfb;">
						<span style="background-image:url(../../upload/contact.png);background-position:0 -472px;background-repeat:no-repeat;display:block;width:24px;height:24px;float:left;margin-top:6px;margin-left:10px;"></span><span style="display:block;float:left;margin-left:11px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">QQ：</span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">92*7815*0</span>
					</section>
					<section style="overflow:hidden;border-bottom:1px solid #ddd;font-size:14px;color:#545454;background-color:#fbfbfb;">
						<span style="background-image:url(../../upload/contact.png);background-position:0 0px;background-repeat:no-repeat;display:block;width:24px;height:24px;float:left;margin-top:8px;margin-left:10px;"></span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">微信：</span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">**257815*0</span>
					</section>
					<section style="overflow:hidden;border-bottom:1px solid #ddd;font-size:14px;color:#545454;background-color:#fbfbfb;">
						<span style="background-image:url(../../upload/contact.png);background-position:0 -270px;background-repeat:no-repeat;display:block;width:24px;height:24px;float:left;margin-top:6px;margin-left:10px;"></span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">地址：</span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">xx省xx市xx区xx</span>
					</section>
					<section style="overflow:hidden;border-bottom:1px solid #ddd;font-size:14px;color:#545454;background-color:#fbfbfb;">
						<span style="background-image:url(../../upload/contact.png);background-position:0 -31px;background-repeat:no-repeat;display:block;width:24px;height:24px;float:left;margin-top:6px;margin-left:10px;"></span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">官网：</span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">www.xxxxx.com/</span>
					</section>
					<section style="overflow:hidden;font-size:14px;border-bottom:1px solid #ddd;color:#545454;background-color:#fbfbfb;">
						<span style="background-image:url(../../upload/contact.png);background-position:0 -99px;background-repeat:no-repeat;display:block;width:24px;height:24px;float:left;margin-top:6px;margin-left:10px;"></span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">邮箱：</span><span style="display:block;float:left;margin-left:10px;line-height:38px;font-family:&#39;Microsoft Yahei&#39;;">92***1570@qq.com</span>
					</section>
				</section>
				<section style="width: 0px; height: 0px; clear: both;"></section>
			</section>
		</div>

		<div class="w">
			<section style="margin-top:20px;">
				<section>
					<section style="display:inline-block;min-width:1em;height:40px;background-color: rgb(208, 169, 115); line-height: 40px; vertical-align: middle;padding: 0 10px;">
						<section style="min-width: 1em;height: 40px;font-size: 20px;background-color: rgb(208, 169, 115);line-height: 40px;color:#fff;">
							广告
						</section>
					</section>
					<span style="display:inline-block;width:0;height:0;border:20px solid transparent;border-left-color:rgb(208,169,115);vertical-align: middle;"></span>
				</section>
				<section style="margin-left:30px;border:2px dashed rgb(208,169,115);border-left:none;padding:20px 0;margin-top:-21px;">
					<section style="margin-left:-20px;">
						<p style="color:rgb(6,6,6);">
							<span style="font-size:20px;margin-right:10px;">⊙</span><span style="font-size:14px;">广告广告广告广告广告广告广告</span>
						</p>
						<p style="color:rgb(6,6,6);">
							<span style="font-size:20px;margin-right:10px;">⊙</span><span style="font-size:14px;">广告广告广告广告广告广告广告</span>
						</p>
						<p style="color:rgb(6,6,6);">
							<span style="font-size:20px;margin-right:10px;">⊙</span><span style="font-size:14px;">广告广告广告广告广告广告广告</span>
						</p>
						<p style="color:rgb(6,6,6);">
							<span style="font-size:20px;margin-right:10px;">⊙</span><span style="font-size:14px;">广告广告广告广告广告广告广告</span>
						</p>
						<p style="color:rgb(6,6,6);">
							<span style="font-size:20px;margin-right:10px;">⊙</span><span style="font-size:14px;">广告广告广告广告广告广告广告</span>
						</p>
					</section>
				</section>
			</section>
		</div>
		
		<div class="w">
			<section style="margin-top:20px;">
				<section style="border: 1px dashed rgb(220, 216, 217);margin: 5px 17px;padding: 20px 10px;box-shadow: rgb(200, 200, 200) 0px 0px 4px;">
					<section style="border-color:rgb(216, 40, 33);text-align: center;">
						<p style="color:rgb(121,121,121);font-size:20px;font-weight:bold;min-width:1px;">
							广告标题
						</p>
					</section><br/>
					<p style="text-align: center; line-height: 2em; color: rgb(121, 121, 121); min-width: 1px;">
						<a href="#" target="_self" style="color: #00BEFF;text-decoration: none;">广告内容</a>
					</p>
					<p style="text-align: center; line-height: 2em; color: rgb(121, 121, 121); min-width: 1px;">
						<a href="#" target="_self" style="color: #00BEFF;text-decoration: none;">广告内容</a>
					</p>
					<p style="text-align: center; line-height: 2em; color: rgb(121, 121, 121); min-width: 1px;">
						<a href="#" target="_self" style="color: #00BEFF;text-decoration: none;">广告内容</a>
					</p>
					<p style="text-align: center; line-height: 2em; color: rgb(121, 121, 121); min-width: 1px;">
						<a href="#" target="_self" style="color: #00BEFF;text-decoration: none;">广告内容</a>
					</p>
					<p style="text-align: center; line-height: 2em;color: rgb(121,121,121);min-width:1px;">
						......
					</p>
					<p style="white-space: normal;min-width:1px;">
						<br/>
					</p>
					<section style="display:flex;justify-content: center;margin-bottom:20px;">
						<section style="padding:10px 15px; border: 1px solid rgb(168, 130, 99);">
							<p style="color: rgb(168, 130, 99);font-weight:bold;line-height:20px;min-width:1px;">
								查看全部
							</p>
						</section>
					</section>
				</section>
			</section>
		</div>
		
		<div class="w">
			
		</div>
		
		
		
	</body>

</html>