<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="w">
		<section class="ue_block">
			<section>
				<section style="background-image:url(../../upload/1555055504aa0f02501ab487a016c386300a81.png);background-repeat:no-repeat;width: 250px;height:165px;background-size: 100%;margin: 0px auto;text-align: center;">
					<section style="width: 110px;margin-left:45px;">
						<img src="../../images/ewm.png" style="margin:0px auto;text-align:center;padding-top: 13px;">
					</section>
				</section>
			</section>
		</section>
	</div>
</body>
</html>