<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="w">
		<section class="ue_block">
			<section>
				<section style="line-height:2em;">
					<p style="font-size:15px;color:#80b135;">
						广告· · · · · ·
					</p>
				</section>
				<section style="padding:0px 5px;line-height:1.8em;">
					<p style="font-size:13px;color:#4bacc6;">
						▶&nbsp;链接文本链接文本链接文本链接文本
					</p>
					<p style="font-size:13px;color:#4bacc6;">
						▶ 链接文本链接文本链接文本链接文本
					</p>
					<p style="font-size:13px;color:#4bacc6;">
						▶ 链接文本链接文本链接文本链接文本
					</p>
					<p style="font-size:13px;color:#4bacc6;">
						▶ 链接文本链接文本链接文本链接文本
					</p>
				</section>
			</section>
		</section>
	</div>
</body>
</html>