<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>

		<div class="w">
			<img src="../../upload/141416254312654512312351ac96sada.jpg" style="width: 100%;height: auto;border: none;vertical-align: middle;padding: 5px 1em;display: inline-block;width: 100%;box-sizing: border-box;" />
		</div>

		<div class="w">
			<section style="margin-top:20px;">
				<section style="width:90%;margin:0 auto;">
					<img src="../../upload/141416254312654512312351ac96sada.jpg" style="border-radius:20px;vertical-align: top;width:100%;" />
				</section>
				<section style="text-align:center;margin-top:10px;">
					<p style="font-size: 16px;font-weight:bold; color: rgb(121,121,121);min-width:1px;">
						图片说明
					</p>
				</section>
			</section>
		</div>
		
		<div class="w">
			
		</div>

	</body>

</html>