<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="background-image:url(../../upload/160511936f1b28433ebfdb497780a18b6a3fd6.png);background-repeat:no-repeat;background-size:150px auto;height:64px;background-position:center center;">
        <p style="line-height:64px;text-align:center;font-size:15px;">
    			标题标题标题
        </p>
    	</section>
		</div>
	</body>

</html>