<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="display:flex;justify-content:center;align-items:center;">
        <section style="width:45px;transform: rotate(0deg);margin-right:10px;">
          <img src="../../upload/174620ebe33ae0ebd7306efd141c776fff182d.gif" style="max-width:100%;vertical-align:bottom;"/>
        </section>
        <p style="margin:0px;font-size:18px;">
      		标题标题标题
        </p>
    	</section>
		</div>
	</body>

</html>