<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="border: 3px solid #7880c8; padding: 5px;">
				<section style="border: 1px solid #7880c8; padding:15px; text-align:center;">
					<p class="brush" style="color:rgb(121,121,121);font-family:arial;font-size:14px;">
						<span style="font-size: 16px; font-weight: bold; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;, Arial, sans-serif;">标题</span><br/>
					</p>
				</section>
			</section>
		</div>
	</body>

</html>