<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>

		<div class="w">
			<section style="position: static; box-sizing: border-box;">
				<section  style="text-align: center; margin-top: 10px; margin-bottom: 10px; position: static; box-sizing: border-box;">
					<section  style="display: inline-block; border: 1px solid rgb(249, 110, 87); margin-left: 0.8em; margin-right: 0.8em; padding: 5px; transform: skew(-30deg); -webkit-transform: skew(-30deg); -moz-transform: skew(-30deg); -o-transform: skew(-30deg); box-sizing: border-box;">
						<section style="width: 100%; background-color: rgb(249, 110, 87); box-sizing: border-box;">
							<section  style=" transform: skew(30deg); -webkit-transform: skew(30deg); -moz-transform: skew(30deg); -o-transform: skew(30deg); color: rgb(255, 255, 255); font-size: 17.6px; padding-left: 10px; padding-right: 10px; box-sizing: border-box;">
								<section style="box-sizing: border-box;">
									输入标题
								</section>
							</section>
						</section>
					</section>
				</section>
			</section>
		</div>
		
	</body>

</html>