<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section class="ue_block">
				<section style="margin: 10px auto;text-align: center;font-size: 0px;">
					<span style="display: inline-block;width: 20px;height: 3px;background-color: #fff;transform: rotate(90deg);transform-origin: right bottom;margin-bottom: -14px;"><em style="display: inline-block;width: 6px;height: 6px;border-radius:50%;background-color: #c9c9c9;margin-top: -1px;float: left;"></em><em style="display: inline-block;width: 6px;height: 6px;border-radius:50%;background-color: #c9c9c9;margin-top: -1px;float: right;"></em></span>
					<section style="display: inline-block;margin: 0px auto;text-align: center;font-size: 0px;padding-bottom:5px;border-bottom: 3px solid #000;">
						<p style="display:inline-block;margin: 0px auto;text-align: center;font-size: 24px;height:40px;line-height:40px;padding: 0px 15px;border:1px solid #c9c9c9;">
							标题文本
						</p>
					</section><span style="display: inline-block;width: 20px;height: 3px;background-color: #fff;transform: rotate(90deg);transform-origin: left top;margin-bottom:29px;"><em style="display: inline-block;width: 6px;height: 6px;border-radius:50%;background-color: #c9c9c9;margin-top: -1px;float: left;"></em><em style="display: inline-block;width: 6px;height: 6px;border-radius:50%;background-color: #c9c9c9;margin-top: -1px;float: right;"></em></span>
				</section>
			</section>
		</div>
	</body>

</html>