<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="w">
		<section class="ue_block">
			<section style="display:flex;justify-content:center;align-items:flex-start;">
				<section style="width:80px;margin-right:-10px;transform:rotate(0deg);margin-top: 17px;flex-shrink:0;">
					<img src="../../upload/155506c9637fb0772a7cd845094c0fec362cf0.png" style="vertical-align:middle;">
				</section>
				<section style="flex-shrink:1;">
					<section style="background-image:url(../../upload/155505d0cc53b1170d249a641c9813952276f5.jpeg);border:2px solid #140a10;background-repeat:repeat;border-radius:2px;display:inline-block;">
						<p style="margin:0px;height:35px;line-height:30px;border-radius:2px;border:2px solid #140a10;padding:0px 15px;background-color:#fff;margin:3px 3px -3px -3px;text-align:center;font-size: 18px;">
							精选热销专区
						</p>
					</section>
				</section>
				<section style="width:80px;margin-left:-18px;transform:rotate(0deg);margin-top:25px;flex-shrink:0;">
					<img src="../../upload/15550662225fa0679c5be67631475d2fd29d20.png" style="vertical-align:middle;">
				</section>
			</section>
			<section style="width: 198px;margin:0px auto;text-align:center;margin-top:-18px;padding-left:3px;box-sizing:border-box;">
				<img src="../../upload/155506a44e0cc13e2e3fec2fd36e1787a2bddb.png" style="vertical-align:middle;">
			</section>
		</section>
	</div>
</body>
</html>