<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>

	<body>
		<div class="w">
			<section style="border: 0px none rgb(170, 166, 149); margin: 0.5em 0px; clear: both; box-sizing: border-box; padding: 0px; display: block; height: 50px;">
				<section style="text-align: center; font-size: 1em; font-weight: inherit; text-decoration: inherit; color: rgb(254, 254, 254); border-color: rgb(170, 166, 149); box-sizing: border-box; padding: 0px; margin: 0px; clear: both; background-color: transparent;">
					<section data-bclessp="15%" style="margin: 5px 10px; transform: skew(-20deg); display: inline-block; font-size: 16px; color: inherit; border-color: rgb(204, 202, 191); border-left-width: 10px; border-left-style: solid; border-right-width: 10px; border-right-style: solid; box-sizing: border-box; padding: 0px;">
						<section data-bclessp="8%" style="margin: 0px; display: inline-block; font-size: 16px; color: rgb(255, 255, 255); border-left-width: 10px; border-left-style: solid; border-color: rgb(188, 185, 172); border-right-width: 10px; border-right-style: solid; box-sizing: border-box; padding: 0px; background-color: rgb(170, 166, 149);">
							<span style="box-sizing:border-box; color:inherit; margin:0px; padding:0px"><strong style="border-color: rgb(170, 166, 149); box-sizing: border-box; color: inherit; margin: 0px; padding: 0px;"><span style="transform: skew(20deg); border-color: #AAA695; box-sizing: border-box; color: #FEFEFE; display: inline-block; margin: 0px; padding: 8px 15px;">标题标题标题</span></strong>
							</span>
						</section>
					</section>
					<section style="margin-top: -2em; box-sizing: border-box; color: inherit; padding: 0px;">
						<section style="border-top-width: 2px; border-top-style: solid; width: 35%; float: left; border-color: rgb(170, 166, 149); box-sizing: border-box; color: inherit; padding: 0px; margin: 0px;"></section>
						<section style="border-top-width: 2px; border-top-style: solid; width: 35%; float: right; border-color: rgb(170, 166, 149); box-sizing: border-box; color: inherit; padding: 0px; margin: 0px;"></section>
					</section>
				</section>
			</section>
		</div>
	</body>

</html>