<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>标题</title>
	</head>

	<body>
		<div class="w" style="margin: 20px auto;">
			<section style="margin: 0px auto;text-align: center;">
				<section style="display: inline-block;margin: 0px auto;background-image: url(../../upload/15241099aed06f7b6af0e552e7b2a359064493.gif);background-repeat: no-repeat;width: 60px;height: 60px;background-position: center center;background-size:100% auto;">
					<p style="margin: 0px auto;line-height: 60px;font-size: 18px;font-weight: 600;">
						1
					</p>
				</section>
			</section>
			<section style="margin: 0px auto;text-align: center;">
				<section style="display: inline-block;margin: 0px auto;background-image: url(../../upload/15241099aed06f7b6af0e552e7b2a359064493.gif);background-repeat: no-repeat;width: 60px;height: 60px;background-position: center center;background-size:100% auto;">
					<p style="margin: 0px auto;line-height: 60px;font-size: 18px;font-weight: 600;">
						2
					</p>
				</section>
			</section>
			<section style="margin: 0px auto;text-align: center;">
				<section style="display: inline-block;margin: 0px auto;background-image: url(../../upload/15241099aed06f7b6af0e552e7b2a359064493.gif);background-repeat: no-repeat;width: 60px;height: 60px;background-position: center center;background-size:100% auto;">
					<p style="margin: 0px auto;line-height: 60px;font-size: 18px;font-weight: 600;">
						3
					</p>
				</section>
			</section>
		</div>
	</body>

</html>