<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>角色管理</title>
		<link rel="stylesheet" type="text/css" href="../../css/index.css" />
	</head>
	<body>
		<div class="w">
			<div class="tabGroup">
				<div class="tabTitle clearfix"><span class="tabli onTab">角色管理</span></div>
				<div class="tabBody">
					<div class="tabMain onMain">
						<!--列表详情-->
						<div class="form-inline clearfix mr-b10">
							<div class="clearfix">
								<div class="pull-left clearfix">
									<input class="inputFxheight pull-left mr-r5" placeholder="姓名" type="text">
									<button class="btn btn-fx btn-sure pull-left mr-r5"><i class="fa fa-fw fa-search"></i>搜索</button>
									<button class="btn btn-fx btn-sure pull-left"><i class="fa fa-fw fa-upload"></i>上传</button>
								</div>
								<div class="paginglist pull-right">
									<div>共<i class="text-warning"> 123 </i>条记录</div>
									<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
									<div>跳转</div>
								</div>
							</div>
						</div>
						<div class="mr-b10">
							<table class="table table-bordered table-default table-hover">
								<colgroup>
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col width="16%">
							    <col>
							  </colgroup>
								<thead>
									<tr>
										<th class="text-center">编号</th>
										<th class="text-center">姓名</th>
										<th class="text-center">电话</th>
										<th class="text-center">职位</th>
										<th class="text-center">部门</th>
										<th class="text-center">微信ID号</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center">A00001</td>
										<td class="text-center">三毛</td>
										<td class="text-center">13888888888</td>
										<td class="text-center">董事</td>
										<td class="text-center">董事会</td>
										<td class="text-center">asd888666</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="clearfix">
							<div class="paginglist pull-right">
								<div>共<i class="text-warning"> 123 </i>条记录</div>
								<strong>上一页</strong> <span><small>1</small><em>/</em><small>2</small></span> <strong>下一页</strong> <input type="text" />
								<div>跳转</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/root.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
		</script>
	</body>

</html>